Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

Add support for TII backend (#3797)
  .github/pre-commit/spelling_allowlist.txt
  .github/workflows/integration_tests.yml
  CMakeLists.txt
  docs/sphinx/targets/cpp/tii.cpp
  docs/sphinx/targets/python/tii.py
  docs/sphinx/using/backends/hardware/superconducting.rst
  docs/sphinx/using/backends/qpus.png
  docs/sphinx/using/examples/hardware_providers.rst
  python/tests/backends/test_tii.py
  python/tests/backends/test_tii_mock.py
  runtime/cudaq/platform/default/rest/helpers/CMakeLists.txt
  runtime/cudaq/platform/default/rest/helpers/tii/CMakeLists.txt
  runtime/cudaq/platform/default/rest/helpers/tii/TiiServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/tii/tii.yml
  scripts/validate_pycudaq.sh
  targettests/tii/bug_qubit.cpp
  unittests/backends/CMakeLists.txt
  unittests/backends/tii/CMakeLists.txt
  unittests/backends/tii/TiiStartServerAndTest.sh.in
  unittests/backends/tii/TiiTester.cpp
  utils/mock_qpu/tii/__init__.py
  utils/start_mock_qpu.py
Due: spellcheck-allowlist-sorted

Removed accidently added file and renamed rest_target_run_and_clear to rest_run_clear
  pytest_output.txt
  python/tests/kernel/test_explicit_measurements.py
  python/tests/visualization/test_draw.py
Due: none

* Drop the tests involving `ccx` gate since it is not supported. * Reduce the load on the test server by limiting the number of integration tests.
  .github/workflows/integration_tests.yml
  targettests/scaleway/graph_coloring-1.cpp
  targettests/scaleway/graph_coloring.cpp
Due: none

Clean up job. Remove timeouts.
  .github/workflows/ci_macos.yml
Due: none

moving test_evolve_async_no_intermediate_results out of the test suite in order to avoid seg fault during reset_target
  python/tests/dynamics/test_evolve_async_issue_3678.py
  python/tests/dynamics/test_evolve_simulators.py
Due: none

automatically generate pip NOTICE
  .github/workflows/build_package_sources.yml
  NOTICE
  docker/build/package_sources.Dockerfile
  scripts/generate_pip_attribution.py
Due: none

Adapt hololink wrapper to eagostini/nvqlink immediate-connection API
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_wrapper.h
  realtime/include/cudaq/realtime/hololink_bridge_common.h
  realtime/lib/daemon/bridge/hololink/bridge_impl.cpp
  realtime/lib/daemon/bridge/hololink/hololink_wrapper.cpp
  realtime/lib/daemon/dispatcher/unified_dispatch_kernel.cu
  realtime/unittests/utils/CMakeLists.txt
Due: none

* Incorporate offline feedback - use deduplication id parameter to reduce number of sessions.
  .github/workflows/integration_tests.yml
Due: none

Reverted accidental changes in '.gitignore'
  .gitignore
Due: none

Fix RuntimeError typo and duplicate test function name (#4094)
  python/cudaq/runtime/observe.py
  python/tests/builder/test_qalloc_init_state.py
Due: none

Docs preview for PR #4089.
  pr-4089/api/languages/python_api.html
  pr-4089/api/languages/python_api.md
  pr-4089/applications/python/adapt_qaoa.html
  pr-4089/applications/python/adapt_qaoa.md
  pr-4089/applications/python/adapt_vqe.html
  pr-4089/applications/python/adapt_vqe.md
  pr-4089/applications/python/deutsch_algorithm.html
  pr-4089/applications/python/deutsch_algorithm.md
  pr-4089/applications/python/edge_detection.html
  pr-4089/applications/python/edge_detection.md
  pr-4089/applications/python/grovers.html
  pr-4089/applications/python/grovers.md
  pr-4089/applications/python/qm_mm_pe.html
  pr-4089/applications/python/qm_mm_pe.md
  pr-4089/applications/python/quantum_fourier_transform.html
  pr-4089/applications/python/quantum_fourier_transform.ipynb
  pr-4089/applications/python/quantum_fourier_transform.md
  pr-4089/applications/python/quantum_teleportation.ipynb
  pr-4089/applications/python/quantum_transformer.html
  pr-4089/applications/python/quantum_transformer.md
  pr-4089/applications/python/skqd.html
  pr-4089/applications/python/skqd.md
  pr-4089/examples/python/performance_optimizations.html
  pr-4089/examples/python/performance_optimizations.md
  pr-4089/searchindex.js
Due: markdown-link-check

fix for invalid escape sequence
  docs/sphinx/applications/python/quantum_transformer_src/transformer.py
Due: none

Docs preview for PR #4090.
  pr-4090/api/languages/python_api.html
  pr-4090/api/languages/python_api.md
  pr-4090/applications/python/adapt_qaoa.html
  pr-4090/applications/python/adapt_qaoa.md
  pr-4090/applications/python/adapt_vqe.html
  pr-4090/applications/python/adapt_vqe.md
  pr-4090/applications/python/deutsch_algorithm.html
  pr-4090/applications/python/deutsch_algorithm.md
  pr-4090/applications/python/edge_detection.html
  pr-4090/applications/python/edge_detection.md
  pr-4090/applications/python/grovers.html
  pr-4090/applications/python/grovers.md
  pr-4090/applications/python/qm_mm_pe.html
  pr-4090/applications/python/qm_mm_pe.md
  pr-4090/applications/python/quantum_fourier_transform.html
  pr-4090/applications/python/quantum_fourier_transform.ipynb
  pr-4090/applications/python/quantum_fourier_transform.md
  pr-4090/applications/python/quantum_teleportation.ipynb
  pr-4090/applications/python/quantum_transformer.html
  pr-4090/applications/python/quantum_transformer.md
  pr-4090/applications/python/skqd.html
  pr-4090/applications/python/skqd.md
  pr-4090/examples/python/performance_optimizations.html
  pr-4090/examples/python/performance_optimizations.md
  pr-4090/searchindex.js
Due: markdown-link-check

add apt attribution script
  .github/workflows/build_package_sources.yml
  docker/build/package_sources.Dockerfile
  scripts/generate_apt_attribution.py
Due: none

Docs preview for PR #4097.
  pr-4097/api/languages/python_api.html
  pr-4097/api/languages/python_api.md
  pr-4097/applications/python/adapt_qaoa.html
  pr-4097/applications/python/adapt_qaoa.md
  pr-4097/applications/python/adapt_vqe.html
  pr-4097/applications/python/adapt_vqe.md
  pr-4097/applications/python/deutsch_algorithm.html
  pr-4097/applications/python/deutsch_algorithm.md
  pr-4097/applications/python/edge_detection.html
  pr-4097/applications/python/edge_detection.md
  pr-4097/applications/python/grovers.html
  pr-4097/applications/python/grovers.md
  pr-4097/applications/python/qm_mm_pe.html
  pr-4097/applications/python/qm_mm_pe.md
  pr-4097/applications/python/quantum_fourier_transform.html
  pr-4097/applications/python/quantum_fourier_transform.ipynb
  pr-4097/applications/python/quantum_fourier_transform.md
  pr-4097/applications/python/quantum_teleportation.ipynb
  pr-4097/applications/python/quantum_transformer.html
  pr-4097/applications/python/quantum_transformer.md
  pr-4097/applications/python/skqd.html
  pr-4097/applications/python/skqd.md
  pr-4097/examples/python/performance_optimizations.html
  pr-4097/examples/python/performance_optimizations.md
  pr-4097/searchindex.js
Due: markdown-link-check

make default PR template not commented out by default
  .github/pull_request_template.md
Due: markdown-link-check

remove arrow
  .github/pull_request_template.md
Due: markdown-link-check

remove PR template
  .github/pull_request_template.md
Due: markdown-link-check

[scaleway] [testing] Clean up and reduce load (#4097)
  .github/workflows/integration_tests.yml
  targettests/scaleway/graph_coloring-1.cpp
  targettests/scaleway/graph_coloring.cpp
Due: none

Docs preview for PR #4091.
  pr-4091/api/languages/python_api.html
  pr-4091/api/languages/python_api.md
  pr-4091/applications/python/adapt_qaoa.html
  pr-4091/applications/python/adapt_qaoa.md
  pr-4091/applications/python/adapt_vqe.html
  pr-4091/applications/python/adapt_vqe.md
  pr-4091/applications/python/deutsch_algorithm.html
  pr-4091/applications/python/deutsch_algorithm.md
  pr-4091/applications/python/edge_detection.html
  pr-4091/applications/python/edge_detection.md
  pr-4091/applications/python/grovers.html
  pr-4091/applications/python/grovers.md
  pr-4091/applications/python/qm_mm_pe.html
  pr-4091/applications/python/qm_mm_pe.md
  pr-4091/applications/python/quantum_fourier_transform.html
  pr-4091/applications/python/quantum_fourier_transform.ipynb
  pr-4091/applications/python/quantum_fourier_transform.md
  pr-4091/applications/python/quantum_transformer.html
  pr-4091/applications/python/quantum_transformer.md
  pr-4091/applications/python/skqd.html
  pr-4091/applications/python/skqd.md
  pr-4091/examples/python/performance_optimizations.html
  pr-4091/examples/python/performance_optimizations.md
  pr-4091/searchindex.js
  pr-4091/sphinx/applications/python/quantum_transformer_src/transformer.py
Due: markdown-link-check

ghcr.io/nvidia/cuda-quantum-dev@sha256:67a65c21009701f0012105e69536e255b0abad6badf78664141bd30f242757c3
  deployments/staging/cuda-quantum-dev/67a65c21009701f0012105e69536e255b0abad6badf78664141bd30f242757c3
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:ec9217c52f75f9d24d97d7ff5e6f3b5d997510da87a76b9dce3262da63665730
  deployments/staging/cuda-quantum-dev/ec9217c52f75f9d24d97d7ff5e6f3b5d997510da87a76b9dce3262da63665730
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:caa1c504f645bcd50a67b82e9ebd2a732e39bf6c148ae0e48fa5f4ff62712387
  deployments/staging/cuda-quantum-devdeps/caa1c504f645bcd50a67b82e9ebd2a732e39bf6c148ae0e48fa5f4ff62712387
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:741b0799011df33b9abbaeeb53f1f7e833a64b5e038ddd98265f4c6be4d52483
  deployments/staging/cuda-quantum-devdeps/741b0799011df33b9abbaeeb53f1f7e833a64b5e038ddd98265f4c6be4d52483
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:3da2af61022dc986ef1f274fddcf7c3e829a50d3e5b958ba93fb5196d61ee672
  deployments/staging/cuda-quantum-devdeps/3da2af61022dc986ef1f274fddcf7c3e829a50d3e5b958ba93fb5196d61ee672
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:b84860e856c57543831a64d34c594fe98316525407f7a8a6d0a88bee107b9276
  deployments/staging/cuda-quantum-devdeps/b84860e856c57543831a64d34c594fe98316525407f7a8a6d0a88bee107b9276
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:a04d8f7c665c25256749fc7684888541ba63f32c867065e5d2211aea6c0231cc
  deployments/staging/cuda-quantum-assets/a04d8f7c665c25256749fc7684888541ba63f32c867065e5d2211aea6c0231cc
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:9acc24c8135128c769cc46e9a73e073a254652755d3e5e7c6391bf121e9b6836
  deployments/staging/cuda-quantum-assets/9acc24c8135128c769cc46e9a73e073a254652755d3e5e7c6391bf121e9b6836
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:e1a2293f3df7d76eafbecb16a33e0932d13cf579643eb98d503d764fa1be40fc
  deployments/staging/cuda-quantum-assets/e1a2293f3df7d76eafbecb16a33e0932d13cf579643eb98d503d764fa1be40fc
Due: none

Introducing namespace cudaq_internal
  .gitignore
  CppAPICodingStyle.md
Due: markdown-link-check

* Enabling unitary_compilation_diffusion_models notebook * Due to text serialization roundtrip, NaN/Inf f64 float values may be stored as integer attributes, so reinterpret the integer as float.
  docs/sphinx/applications/python/unitary_compilation_diffusion_models.ipynb
  lib/Optimizer/Transforms/GlobalizeArrayValues.cpp
Due: none

enabling unitary_compilation_diffusion_models notebook
  docs/notebook_validation.py
Due: none
