Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

Support disconnected device topologies in the qubit mapper (#4824)
  cudaq/include/cudaq/Support/Device.h
  cudaq/include/cudaq/Support/Graph.h
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
  cudaq/test/Transforms/mapping_disconnected_components.qke
  cudaq/test/Transforms/mapping_disconnected_components.txt
  cudaq/test/Transforms/mapping_disconnected_ghz.qke
  cudaq/test/Transforms/mapping_disconnected_ghz_errors.qke
  cudaq/test/Transforms/mapping_disconnected_isolated.txt
  cudaq/test/Transforms/mapping_disconnected_isolated_errors.qke
  cudaq/test/Transforms/mapping_disconnected_line.txt
  cudaq/test/Transforms/mapping_disconnected_multipair.qke
  cudaq/test/Transforms/mapping_disconnected_multipair_errors.qke
  cudaq/test/Transforms/mapping_disconnected_multiqubit.qke
  cudaq/test/Transforms/mapping_disconnected_noncontiguous_line.qke
  cudaq/test/Transforms/mapping_disconnected_noncontiguous_line.txt
  cudaq/test/Transforms/mapping_disconnected_noncontiguous_pairs.qke
  cudaq/test/Transforms/mapping_disconnected_noncontiguous_pairs.txt
  cudaq/test/Transforms/mapping_disconnected_packed_components.qke
  cudaq/test/Transforms/mapping_disconnected_packed_components.txt
  cudaq/test/Transforms/mapping_disconnected_packed_islands.qke
  cudaq/test/Transforms/mapping_disconnected_packed_islands.txt
  cudaq/test/Transforms/mapping_disconnected_pair.qke
  cudaq/test/Transforms/mapping_disconnected_pair.txt
  cudaq/test/Transforms/mapping_disconnected_pair_errors.qke
  cudaq/test/Transforms/mapping_disconnected_routing.qke
  cudaq/test/Transforms/mapping_disconnected_singlequbit.qke
  cudaq/test/Transforms/mapping_disconnected_three_islands.qke
  cudaq/test/Transforms/mapping_disconnected_three_islands.txt
  cudaq/test/Transforms/mapping_disconnected_two_pairs.txt
  cudaq/test/Transforms/mapping_invalid_device_topology.qke
  cudaq/test/Transforms/mapping_invalid_device_topology.txt
  cudaq/test/Transforms/mapping_invalid_device_topology_destination.qke
  cudaq/test/Transforms/mapping_invalid_device_topology_destination.txt
  cudaq/test/Transforms/mapping_missing_device_file.qke
  cudaq/test/Transforms/mapping_too_many_qubits.qke
  unittests/Optimizer/DeviceTest.cpp
Due: none

[docs] Document m2d/m2o measurement matrix output for dem_from_kernel (#4839)
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/snippets/cpp/using/examples/dem/dem_from_kernel.cpp
  docs/sphinx/snippets/python/using/examples/dem/dem_from_kernel.py
  docs/sphinx/using/examples/dem_from_kernel.rst
Due: none

Strip detectors and observable ops from hardware emulations (#4895)
  cudaq/lib/Optimizer/Transforms/Pipelines.cpp
  python/tests/analysis/test_dem_from_kernel.py
  targettests/execution/dem_from_kernel_emulate.cpp
Due: none

Expanded mapping support for control flow (#4838)
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
  cudaq/test/Transforms/mapping_errors.qke
  cudaq/test/Transforms/mapping_if.qke
  cudaq/test/Transforms/mapping_loop.qke
Due: none

docs: fix endianness, exp_pauli, observe, spin example (#3341) (#4376)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/examples/cpp/operators.cpp
  docs/sphinx/examples/python/operators.py
  docs/sphinx/using/basics/run_kernel.rst
  docs/sphinx/using/examples/executing_kernels.rst
  docs/sphinx/using/examples/operators.rst
  python/runtime/cudaq/operators/py_spin_op.cpp
Due: spellcheck-allowlist-sorted

[Codegen] Handle `cc.measure_handle` in wire-set to QIR lowering (#4891)
  cudaq/lib/Optimizer/CodeGen/WireSetsToProfileQIR.cpp
  cudaq/test/Transforms/qir_api_measure_handle.qke
  unittests/backends/quake_backend/FakeQuakeServerHelper.cpp
  unittests/backends/quake_backend/QuakeStartServerAndTest.sh.in
  unittests/backends/quake_backend/mock_server.py
  unittests/backends/quake_backend/test_loop_app.cpp
Due: none

Making run_tests.sh user friendly with -j and better OMP_NUM_THREADS support (#4942)
  scripts/run_tests.sh
Due: none

Revert "Reuse vector marshaling for struct marshaling (#4860)"
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/tests/kernel/test_kernel_parameters.py
Due: none

forgot to commit one file in a manual merge
  unittests/Optimizer/CMakeLists.txt
Due: none

Fixed CUDAQ_ENABLE_PYTHON gate for TargetConfig tester
  unittests/target_config/CMakeLists.txt
  unittests/target_config/TargetConfigTester.cpp
Due: none

Restore dem context propagation dropped in the #4756 cherry-pick
  runtime/common/BaseRemoteRESTQPU.h
Due: none

Docs preview for PR #4754.
  pr-4754/applications/python/skqd.html
  pr-4754/applications/python/skqd.md
  pr-4754/examples/python/performance_optimizations.html
  pr-4754/examples/python/performance_optimizations.md
  pr-4754/searchindex.js
Due: markdown-link-check

Docs update triggered by deployment on head branch main, commit 8b33ff8cd92c15d15c518b09aaddaf3288b3fd94.
  latest/applications/python/skqd.html
  latest/applications/python/skqd.md
  latest/examples/python/performance_optimizations.html
  latest/examples/python/performance_optimizations.md
  latest/searchindex.js
Due: markdown-link-check

Fix flaky test (2) (#4951)
  cudaq/lib/Optimizer/Transforms/RegToMem.cpp
Due: none

Make CompileTarget no longer virtual
  cudaq/include/cudaq/Target/CompileTarget.h
  cudaq/lib/Target/CompileTarget.cpp
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  runtime/common/BaseRemoteRESTQPU.h
  runtime/common/ServerHelper.h
  runtime/cudaq/platform/default/rest/helpers/anyon/AnyonServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/iqm/IQMServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/oqc/OQCServerHelp.cpp
  runtime/internal/compiler/JITTargetPipeline.cpp
  unittests/nvqpp/backends/quake_backend/FakeQuakeServerHelper.cpp
  unittests/nvqpp/backends/quake_backend/quake_fake.yml
Due: none

[python] Add CompileTarget bindings in Python
  cudaq/include/cudaq/Target/CompileTarget.h
  cudaq/lib/Target/CompileTarget.cpp
  python/.gitignore
  python/cudaq/_experimental/README.md
  python/cudaq/_experimental/__init__.py
  python/cudaq/_experimental/target.py
  python/extension/CMakeLists.txt
  python/extension/CUDAQuantumExtension.cpp
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/runtime/cudaq/target/py_compile_target.cpp
  python/runtime/cudaq/target/py_compile_target.h
  python/runtime/cudaq/target/py_runtime_target.cpp
  python/tests/utils/test_experimental_compile_target.py
  python/utils/LinkedLibraryHolder.cpp
  python/utils/LinkedLibraryHolder.h
  runtime/cudaq/platform/quantum_platform.h
Due: markdown-link-check

Adding support -E and fixing -MT, -MD, -MF (#4941)
  cudaq/include/cudaq/Frontend/nvqpp/ASTBridge.h
  cudaq/lib/Frontend/nvqpp/ASTBridge.cpp
  cudaq/test/NVQPP/depfile.cpp
  cudaq/test/NVQPP/preprocess.cpp
  cudaq/tools/cudaq-quake/cudaq-quake.cpp
  cudaq/tools/nvqpp/nvq++.in
Due: none

Update realtime HSB doc links
  realtime/docs/building.md
Due: markdown-link-check

Do not pass the invocationResultBuffer for the observe and sample policies (#4952)
  runtime/common/BaseRemoteRESTQPU.h
Due: none

[core] Fix to pass strings with move semantics correctly
  cudaq/lib/Optimizer/Transforms/UnitarySynthesis.cpp
Due: none

[Doc] Update HSB doc links in realtime docs (#4956)
  realtime/docs/building.md
Due: markdown-link-check

[core] Rename the apply-control-negations pass to better reflect what it does: expand-control-negations.
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/CodeGen/ConvertToQIRAPI.cpp
  cudaq/lib/Optimizer/CodeGen/Pipelines.cpp
  cudaq/lib/Optimizer/Transforms/CMakeLists.txt
  cudaq/lib/Optimizer/Transforms/ExpandControlNegations.cpp
  cudaq/lib/Optimizer/Transforms/Pipelines.cpp
Due: none

[core] Fix to pass strings with move semantics correctly (#4957)
  cudaq/lib/Optimizer/Transforms/UnitarySynthesis.cpp
Due: none

Align indexing in draw functions
  runtime/cudaq/algorithms/draw.cpp
  unittests/nvqpp/integration/draw_tester.cpp
Due: none

Works when version is 0.0.0
  cudaq/unittests/plugins/CMakeLists.txt
  cudaq/unittests/plugins/test_external_plugin_target.sh.in
  unittests/target_config/TargetConfigTester.cpp
Due: none

always run dealloc
  cudaq/tools/nvqpp/nvq++.in
  targettests/execution/qubit_reuse_dealloc.cpp
Due: none

[observe] Default observe `shots_count` to -1 to match C++ and async API
  python/cudaq/runtime/observe.py
Due: none

Docs preview for PR #4754.
  pr-4754/api/languages/python_api.html
  pr-4754/api/languages/python_api.md
  pr-4754/applications/python/skqd.html
  pr-4754/applications/python/skqd.md
  pr-4754/examples/python/performance_optimizations.html
  pr-4754/examples/python/performance_optimizations.md
  pr-4754/searchindex.js
Due: markdown-link-check

CI fix
  python/cudaq/runtime/observe.py
Due: none

fix typos
  cmake/modules/AddCUDAQ.cmake
  cudaq/lib/Optimizer/CMakeLists.txt
Due: none

rename file
  cudaq/lib/Optimizer/cudaqMLIR-shlib.cmake
Due: none
