Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

Revert "* Use the new intrinsic in QIR codegen"
  lib/Optimizer/CodeGen/ConvertToQIRAPI.cpp
  test/Transforms/result_array_alloca.qke
Due: none

Apply suggestions from code review
  lib/Optimizer/Transforms/CombineMeasurements.cpp
  runtime/nvqir/QIRTypes.cpp
  runtime/nvqir/QIRTypes.h
Due: none

* Code formatting * Build fix * Use `isConstantQuantumRefType` instead of checking `hasSpecifiedSize`
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Optimizer/Dialect/Quake/CanonicalPatterns.inc
  lib/Optimizer/Transforms/CombineMeasurements.cpp
Due: none

* Also check individual measurement (not just vector) for getting the type
  lib/Optimizer/Transforms/ExpandMeasurements.cpp
Due: none

clang-format
  lib/Optimizer/Dialect/CC/CCOps.cpp
Due: none

[core] Make it a verification error to try and allocate abstract types.
  include/cudaq/Optimizer/Dialect/CC/CCOps.td
  lib/Optimizer/Dialect/CC/CCOps.cpp
  test/Transforms/invalid.qke
Due: none

Add realtime host dispatcher (#4180)
  .github/workflows/realtime_ci.yml
  realtime/CMakeLists.txt
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/include/cudaq/realtime/daemon/dispatcher/dispatch_kernel_launch.h
  realtime/include/cudaq/realtime/daemon/dispatcher/host_dispatcher.h
  realtime/include/cudaq/realtime/daemon/dispatcher/rpc_wire_format.h
  realtime/lib/daemon/CMakeLists.txt
  realtime/lib/daemon/dispatcher/cudaq_realtime_api.cpp
  realtime/lib/daemon/dispatcher/host_dispatcher.cu
  realtime/lib/daemon/dispatcher/host_dispatcher_capi.cu
  realtime/unittests/CMakeLists.txt
  realtime/unittests/test_host_dispatcher.cu
Due: none

Enable ccache for CI builds with GHCR caching (#3960)
  .github/actions/ccache-extract-docker/action.yml
  .github/actions/ccache-push/action.yml
  .github/actions/ccache-restore/action.yml
  .github/actions/ccache-setup/action.yml
  .github/workflows/ci_macos.yml
  .github/workflows/clean_up.yml
  .github/workflows/docker_images.yml
  .github/workflows/prebuilt_binaries.yml
  .github/workflows/python_wheels.yml
  .github/workflows/test_in_devenv.yml
  CMakeLists.txt
  docker/build/assets.Dockerfile
  docker/build/cudaq.dev.Dockerfile
  docker/build/devdeps.Dockerfile
  docker/build/devdeps.manylinux.Dockerfile
  docker/release/cudaq.wheel.Dockerfile
  include/cudaq/Support/CMakeLists.txt
  include/cudaq/Support/Version.h
  python/extension/CMakeLists.txt
  runtime/common/CMakeLists.txt
  runtime/common/Version.cpp.in
  scripts/build_wheel.sh
Due: none

[Realtime][Doc] Port some recent edits to the host API docs (#4172)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/using/realtime/host.md
  realtime/docs/cudaq_realtime_host_api.md
Due: spellcheck-allowlist-sorted, markdown-link-check

Docs preview for PR #4208.
  pr-4208/api/languages/python_api.html
  pr-4208/api/languages/python_api.md
  pr-4208/applications/python/adapt_qaoa.html
  pr-4208/applications/python/adapt_qaoa.md
  pr-4208/applications/python/adapt_vqe.html
  pr-4208/applications/python/adapt_vqe.md
  pr-4208/applications/python/deutsch_algorithm.html
  pr-4208/applications/python/deutsch_algorithm.md
  pr-4208/applications/python/edge_detection.html
  pr-4208/applications/python/edge_detection.md
  pr-4208/applications/python/grovers.html
  pr-4208/applications/python/grovers.md
  pr-4208/applications/python/qm_mm_pe.html
  pr-4208/applications/python/qm_mm_pe.md
  pr-4208/applications/python/quantum_fourier_transform.html
  pr-4208/applications/python/quantum_fourier_transform.ipynb
  pr-4208/applications/python/quantum_fourier_transform.md
  pr-4208/applications/python/skqd.html
  pr-4208/applications/python/skqd.md
  pr-4208/examples/python/performance_optimizations.html
  pr-4208/examples/python/performance_optimizations.md
  pr-4208/notebook_validation.py
  pr-4208/searchindex.js
Due: markdown-link-check

[core] Make it a verification error to try and allocate abstract types. (#4223)
  include/cudaq/Optimizer/Dialect/CC/CCOps.td
  lib/Optimizer/Dialect/CC/CCOps.cpp
  test/Transforms/invalid.qke
Due: none

Docs preview for PR #4223.
  pr-4223/api/languages/python_api.html
  pr-4223/api/languages/python_api.md
  pr-4223/applications/python/adapt_qaoa.html
  pr-4223/applications/python/adapt_qaoa.md
  pr-4223/applications/python/adapt_vqe.html
  pr-4223/applications/python/adapt_vqe.md
  pr-4223/applications/python/deutsch_algorithm.html
  pr-4223/applications/python/deutsch_algorithm.md
  pr-4223/applications/python/edge_detection.html
  pr-4223/applications/python/edge_detection.md
  pr-4223/applications/python/grovers.html
  pr-4223/applications/python/grovers.md
  pr-4223/applications/python/qm_mm_pe.html
  pr-4223/applications/python/qm_mm_pe.md
  pr-4223/applications/python/quantum_fourier_transform.html
  pr-4223/applications/python/quantum_fourier_transform.ipynb
  pr-4223/applications/python/quantum_fourier_transform.md
  pr-4223/applications/python/skqd.html
  pr-4223/applications/python/skqd.md
  pr-4223/examples/python/performance_optimizations.html
  pr-4223/examples/python/performance_optimizations.md
  pr-4223/searchindex.js
Due: markdown-link-check

adding basic skills for cudaq
  .claude/skills/cudaq-guide/SKILL.md
Due: markdown-link-check

update AST bridge to allow aliasing
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/utils.py
  python/tests/kernel/test_module_alias.py
Due: none

Docs preview for PR #4224.
  pr-4224/api/languages/python_api.html
  pr-4224/api/languages/python_api.md
  pr-4224/applications/python/adapt_qaoa.html
  pr-4224/applications/python/adapt_qaoa.md
  pr-4224/applications/python/adapt_vqe.html
  pr-4224/applications/python/adapt_vqe.md
  pr-4224/applications/python/deutsch_algorithm.html
  pr-4224/applications/python/deutsch_algorithm.md
  pr-4224/applications/python/edge_detection.html
  pr-4224/applications/python/edge_detection.md
  pr-4224/applications/python/grovers.html
  pr-4224/applications/python/grovers.md
  pr-4224/applications/python/qm_mm_pe.html
  pr-4224/applications/python/qm_mm_pe.md
  pr-4224/applications/python/quantum_fourier_transform.html
  pr-4224/applications/python/quantum_fourier_transform.ipynb
  pr-4224/applications/python/quantum_fourier_transform.md
  pr-4224/applications/python/skqd.html
  pr-4224/applications/python/skqd.md
  pr-4224/examples/python/performance_optimizations.html
  pr-4224/examples/python/performance_optimizations.md
  pr-4224/searchindex.js
  pr-4224/using/realtime/host.html
Due: markdown-link-check

adding set_target and reset_target calls in dynamic tests
  python/tests/dynamics/integrators/test_evolve_dynamics_torch_integrators.py
  python/tests/dynamics/test_evolve_dynamics.py
Due: none

Apply Hololink patches in CI for HOST_LOOP support
  .github/workflows/realtime_ci.yml
  realtime/scripts/hololink-patches/0003-Allocate-RX-TX-ring-flags-as-CPU_GPU-on-iGPU-for-hos.patch
  realtime/scripts/hololink-patches/0004-Add-set_cpu_ring_buffers-for-HOST_LOOP-dGPU-support.patch
Due: none

Add application hub launchable link
  docs/sphinx/using/applications.rst
Due: none

Adding set_target and reset_target calls in dynamic tests (#4228)
  python/tests/dynamics/integrators/test_evolve_dynamics_torch_integrators.py
  python/tests/dynamics/test_evolve_dynamics.py
Due: none

Improve init performance by. Using gpu count instead of nvidia-smi. Lazy loading python imports.
  python/cudaq/__init__.py
  python/utils/LinkedLibraryHolder.cpp
Due: none

Spellcheck.
  python/cudaq/__init__.py
Due: none

Snapshot sys.modules before iteration to avoid lazy import race.
  python/cudaq/kernel/ast_bridge.py
Due: none

Add unittests and fix some comments.
  python/cudaq/__init__.py
  python/tests/utils/test_lazy_imports.py
  python/utils/LinkedLibraryHolder.cpp
Due: none

Fix gracefull fallback.
  python/cudaq/__init__.py
Due: none

Review.
  python/cudaq/__init__.py
  python/utils/LinkedLibraryHolder.cpp
Due: none
