Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

Serialize and save arguments for comparison when persisting compiler artifacts.
  runtime/common/ExecutionContext.cpp
  runtime/common/ExecutionContext.h
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

Compare kernel names first, fix test case
  python/tests/kernel/test_reuse_compiler.py
  runtime/common/ExecutionContext.cpp
  runtime/common/ExecutionContext.h
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

Fix operator precedence bug in exp_pauli qubit concatenation (#4064)
  python/cudaq/kernel/kernel_builder.py
  python/tests/builder/test_kernel_builder.py
Due: none

* Add `TII` to allowed spellings list (it's the name of the backend) * Minor typo fix * Code review comment `TEST` --> `CUDAQ_TEST`
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/targets/cpp/tii.cpp
  unittests/backends/tii/TiiTester.cpp
Due: spellcheck-allowlist-sorted

check if any qubits were allocated before calling setToZeroState
  runtime/nvqir/CircuitSimulator.h
Due: none

Add doc for the networking plugin interface
  realtime/docs/cudaq_realtime_network_interface.md
Due: markdown-link-check

Docs preview for PR #4061.
  pr-4061/api/languages/python_api.html
  pr-4061/api/languages/python_api.md
  pr-4061/applications/python/adapt_qaoa.html
  pr-4061/applications/python/adapt_qaoa.md
  pr-4061/applications/python/adapt_vqe.html
  pr-4061/applications/python/adapt_vqe.md
  pr-4061/applications/python/deutsch_algorithm.html
  pr-4061/applications/python/deutsch_algorithm.md
  pr-4061/applications/python/edge_detection.html
  pr-4061/applications/python/edge_detection.md
  pr-4061/applications/python/grovers.html
  pr-4061/applications/python/grovers.md
  pr-4061/applications/python/qm_mm_pe.html
  pr-4061/applications/python/qm_mm_pe.md
  pr-4061/applications/python/quantum_fourier_transform.html
  pr-4061/applications/python/quantum_fourier_transform.ipynb
  pr-4061/applications/python/quantum_fourier_transform.md
  pr-4061/applications/python/quantum_teleportation.ipynb
  pr-4061/applications/python/quantum_transformer.html
  pr-4061/applications/python/quantum_transformer.md
  pr-4061/applications/python/skqd.html
  pr-4061/applications/python/skqd.md
  pr-4061/examples/python/performance_optimizations.html
  pr-4061/examples/python/performance_optimizations.md
  pr-4061/examples/python/ptsbe_end_to_end_workflow.html
  pr-4061/examples/python/ptsbe_end_to_end_workflow.ipynb
  pr-4061/examples/python/ptsbe_end_to_end_workflow.md
  pr-4061/searchindex.js
Due: markdown-link-check

tii api-key required:false
  runtime/cudaq/platform/default/rest/helpers/tii/tii.yml
Due: none

Rename nvqlink references to realtime to align with upstream
  realtime/.clang-format
  realtime/CMakeLists.txt
  realtime/README.md
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/include/cudaq/realtime/daemon/dispatcher/dispatch_kernel.cuh
  realtime/include/cudaq/realtime/daemon/dispatcher/dispatch_kernel_launch.h
  realtime/include/cudaq/realtime/daemon/dispatcher/dispatch_modes.h
  realtime/include/cudaq/realtime/daemon/dispatcher/kernel_types.h
  realtime/include/cudaq/realtime/daemon/dispatcher/unified_dispatch_kernel.cuh
  realtime/include/cudaq/realtime/hololink_bridge_common.h
  realtime/lib/CMakeLists.txt
  realtime/lib/daemon/CMakeLists.txt
  realtime/lib/daemon/dispatcher/cudaq_realtime_api.cpp
  realtime/lib/daemon/dispatcher/dispatch_kernel.cu
  realtime/lib/daemon/dispatcher/unified_dispatch_kernel.cu
  realtime/unittests/CMakeLists.txt
  realtime/unittests/test_dispatch_kernel.cu
  realtime/unittests/utils/CMakeLists.txt
  realtime/unittests/utils/hololink_bridge.cpp
  realtime/unittests/utils/hololink_fpga_playback.cpp
  realtime/unittests/utils/init_rpc_increment_function_table.cu
Due: markdown-link-check

clang format
  realtime/unittests/utils/hololink_fpga_playback.cpp
Due: none

Fix segfault in EvolveResult.final_expectation_values() when no observables provided (#4065)
  python/runtime/common/py_EvolveResult.cpp
  python/tests/dynamics/test_evolve_simulators.py
Due: none

putting finalizeExecutionContext back and handling the 0 allocated qubits case in simulator
  python/runtime/common/py_ExecutionContext.cpp
  runtime/nvqir/CircuitSimulator.h
Due: none

[CI] [Quantinuum] Further investigate integration test failure
  .github/workflows/integration_tests.yml
Due: none

adding a guard in measureSpinOp which covers observe path via handleObservation
  runtime/nvqir/CircuitSimulator.h
Due: none

[docs] Incorporating offline feedback
  docs/sphinx/using/examples/examples.rst
  docs/sphinx/using/examples/sample_vs_run.rst
Due: none

skipping sample for 0 allocated qubits as we throw runtime error
  runtime/nvqir/CircuitSimulator.h
Due: none

Docs preview for PR #4066.
  pr-4066/api/languages/python_api.html
  pr-4066/api/languages/python_api.md
  pr-4066/applications/python/adapt_qaoa.html
  pr-4066/applications/python/adapt_qaoa.md
  pr-4066/applications/python/adapt_vqe.html
  pr-4066/applications/python/adapt_vqe.md
  pr-4066/applications/python/deutsch_algorithm.html
  pr-4066/applications/python/deutsch_algorithm.md
  pr-4066/applications/python/edge_detection.html
  pr-4066/applications/python/edge_detection.md
  pr-4066/applications/python/grovers.html
  pr-4066/applications/python/grovers.md
  pr-4066/applications/python/qm_mm_pe.html
  pr-4066/applications/python/qm_mm_pe.md
  pr-4066/applications/python/quantum_fourier_transform.html
  pr-4066/applications/python/quantum_fourier_transform.ipynb
  pr-4066/applications/python/quantum_fourier_transform.md
  pr-4066/applications/python/quantum_teleportation.ipynb
  pr-4066/applications/python/quantum_transformer.html
  pr-4066/applications/python/quantum_transformer.md
  pr-4066/applications/python/skqd.html
  pr-4066/applications/python/skqd.md
  pr-4066/examples/python/performance_optimizations.html
  pr-4066/examples/python/performance_optimizations.md
  pr-4066/searchindex.js
Due: markdown-link-check

Docs preview for PR #4069.
  pr-4069/api/languages/python_api.html
  pr-4069/api/languages/python_api.md
  pr-4069/applications/python/adapt_qaoa.html
  pr-4069/applications/python/adapt_qaoa.md
  pr-4069/applications/python/adapt_vqe.html
  pr-4069/applications/python/adapt_vqe.md
  pr-4069/applications/python/deutsch_algorithm.html
  pr-4069/applications/python/deutsch_algorithm.md
  pr-4069/applications/python/edge_detection.html
  pr-4069/applications/python/edge_detection.md
  pr-4069/applications/python/grovers.html
  pr-4069/applications/python/grovers.md
  pr-4069/applications/python/qm_mm_pe.html
  pr-4069/applications/python/qm_mm_pe.md
  pr-4069/applications/python/quantum_fourier_transform.html
  pr-4069/applications/python/quantum_fourier_transform.ipynb
  pr-4069/applications/python/quantum_fourier_transform.md
  pr-4069/applications/python/quantum_teleportation.ipynb
  pr-4069/applications/python/quantum_transformer.html
  pr-4069/applications/python/quantum_transformer.md
  pr-4069/applications/python/skqd.html
  pr-4069/applications/python/skqd.md
  pr-4069/examples/python/performance_optimizations.html
  pr-4069/examples/python/performance_optimizations.md
  pr-4069/searchindex.js
Due: markdown-link-check

add 'version' to tii params
  runtime/cudaq/platform/default/rest/helpers/tii/tii.yml
Due: none

implemented docstring comments
  runtime/cudaq/platform/default/rest/helpers/tii/TiiServerHelper.cpp
Due: none

DCO Remediation Commit for Stefano Carrazza <stefano.carrazza@gmail.com>
  docs/sphinx/using/backends/hardware/superconducting.rst
Due: none

Avoid segfault in ExecutionContext.__exit__ when kernel throws (#4066)
  python/tests/builder/test_observe.py
  runtime/nvqir/CircuitSimulator.h
Due: none
