Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

Handling of pre-synthesized kernels caught un-synthesized kernels too
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

Docs preview for PR #4265.
  pr-4265/api/languages/python_api.html
  pr-4265/api/languages/python_api.md
  pr-4265/applications/python/adapt_qaoa.html
  pr-4265/applications/python/adapt_qaoa.md
  pr-4265/applications/python/adapt_vqe.html
  pr-4265/applications/python/adapt_vqe.md
  pr-4265/applications/python/deutsch_algorithm.html
  pr-4265/applications/python/deutsch_algorithm.md
  pr-4265/applications/python/edge_detection.html
  pr-4265/applications/python/edge_detection.md
  pr-4265/applications/python/grovers.html
  pr-4265/applications/python/grovers.md
  pr-4265/applications/python/qm_mm_pe.html
  pr-4265/applications/python/qm_mm_pe.md
  pr-4265/applications/python/quantum_fourier_transform.html
  pr-4265/applications/python/quantum_fourier_transform.ipynb
  pr-4265/applications/python/quantum_fourier_transform.md
  pr-4265/applications/python/skqd.html
  pr-4265/applications/python/skqd.md
  pr-4265/examples/python/performance_optimizations.html
  pr-4265/examples/python/performance_optimizations.md
  pr-4265/searchindex.js
Due: markdown-link-check

Fix license check for .svg files
  .licenserc.yaml
Due: none

* Resolve merge conflicts
  python/cudaq/__init__.py
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/kernel_decorator.py
  python/cudaq/kernel/utils.py
  python/cudaq/runtime/run.py
  python/extension/CMakeLists.txt
  python/extension/CUDAQuantumExtension.cpp
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/runtime/cudaq/qis/py_measure_result.cpp
  python/runtime/cudaq/qis/py_measure_result.h
  python/tests/kernel/test_measure_result.py
  python/tests/mlir/bug_1875.py
  python/tests/mlir/target/conditional_run.py
  runtime/internal/compiler/LayoutInfo.cpp
Due: none

Docs preview for PR #4271.
  pr-4271/api/languages/cpp_api.html
  pr-4271/api/languages/cpp_api.md
  pr-4271/api/languages/python_api.html
  pr-4271/api/languages/python_api.md
  pr-4271/applications/python/adapt_qaoa.html
  pr-4271/applications/python/adapt_qaoa.md
  pr-4271/applications/python/adapt_vqe.html
  pr-4271/applications/python/adapt_vqe.md
  pr-4271/applications/python/deutsch_algorithm.html
  pr-4271/applications/python/deutsch_algorithm.md
  pr-4271/applications/python/edge_detection.html
  pr-4271/applications/python/edge_detection.md
  pr-4271/applications/python/grovers.html
  pr-4271/applications/python/grovers.md
  pr-4271/applications/python/qm_mm_pe.html
  pr-4271/applications/python/qm_mm_pe.md
  pr-4271/applications/python/quantum_fourier_transform.html
  pr-4271/applications/python/quantum_fourier_transform.ipynb
  pr-4271/applications/python/quantum_fourier_transform.md
  pr-4271/applications/python/skqd.html
  pr-4271/applications/python/skqd.md
  pr-4271/examples/python/performance_optimizations.html
  pr-4271/examples/python/performance_optimizations.md
  pr-4271/genindex.html
  pr-4271/genindex.md
  pr-4271/objects.inv
  pr-4271/searchindex.js
Due: markdown-link-check

* Spell checker
  python/cudaq/kernel/ast_bridge.py
Due: none

Docs preview for PR #4261.
  pr-4261/api/languages/cpp_api.html
  pr-4261/api/languages/cpp_api.md
  pr-4261/api/languages/python_api.html
  pr-4261/api/languages/python_api.md
  pr-4261/applications/python/adapt_qaoa.html
  pr-4261/applications/python/adapt_qaoa.md
  pr-4261/applications/python/adapt_vqe.html
  pr-4261/applications/python/adapt_vqe.md
  pr-4261/applications/python/deutsch_algorithm.html
  pr-4261/applications/python/deutsch_algorithm.md
  pr-4261/applications/python/edge_detection.html
  pr-4261/applications/python/edge_detection.md
  pr-4261/applications/python/grovers.html
  pr-4261/applications/python/grovers.md
  pr-4261/applications/python/qm_mm_pe.html
  pr-4261/applications/python/qm_mm_pe.md
  pr-4261/applications/python/quantum_fourier_transform.html
  pr-4261/applications/python/quantum_fourier_transform.ipynb
  pr-4261/applications/python/quantum_fourier_transform.md
  pr-4261/applications/python/skqd.html
  pr-4261/applications/python/skqd.md
  pr-4261/examples/python/performance_optimizations.html
  pr-4261/examples/python/performance_optimizations.md
  pr-4261/genindex.html
  pr-4261/genindex.md
  pr-4261/objects.inv
  pr-4261/searchindex.js
Due: markdown-link-check

Fix markdown lint errors and spelling
  realtime/docs/cudaq_realtime_host_api.md
Due: markdown-link-check

Fix off-by-one error
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

Fixed formatting
  runtime/nvqir/cudensitymat/CuDensityMatContext.cpp
  runtime/nvqir/cudensitymat/CuDensityMatSim.cpp
Due: none

Removing unnecessary dependency
  python/runtime/cudaq/dynamics/CMakeLists.txt
Due: none

[Realtime][Doc] Update host API spec with host dispatch path (#4283)
  .licenserc.yaml
  realtime/docs/assets/manager_dispatcher_topology.svg
  realtime/docs/assets/three_kernel_architecture.svg
  realtime/docs/cudaq_realtime_host_api.md
Due: markdown-link-check

Docs preview for PR #4283.
  pr-4283/api/languages/python_api.html
  pr-4283/api/languages/python_api.md
  pr-4283/applications/python/adapt_qaoa.html
  pr-4283/applications/python/adapt_qaoa.md
  pr-4283/applications/python/adapt_vqe.html
  pr-4283/applications/python/adapt_vqe.md
  pr-4283/applications/python/deutsch_algorithm.html
  pr-4283/applications/python/deutsch_algorithm.md
  pr-4283/applications/python/edge_detection.html
  pr-4283/applications/python/edge_detection.md
  pr-4283/applications/python/grovers.html
  pr-4283/applications/python/grovers.md
  pr-4283/applications/python/qm_mm_pe.html
  pr-4283/applications/python/qm_mm_pe.md
  pr-4283/applications/python/quantum_fourier_transform.html
  pr-4283/applications/python/quantum_fourier_transform.ipynb
  pr-4283/applications/python/quantum_fourier_transform.md
  pr-4283/applications/python/skqd.html
  pr-4283/applications/python/skqd.md
  pr-4283/examples/python/performance_optimizations.html
  pr-4283/examples/python/performance_optimizations.md
  pr-4283/searchindex.js
Due: markdown-link-check

Docs preview for PR #4282.
  pr-4282/api/languages/python_api.html
  pr-4282/api/languages/python_api.md
  pr-4282/applications/python/adapt_qaoa.html
  pr-4282/applications/python/adapt_qaoa.md
  pr-4282/applications/python/adapt_vqe.html
  pr-4282/applications/python/adapt_vqe.md
  pr-4282/applications/python/deutsch_algorithm.html
  pr-4282/applications/python/deutsch_algorithm.md
  pr-4282/applications/python/edge_detection.html
  pr-4282/applications/python/edge_detection.md
  pr-4282/applications/python/grovers.html
  pr-4282/applications/python/grovers.md
  pr-4282/applications/python/qm_mm_pe.html
  pr-4282/applications/python/qm_mm_pe.md
  pr-4282/applications/python/quantum_fourier_transform.html
  pr-4282/applications/python/quantum_fourier_transform.ipynb
  pr-4282/applications/python/quantum_fourier_transform.md
  pr-4282/applications/python/skqd.html
  pr-4282/applications/python/skqd.md
  pr-4282/examples/python/performance_optimizations.html
  pr-4282/examples/python/performance_optimizations.md
  pr-4282/searchindex.js
Due: markdown-link-check

Fix CI test failures
  docs/sphinx/examples/cpp/basics/mid_circuit_measurement.cpp
  runtime/nvqir/CircuitSimulator.h
Due: none

Remove unused var
  runtime/cudaq/platform/mqpu/MultiQPUPlatform.cpp
  targettests/lit.cfg.py
Due: none

Refactor CompiledKernel from optional reprs to artifact map
  runtime/common/CompiledKernel.cpp
  runtime/common/CompiledKernel.h
Due: none

Docs preview for PR #4210.
  pr-4210/api/languages/python_api.html
  pr-4210/api/languages/python_api.md
  pr-4210/applications/python/adapt_qaoa.html
  pr-4210/applications/python/adapt_qaoa.md
  pr-4210/applications/python/adapt_vqe.html
  pr-4210/applications/python/adapt_vqe.md
  pr-4210/applications/python/deutsch_algorithm.html
  pr-4210/applications/python/deutsch_algorithm.md
  pr-4210/applications/python/edge_detection.html
  pr-4210/applications/python/edge_detection.md
  pr-4210/applications/python/grovers.html
  pr-4210/applications/python/grovers.md
  pr-4210/applications/python/qm_mm_pe.html
  pr-4210/applications/python/qm_mm_pe.md
  pr-4210/applications/python/quantum_fourier_transform.html
  pr-4210/applications/python/quantum_fourier_transform.ipynb
  pr-4210/applications/python/quantum_fourier_transform.md
  pr-4210/applications/python/skqd.html
  pr-4210/applications/python/skqd.md
  pr-4210/examples/python/performance_optimizations.html
  pr-4210/examples/python/performance_optimizations.md
  pr-4210/searchindex.js
Due: markdown-link-check

Refactor resource metrics to per-arity gate counts and depth tracking.
  .github/pre-commit/spelling_allowlist.txt
  python/runtime/common/py_Resources.cpp
  python/tests/backends/test_circuit_opt_bench.py
  python/tests/builder/test_resource_metrics.py
  runtime/common/Resources.cpp
  runtime/common/Resources.h
Due: spellcheck-allowlist-sorted

Fix skip installer.
  scripts/validate_installation.sh
Due: none

Consolidate two targets.
  python/tests/backends/test_circuit_opt_bench.py
  python/tests/backends/test_circuit_opt_bench_routed.py
  runtime/cudaq/platform/default/CMakeLists.txt
  runtime/cudaq/platform/default/circuit-opt-bench-routed.yml
  runtime/cudaq/platform/default/circuit-opt-bench.yml
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

Fix numQubits to derive from gate data for IR-level resource counting.
  lib/Optimizer/Transforms/ResourceCount.cpp
  python/runtime/common/py_Resources.cpp
  python/tests/builder/test_resource_metrics.py
  runtime/common/Resources.cpp
  runtime/common/Resources.h
  runtime/nvqir/resourcecounter/ResourceCounter.h
Due: none

Fix review findings: multi-qvector index collision, partial resolution fallback, Compiler.cpp error handling, simplify API.
  include/cudaq/Optimizer/Transforms/ResourceCount.h
  lib/Optimizer/Transforms/ResourceCount.cpp
  lib/Optimizer/Transforms/ResourceCountPreprocess.cpp
  python/tests/builder/test_resource_metrics.py
  runtime/cudaq/platform/default/python/QPU.cpp
  runtime/internal/compiler/Compiler.cpp
Due: none

Add circuit opt-bench target and update simulator targets to support pipelines.
  include/cudaq/Support/TargetConfig.h
  lib/Support/Config/TargetConfig.cpp
  python/tests/backends/test_circuit_opt_bench.py
  runtime/cudaq/platform/default/CMakeLists.txt
  runtime/cudaq/platform/default/circuit-opt-bench.yml
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

Fix resource counting for veq-typed control operands (ConcatOp)
  lib/Optimizer/Transforms/ResourceCountPreprocess.cpp
  test/Transforms/resource_count_preprocess.qke
Due: none

Review
  runtime/cudaq/platform/default/circuit-opt-bench.yml
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

spellcheck.
  include/cudaq/Support/TargetConfig.h
Due: none

Fail on unresolvable dynamic veq in resource counting; add getVeqSize helper to look through RelaxSizeOp.
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.h
  lib/Optimizer/Transforms/ResourceCount.cpp
  lib/Optimizer/Transforms/ResourceCountPreprocess.cpp
  test/Transforms/resource_count_preprocess.qke
Due: none

Add IR-level resource counting with qubit index extraction to eliminate JIT for estimate_resources.
  include/cudaq/Optimizer/Transforms/Passes.td
  include/cudaq/Optimizer/Transforms/ResourceCount.h
  lib/Optimizer/Transforms/CMakeLists.txt
  lib/Optimizer/Transforms/ResourceCount.cpp
  lib/Optimizer/Transforms/ResourceCountPreprocess.cpp
  runtime/cudaq/platform/default/python/QPU.cpp
  runtime/internal/compiler/Compiler.cpp
Due: none

Clean up IR-level resource counting: fix qubit index resolution, add dynamic circuit test, remove debug timing.
  include/cudaq/Optimizer/Transforms/ResourceCount.h
  lib/Optimizer/Transforms/ResourceCount.cpp
  lib/Optimizer/Transforms/ResourceCountPreprocess.cpp
  python/tests/builder/test_resource_metrics.py
  runtime/cudaq/platform/default/python/QPU.cpp
  runtime/internal/compiler/Compiler.cpp
Due: none

Add routing target.
  python/tests/backends/test_circuit_opt_bench_routed.py
  runtime/cudaq/platform/default/CMakeLists.txt
  runtime/cudaq/platform/default/circuit-opt-bench-routed.yml
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none
