Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

feat(scaleway): add doc
  unittests/backends/scaleway/ScalewayStartServerAndTest.sh.in
Due: none

[PTSBE] follow up verification fixes (#4028)
  runtime/common/NoiseModel.cpp
  runtime/common/NoiseModel.h
  runtime/cudaq/ptsbe/strategies/ProbabilisticSamplingStrategy.cpp
  unittests/ptsbe/PTSSamplingStrategyTester.cpp
Due: none

DCO Remediation Commit for Valentin Macheret <vmacheret@scaleway.com>
  unittests/backends/scaleway/ScalewayStartServerAndTest.sh.in
Due: none

rename package_source_diff -> build_package_source
  .github/workflows/build_package_sources.yml
Due: none

create new workflow with on push
  .github/workflows/build_package_sources.yml
Due: none

undo unecessary delta
  .github/pre-commit/spellcheck_config.yml
Due: none

Incorporate latest edits plus some more fixes for spell checker
  .github/pre-commit/spelling_allowlist.txt
  realtime/docs/cudaq_realtime_host_api.md
  realtime/docs/cudaq_realtime_message_protocol.md
Due: spellcheck-allowlist-sorted, markdown-link-check

* Fix example so ensure it works in library mode as well (returns `measure_result` not `bool`)
  docs/sphinx/examples/cpp/sample_to_run_migration.cpp
Due: none

remove accidentally added file
  .github/workflows/Untitled
Due: none

Docs preview for PR #4006.
  pr-4006/api/languages/python_api.html
  pr-4006/api/languages/python_api.md
  pr-4006/applications/python/adapt_qaoa.html
  pr-4006/applications/python/adapt_qaoa.md
  pr-4006/applications/python/adapt_vqe.html
  pr-4006/applications/python/adapt_vqe.md
  pr-4006/applications/python/deutsch_algorithm.html
  pr-4006/applications/python/deutsch_algorithm.md
  pr-4006/applications/python/edge_detection.html
  pr-4006/applications/python/edge_detection.md
  pr-4006/applications/python/grovers.html
  pr-4006/applications/python/grovers.md
  pr-4006/applications/python/qm_mm_pe.html
  pr-4006/applications/python/qm_mm_pe.md
  pr-4006/applications/python/quantum_fourier_transform.html
  pr-4006/applications/python/quantum_fourier_transform.ipynb
  pr-4006/applications/python/quantum_fourier_transform.md
  pr-4006/applications/python/quantum_teleportation.ipynb
  pr-4006/applications/python/quantum_transformer.html
  pr-4006/applications/python/quantum_transformer.md
  pr-4006/applications/python/skqd.html
  pr-4006/applications/python/skqd.md
  pr-4006/examples/python/performance_optimizations.html
  pr-4006/examples/python/performance_optimizations.md
  pr-4006/searchindex.js
Due: markdown-link-check

Revert "undo unecessary delta"
  .github/pre-commit/spellcheck_config.yml
Due: none

remove docker README
  docker/release/README.md
Due: markdown-link-check

Revert "Revert "undo unecessary delta""
  .github/pre-commit/spellcheck_config.yml
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:ea6309ed82429438ed38b2e95085f33af46d7cc9a12eff1e0a9d7605ca43f207
  deployments/staging/cuda-quantum-devdeps/ea6309ed82429438ed38b2e95085f33af46d7cc9a12eff1e0a9d7605ca43f207
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:4be68af2b73dae8ea60b88b0af89f04635dc83bba7f2e8b145cb53c1fda764f7
  deployments/staging/cuda-quantum-devdeps/4be68af2b73dae8ea60b88b0af89f04635dc83bba7f2e8b145cb53c1fda764f7
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:3b74e44113ee81c1c2a1deae0bb31b4c1101c08b1bb3ce5a1e70903db9298f86
  deployments/staging/cuda-quantum-devdeps/3b74e44113ee81c1c2a1deae0bb31b4c1101c08b1bb3ce5a1e70903db9298f86
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:03dcb9de1e6de5829a0c853bc850c0def46b2ace2ae41b13037891f2b8fcc077
  deployments/staging/cuda-quantum-assets/03dcb9de1e6de5829a0c853bc850c0def46b2ace2ae41b13037891f2b8fcc077
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:4890354a5c9f385ea5d55c979e9f3237f97cdb1743484c83631be8f113534ad9
  deployments/staging/cuda-quantum-assets/4890354a5c9f385ea5d55c979e9f3237f97cdb1743484c83631be8f113534ad9
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:a7c700fb83ef6ee9037cd175b01843ca3a0a2b947a5d4a3c62b8207d23152ea5
  deployments/staging/cuda-quantum-assets/a7c700fb83ef6ee9037cd175b01843ca3a0a2b947a5d4a3c62b8207d23152ea5
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:4c1f3a940e643b3ace4ad9a6d45115b5c04bb3a04482b98c0d60f49267636b3f
  deployments/staging/cuda-quantum-assets/4c1f3a940e643b3ace4ad9a6d45115b5c04bb3a04482b98c0d60f49267636b3f
Due: none

Docs preview for PR #4017.
  pr-4017/api/languages/python_api.html
  pr-4017/api/languages/python_api.md
  pr-4017/applications/python/adapt_qaoa.html
  pr-4017/applications/python/adapt_qaoa.md
  pr-4017/applications/python/adapt_vqe.html
  pr-4017/applications/python/adapt_vqe.md
  pr-4017/applications/python/deutsch_algorithm.html
  pr-4017/applications/python/deutsch_algorithm.md
  pr-4017/applications/python/edge_detection.html
  pr-4017/applications/python/edge_detection.md
  pr-4017/applications/python/grovers.html
  pr-4017/applications/python/grovers.md
  pr-4017/applications/python/qm_mm_pe.html
  pr-4017/applications/python/qm_mm_pe.md
  pr-4017/applications/python/quantum_fourier_transform.html
  pr-4017/applications/python/quantum_fourier_transform.ipynb
  pr-4017/applications/python/quantum_fourier_transform.md
  pr-4017/applications/python/quantum_teleportation.ipynb
  pr-4017/applications/python/quantum_transformer.html
  pr-4017/applications/python/quantum_transformer.md
  pr-4017/applications/python/skqd.html
  pr-4017/applications/python/skqd.md
  pr-4017/examples/python/performance_optimizations.html
  pr-4017/examples/python/performance_optimizations.md
  pr-4017/searchindex.js
  pr-4017/sphinx/examples/cpp/sample_to_run_migration.cpp
  pr-4017/using/sample_to_run_migration.html
  pr-4017/using/sample_to_run_migration.md
Due: markdown-link-check

More markdown lint fixes
  realtime/docs/cudaq_realtime_host_api.md
  realtime/docs/cudaq_realtime_message_protocol.md
Due: markdown-link-check

Port hololink playback tool to hololink library and fix for real FPGA
  realtime/unittests/utils/CMakeLists.txt
  realtime/unittests/utils/hololink_fpga_playback.cpp
  realtime/unittests/utils/hololink_test.sh
  realtime/unittests/utils/hololink_wrapper.cpp
  realtime/unittests/utils/hololink_wrapper.h
Due: none

A couple more fixes
  .github/pre-commit/spelling_allowlist.txt
  realtime/docs/cudaq_realtime_host_api.md
  realtime/docs/cudaq_realtime_message_protocol.md
Due: spellcheck-allowlist-sorted, markdown-link-check

Docs preview for PR #4030.
  pr-4030/api/languages/python_api.html
  pr-4030/api/languages/python_api.md
  pr-4030/applications/python/adapt_qaoa.html
  pr-4030/applications/python/adapt_qaoa.md
  pr-4030/applications/python/adapt_vqe.html
  pr-4030/applications/python/adapt_vqe.md
  pr-4030/applications/python/deutsch_algorithm.html
  pr-4030/applications/python/deutsch_algorithm.md
  pr-4030/applications/python/edge_detection.html
  pr-4030/applications/python/edge_detection.md
  pr-4030/applications/python/grovers.html
  pr-4030/applications/python/grovers.md
  pr-4030/applications/python/qm_mm_pe.html
  pr-4030/applications/python/qm_mm_pe.md
  pr-4030/applications/python/quantum_fourier_transform.html
  pr-4030/applications/python/quantum_fourier_transform.ipynb
  pr-4030/applications/python/quantum_fourier_transform.md
  pr-4030/applications/python/quantum_teleportation.ipynb
  pr-4030/applications/python/quantum_transformer.html
  pr-4030/applications/python/quantum_transformer.md
  pr-4030/applications/python/skqd.html
  pr-4030/applications/python/skqd.md
  pr-4030/examples/python/performance_optimizations.html
  pr-4030/examples/python/performance_optimizations.md
  pr-4030/searchindex.js
Due: markdown-link-check

Fix spelling in nvqlink_latency_demo.md as well
  .github/pre-commit/spelling_allowlist.txt
  realtime/docs/nvqlink_latency_demo.md
Due: spellcheck-allowlist-sorted, markdown-link-check

Fix linting errors in nvqlink_latency_demo.md
  realtime/docs/nvqlink_latency_demo.md
Due: markdown-link-check

Docs preview for PR #4018.
  pr-4018/api/languages/python_api.html
  pr-4018/api/languages/python_api.md
  pr-4018/applications/python/adapt_qaoa.html
  pr-4018/applications/python/adapt_qaoa.md
  pr-4018/applications/python/adapt_vqe.html
  pr-4018/applications/python/adapt_vqe.md
  pr-4018/applications/python/deutsch_algorithm.html
  pr-4018/applications/python/deutsch_algorithm.md
  pr-4018/applications/python/edge_detection.html
  pr-4018/applications/python/edge_detection.md
  pr-4018/applications/python/grovers.html
  pr-4018/applications/python/grovers.md
  pr-4018/applications/python/qm_mm_pe.html
  pr-4018/applications/python/qm_mm_pe.md
  pr-4018/applications/python/quantum_fourier_transform.html
  pr-4018/applications/python/quantum_fourier_transform.ipynb
  pr-4018/applications/python/quantum_fourier_transform.md
  pr-4018/applications/python/quantum_teleportation.ipynb
  pr-4018/applications/python/quantum_transformer.html
  pr-4018/applications/python/quantum_transformer.md
  pr-4018/applications/python/skqd.html
  pr-4018/applications/python/skqd.md
  pr-4018/examples/python/performance_optimizations.html
  pr-4018/examples/python/performance_optimizations.md
  pr-4018/searchindex.js
Due: markdown-link-check

* Skip the new example on remote simulator for the same reason as https://github.com/NVIDIA/cuda-quantum/issues/3792
  scripts/validate_installation.sh
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:f9c816011f6955367c70cafa5280122e49447c46319a0f5b4efffa11f3bb48bf
  deployments/staging/cuda-quantum-dev/f9c816011f6955367c70cafa5280122e49447c46319a0f5b4efffa11f3bb48bf
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:453b14912df4755b5b6338363bd53c5c5ce8eaa9e09942e9d6a65aa996745de5
  deployments/staging/cuda-quantum-dev/453b14912df4755b5b6338363bd53c5c5ce8eaa9e09942e9d6a65aa996745de5
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
