Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

Attempt to reduce cmake cache drift locations.
  .github/workflows/ci_macos.yml
  .github/workflows/dev_environment_macos.yml
Due: none

[core] Consolidate all the various QIR verifiers into 1 library. (#4061)
  include/cudaq/Optimizer/CodeGen/Passes.h
  include/cudaq/Optimizer/CodeGen/Passes.td
  include/cudaq/Optimizer/CodeGen/QIROpaqueStructTypes.h
  include/cudaq/Verifier/NVQIRCalls.h
  include/cudaq/Verifier/QIRLLVMIRDialect.h
  include/cudaq/Verifier/QIRSpec.h
  lib/Optimizer/CodeGen/CMakeLists.txt
  lib/Optimizer/CodeGen/ConvertToQIRProfile.cpp
  lib/Optimizer/CodeGen/Pipelines.cpp
  lib/Optimizer/CodeGen/VerifyNVQIRCalls.cpp
  lib/Verifier/CMakeLists.txt
  lib/Verifier/NVQIRCalls.cpp
  lib/Verifier/QIRLLVMIRDialect.cpp
  lib/Verifier/QIRSpec.cpp
  python/extension/CMakeLists.txt
  runtime/common/CMakeLists.txt
  runtime/common/CodeGenConfig.h
  runtime/common/JIT.cpp
  runtime/common/RuntimeMLIR.cpp
  runtime/common/RuntimeMLIR.h
  runtime/cudaq/platform/default/python/QPU.cpp
  runtime/cudaq/platform/default/rest_server/CMakeLists.txt
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteServer.cpp
  test/Translate/base_profile_verify.qke
  test/Translate/nvqir-errors.qke
  tools/cudaq-translate/CMakeLists.txt
  tools/cudaq-translate/cudaq-translate.cpp
  unittests/CMakeLists.txt
  unittests/qir/NVQIRVerify.cpp
Due: none

Add errors for misuse of `reuse_compiler_artifact` (#4067)
  python/runtime/common/py_ExecutionContext.cpp
  python/tests/kernel/test_reuse_compiler.py
  runtime/common/ExecutionContext.cpp
  runtime/common/ExecutionContext.h
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

* Skip this new target in validation step since it is remote.
  scripts/validate_pycudaq.sh
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:241457532c9ac95115319888261ae3674ca5339a779ad089949e329888c16478
  deployments/staging/cuda-quantum-dev/241457532c9ac95115319888261ae3674ca5339a779ad089949e329888c16478
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:9b70ecb7f159be0b114edbfa16e653b94fe072a09d6c507b75a0262d2781fe07
  deployments/staging/cuda-quantum-dev/9b70ecb7f159be0b114edbfa16e653b94fe072a09d6c507b75a0262d2781fe07
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:b97063754f97d1811055f482447f28f1ce252b2a020832916104d6bdbc5e74d3
  deployments/staging/cuda-quantum-devdeps/b97063754f97d1811055f482447f28f1ce252b2a020832916104d6bdbc5e74d3
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:e235b2ec7a81376fd70251f8371cbb682e6493349ac2cbe77b613edec6587e07
  deployments/staging/cuda-quantum-devdeps/e235b2ec7a81376fd70251f8371cbb682e6493349ac2cbe77b613edec6587e07
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:c95b1122e355f8f0f70d60990316f7dca55b93ec1b9966cc9bebb19156f19ea5
  deployments/staging/cuda-quantum-devdeps/c95b1122e355f8f0f70d60990316f7dca55b93ec1b9966cc9bebb19156f19ea5
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:4f674d12c28ab99d64a996530fc5018f3bb6d57644e26abfc764b6564065a1dd
  deployments/staging/cuda-quantum-devdeps/4f674d12c28ab99d64a996530fc5018f3bb6d57644e26abfc764b6564065a1dd
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:2fe97a4b44889786dffd7a445830604b5200ac228327c72c95e513f7e42d9b09
  deployments/staging/cuda-quantum-assets/2fe97a4b44889786dffd7a445830604b5200ac228327c72c95e513f7e42d9b09
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:e35c208015872cef0546b703585d9bd7353e3b3eeee22079f226b20ca312d673
  deployments/staging/cuda-quantum-assets/e35c208015872cef0546b703585d9bd7353e3b3eeee22079f226b20ca312d673
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:7aa072e429352b267049ecd0c239358bcb2d4634bf7852e6a30a0b0632401b10
  deployments/staging/cuda-quantum-assets/7aa072e429352b267049ecd0c239358bcb2d4634bf7852e6a30a0b0632401b10
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:9d84f00a93a9afcf16afee63336342c0ae200e8f4f0f504dde4ab7d13e925134
  deployments/staging/cuda-quantum-assets/9d84f00a93a9afcf16afee63336342c0ae200e8f4f0f504dde4ab7d13e925134
Due: none

Docs preview for PR #4058.
  pr-4058/api/languages/python_api.html
  pr-4058/api/languages/python_api.md
  pr-4058/applications/python/adapt_qaoa.html
  pr-4058/applications/python/adapt_qaoa.md
  pr-4058/applications/python/adapt_vqe.html
  pr-4058/applications/python/adapt_vqe.md
  pr-4058/applications/python/deutsch_algorithm.html
  pr-4058/applications/python/deutsch_algorithm.md
  pr-4058/applications/python/edge_detection.html
  pr-4058/applications/python/edge_detection.md
  pr-4058/applications/python/grovers.html
  pr-4058/applications/python/grovers.md
  pr-4058/applications/python/qm_mm_pe.html
  pr-4058/applications/python/qm_mm_pe.md
  pr-4058/applications/python/quantum_fourier_transform.html
  pr-4058/applications/python/quantum_fourier_transform.ipynb
  pr-4058/applications/python/quantum_fourier_transform.md
  pr-4058/applications/python/quantum_teleportation.ipynb
  pr-4058/applications/python/quantum_transformer.html
  pr-4058/applications/python/quantum_transformer.md
  pr-4058/applications/python/skqd.html
  pr-4058/applications/python/skqd.md
  pr-4058/examples/python/performance_optimizations.html
  pr-4058/examples/python/performance_optimizations.md
  pr-4058/searchindex.js
Due: markdown-link-check

Cache key the ci file too. Add a test job for round-tripping.
  .github/workflows/ci_macos.yml
  .github/workflows/dev_environment_macos.yml
Due: none

Fix missing numpy
  .github/workflows/dev_environment_macos.yml
Due: none

Work on realtime docs
  realtime/README.md
  realtime/docs/building.md
  realtime/docs/user_guide.md
Due: markdown-link-check

Get the installer build running for testing
  .github/workflows/realtime_ci.yml
Due: none

Docs preview for PR #4089.
  pr-4089/api/languages/python_api.html
  pr-4089/api/languages/python_api.md
  pr-4089/applications/python/adapt_qaoa.html
  pr-4089/applications/python/adapt_qaoa.md
  pr-4089/applications/python/adapt_vqe.html
  pr-4089/applications/python/adapt_vqe.md
  pr-4089/applications/python/deutsch_algorithm.html
  pr-4089/applications/python/deutsch_algorithm.md
  pr-4089/applications/python/edge_detection.html
  pr-4089/applications/python/edge_detection.md
  pr-4089/applications/python/grovers.html
  pr-4089/applications/python/grovers.md
  pr-4089/applications/python/qm_mm_pe.html
  pr-4089/applications/python/qm_mm_pe.md
  pr-4089/applications/python/quantum_fourier_transform.html
  pr-4089/applications/python/quantum_fourier_transform.ipynb
  pr-4089/applications/python/quantum_fourier_transform.md
  pr-4089/applications/python/quantum_teleportation.ipynb
  pr-4089/applications/python/quantum_transformer.html
  pr-4089/applications/python/quantum_transformer.md
  pr-4089/applications/python/skqd.html
  pr-4089/applications/python/skqd.md
  pr-4089/examples/python/performance_optimizations.html
  pr-4089/examples/python/performance_optimizations.md
  pr-4089/searchindex.js
Due: markdown-link-check

Docs preview for PR #4083.
  pr-4083/api/languages/python_api.html
  pr-4083/api/languages/python_api.md
  pr-4083/applications/python/adapt_qaoa.html
  pr-4083/applications/python/adapt_qaoa.md
  pr-4083/applications/python/adapt_vqe.html
  pr-4083/applications/python/adapt_vqe.md
  pr-4083/applications/python/deutsch_algorithm.html
  pr-4083/applications/python/deutsch_algorithm.md
  pr-4083/applications/python/edge_detection.html
  pr-4083/applications/python/edge_detection.md
  pr-4083/applications/python/grovers.html
  pr-4083/applications/python/grovers.md
  pr-4083/applications/python/qm_mm_pe.html
  pr-4083/applications/python/qm_mm_pe.md
  pr-4083/applications/python/quantum_fourier_transform.html
  pr-4083/applications/python/quantum_fourier_transform.ipynb
  pr-4083/applications/python/quantum_fourier_transform.md
  pr-4083/applications/python/quantum_teleportation.ipynb
  pr-4083/applications/python/quantum_transformer.html
  pr-4083/applications/python/quantum_transformer.md
  pr-4083/applications/python/skqd.html
  pr-4083/applications/python/skqd.md
  pr-4083/examples/python/performance_optimizations.html
  pr-4083/examples/python/performance_optimizations.md
  pr-4083/examples/python/ptsbe_end_to_end_workflow.html
  pr-4083/examples/python/ptsbe_end_to_end_workflow.ipynb
  pr-4083/examples/python/ptsbe_end_to_end_workflow.md
  pr-4083/searchindex.js
Due: markdown-link-check

Add support for TII backend (#3797)
  .github/pre-commit/spelling_allowlist.txt
  .github/workflows/integration_tests.yml
  CMakeLists.txt
  docs/sphinx/targets/cpp/tii.cpp
  docs/sphinx/targets/python/tii.py
  docs/sphinx/using/backends/hardware/superconducting.rst
  docs/sphinx/using/backends/qpus.png
  docs/sphinx/using/examples/hardware_providers.rst
  python/tests/backends/test_tii.py
  python/tests/backends/test_tii_mock.py
  runtime/cudaq/platform/default/rest/helpers/CMakeLists.txt
  runtime/cudaq/platform/default/rest/helpers/tii/CMakeLists.txt
  runtime/cudaq/platform/default/rest/helpers/tii/TiiServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/tii/tii.yml
  scripts/validate_pycudaq.sh
  targettests/tii/bug_qubit.cpp
  unittests/backends/CMakeLists.txt
  unittests/backends/tii/CMakeLists.txt
  unittests/backends/tii/TiiStartServerAndTest.sh.in
  unittests/backends/tii/TiiTester.cpp
  utils/mock_qpu/tii/__init__.py
  utils/start_mock_qpu.py
Due: spellcheck-allowlist-sorted

enabling gpu target if available
  docs/sphinx/applications/python/afqmc.ipynb
  docs/sphinx/applications/python/bernstein_vazirani.ipynb
  docs/sphinx/applications/python/cost_minimization.ipynb
  docs/sphinx/applications/python/hadamard_test.ipynb
  docs/sphinx/applications/python/hybrid_quantum_neural_networks.ipynb
  docs/sphinx/applications/python/krylov.ipynb
  docs/sphinx/applications/python/logical_aim_sqale.ipynb
  docs/sphinx/applications/python/qaoa.ipynb
  docs/sphinx/applications/python/quantum_teleportation.ipynb
  docs/sphinx/applications/python/quantum_transformer.ipynb
  docs/sphinx/applications/python/quantum_volume.ipynb
  docs/sphinx/applications/python/readout_error_mitigation.ipynb
  docs/sphinx/applications/python/shors.ipynb
  docs/sphinx/applications/python/vqe_advanced.ipynb
Due: none

Add more docs and validate script
  realtime/docs/user_guide.md
  realtime/scripts/build_installer.sh
  realtime/scripts/migrate_assets.sh
  realtime/scripts/validate_installer.sh
  realtime/unittests/utils/CMakeLists.txt
  realtime/unittests/utils/hololink_test.sh
  realtime/unittests/utils/hololink_wrapper.cpp
Due: markdown-link-check

Temp fix to get the installer build for testing
  .github/workflows/realtime_ci.yml
  realtime/scripts/install_dev_prerequisites.sh
Due: none

Fix softlink
  realtime/unittests/utils/hololink_wrapper.cpp
Due: none

Fix CI
  realtime/scripts/install_dev_prerequisites.sh
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
