Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

Docs preview for PR #3960.
  pr-3960/api/languages/python_api.html
  pr-3960/api/languages/python_api.md
  pr-3960/applications/python/adapt_qaoa.html
  pr-3960/applications/python/adapt_qaoa.md
  pr-3960/applications/python/adapt_vqe.html
  pr-3960/applications/python/adapt_vqe.md
  pr-3960/applications/python/deutsch_algorithm.html
  pr-3960/applications/python/deutsch_algorithm.md
  pr-3960/applications/python/edge_detection.html
  pr-3960/applications/python/edge_detection.md
  pr-3960/applications/python/grovers.html
  pr-3960/applications/python/grovers.md
  pr-3960/applications/python/qm_mm_pe.html
  pr-3960/applications/python/qm_mm_pe.md
  pr-3960/applications/python/quantum_fourier_transform.ipynb
  pr-3960/applications/python/quantum_teleportation.ipynb
  pr-3960/applications/python/quantum_transformer.html
  pr-3960/applications/python/quantum_transformer.md
  pr-3960/applications/python/skqd.html
  pr-3960/applications/python/skqd.md
  pr-3960/examples/python/performance_optimizations.html
  pr-3960/examples/python/performance_optimizations.md
  pr-3960/searchindex.js
Due: markdown-link-check

Docs preview for PR #4006.
  pr-4006/api/languages/python_api.html
  pr-4006/api/languages/python_api.md
  pr-4006/applications/python/adapt_qaoa.html
  pr-4006/applications/python/adapt_qaoa.md
  pr-4006/applications/python/adapt_vqe.html
  pr-4006/applications/python/adapt_vqe.md
  pr-4006/applications/python/deutsch_algorithm.html
  pr-4006/applications/python/deutsch_algorithm.md
  pr-4006/applications/python/edge_detection.html
  pr-4006/applications/python/edge_detection.md
  pr-4006/applications/python/grovers.html
  pr-4006/applications/python/grovers.md
  pr-4006/applications/python/qm_mm_pe.html
  pr-4006/applications/python/qm_mm_pe.md
  pr-4006/applications/python/quantum_fourier_transform.html
  pr-4006/applications/python/quantum_fourier_transform.ipynb
  pr-4006/applications/python/quantum_fourier_transform.md
  pr-4006/applications/python/quantum_teleportation.ipynb
  pr-4006/applications/python/quantum_transformer.html
  pr-4006/applications/python/quantum_transformer.md
  pr-4006/applications/python/skqd.html
  pr-4006/applications/python/skqd.md
  pr-4006/examples/python/performance_optimizations.html
  pr-4006/examples/python/performance_optimizations.md
  pr-4006/searchindex.js
Due: markdown-link-check

Fix publishing failure for notebooks (#4007)
  docs/sphinx/applications/python/digitized_counterdiabatic_qaoa.ipynb
  docs/sphinx/applications/python/divisive_clustering_coresets.ipynb
  docs/sphinx/applications/python/vqe_advanced.ipynb
Due: none

Docs preview for PR #3995.
  pr-3995/api/languages/python_api.html
  pr-3995/api/languages/python_api.md
  pr-3995/applications/python/adapt_qaoa.html
  pr-3995/applications/python/adapt_qaoa.md
  pr-3995/applications/python/adapt_vqe.html
  pr-3995/applications/python/adapt_vqe.md
  pr-3995/applications/python/deutsch_algorithm.html
  pr-3995/applications/python/deutsch_algorithm.md
  pr-3995/applications/python/edge_detection.html
  pr-3995/applications/python/edge_detection.md
  pr-3995/applications/python/grovers.html
  pr-3995/applications/python/grovers.md
  pr-3995/applications/python/qm_mm_pe.html
  pr-3995/applications/python/qm_mm_pe.md
  pr-3995/applications/python/quantum_fourier_transform.html
  pr-3995/applications/python/quantum_fourier_transform.ipynb
  pr-3995/applications/python/quantum_fourier_transform.md
  pr-3995/applications/python/quantum_teleportation.ipynb
  pr-3995/applications/python/quantum_transformer.html
  pr-3995/applications/python/quantum_transformer.md
  pr-3995/applications/python/skqd.html
  pr-3995/applications/python/skqd.md
  pr-3995/examples/python/performance_optimizations.html
  pr-3995/examples/python/performance_optimizations.md
  pr-3995/examples/python/ptsbe_end_to_end_workflow.ipynb
  pr-3995/searchindex.js
Due: markdown-link-check

Fixing zero-shot truncation in shot allocation via multinomial sampling
  runtime/cudaq/ptsbe/ShotAllocationStrategy.cpp
  runtime/cudaq/ptsbe/ShotAllocationStrategy.h
  unittests/ptsbe/ShotAllocationTester.cpp
Due: none

Fix CI checks for new markdown docs
  .github/pre-commit/spelling_allowlist.txt
  realtime/README.md
  realtime/docs/cudaq_realtime_host_api.md
  realtime/docs/cudaq_realtime_message_protocol.md
Due: spellcheck-allowlist-sorted, markdown-link-check

[python] Captured args are resolved in kernel definition scope
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/kernel_builder.py
  python/cudaq/kernel/kernel_decorator.py
  python/cudaq/kernel/utils.py
  python/cudaq/runtime/draw.py
  python/cudaq/runtime/observe.py
  python/cudaq/runtime/resource_count.py
  python/cudaq/runtime/run.py
  python/cudaq/runtime/sample.py
  python/cudaq/runtime/state.py
  python/cudaq/runtime/translate.py
  python/cudaq/runtime/unitary.py
  python/tests/builder/test_kernel_builder.py
  python/tests/kernel/test_assignments.py
  python/tests/kernel/test_deferred_compilation.py
  python/tests/kernel/test_supported.py
Due: none

feat(scaleway): update doc headers
  runtime/cudaq/platform/default/rest/helpers/scaleway/ScalewayServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/scaleway/qaas/V1Alpha1Client.cpp
  runtime/cudaq/platform/default/rest/helpers/scaleway/qio/Base64.cpp
  runtime/cudaq/platform/default/rest/helpers/scaleway/qio/Compression.cpp
  runtime/cudaq/platform/default/rest/helpers/scaleway/qio/QuantumComputationModel.cpp
  runtime/cudaq/platform/default/rest/helpers/scaleway/qio/QuantumComputationParameters.cpp
  runtime/cudaq/platform/default/rest/helpers/scaleway/qio/QuantumProgram.cpp
  runtime/cudaq/platform/default/rest/helpers/scaleway/qio/QuantumProgramResult.cpp
Due: none

feat(scaleway): update doc
  docs/sphinx/using/backends/cloud/scaleway.rst
Due: none

feat(scaleway): update qpus imgs
  docs/sphinx/using/backends/qpus.png
Due: none

feat(scaleway): update qpus doc
  docs/sphinx/using/backends/cloud/scaleway.rst
Due: none

Docs preview for PR #4005.
  pr-4005/api/languages/python_api.html
  pr-4005/api/languages/python_api.md
  pr-4005/applications/python/adapt_qaoa.html
  pr-4005/applications/python/adapt_qaoa.md
  pr-4005/applications/python/adapt_vqe.html
  pr-4005/applications/python/adapt_vqe.md
  pr-4005/applications/python/deutsch_algorithm.html
  pr-4005/applications/python/deutsch_algorithm.md
  pr-4005/applications/python/edge_detection.html
  pr-4005/applications/python/edge_detection.md
  pr-4005/applications/python/grovers.html
  pr-4005/applications/python/grovers.md
  pr-4005/applications/python/qm_mm_pe.html
  pr-4005/applications/python/qm_mm_pe.md
  pr-4005/applications/python/quantum_fourier_transform.html
  pr-4005/applications/python/quantum_fourier_transform.ipynb
  pr-4005/applications/python/quantum_fourier_transform.md
  pr-4005/applications/python/quantum_teleportation.ipynb
  pr-4005/applications/python/quantum_transformer.html
  pr-4005/applications/python/quantum_transformer.md
  pr-4005/applications/python/skqd.html
  pr-4005/applications/python/skqd.md
  pr-4005/examples/python/performance_optimizations.html
  pr-4005/examples/python/performance_optimizations.md
  pr-4005/searchindex.js
Due: markdown-link-check

make a new workflow for source diff
  .github/workflows/deployments.yml
  .github/workflows/docker_images.yml
  .github/workflows/package_source_diff.yml
  docker/build/package_sources.Dockerfile
  docker/release/cudaq-src.Dockerfile
  scripts/clone_tpls_from_lock.sh
  scripts/diff_image_packages.sh
  scripts/generate_tpls_lock.sh
Due: none

allow workflow to be ran
  .github/workflows/package_source_diff.yml
Due: none

including standard c lib
  runtime/cudaq/ptsbe/ShotAllocationStrategy.h
Due: none

hardcode container values for debugging before workflow is in main
  .github/workflows/package_source_diff.yml
Due: none

also on: push:
  .github/workflows/package_source_diff.yml
Due: none

hardcode requirements
  .github/workflows/package_source_diff.yml
Due: none

modify entrypoint for docker run
  scripts/diff_image_packages.sh
Due: none

fixing pr_cleanup to run daily via dedicated cron schedule
  .github/workflows/clean_up.yml
Due: none

Docs preview for PR #4012.
  pr-4012/api/languages/python_api.html
  pr-4012/api/languages/python_api.md
  pr-4012/applications/python/adapt_qaoa.html
  pr-4012/applications/python/adapt_qaoa.md
  pr-4012/applications/python/adapt_vqe.html
  pr-4012/applications/python/adapt_vqe.md
  pr-4012/applications/python/deutsch_algorithm.html
  pr-4012/applications/python/deutsch_algorithm.md
  pr-4012/applications/python/edge_detection.html
  pr-4012/applications/python/edge_detection.md
  pr-4012/applications/python/grovers.html
  pr-4012/applications/python/grovers.md
  pr-4012/applications/python/qm_mm_pe.html
  pr-4012/applications/python/qm_mm_pe.md
  pr-4012/applications/python/quantum_fourier_transform.html
  pr-4012/applications/python/quantum_fourier_transform.ipynb
  pr-4012/applications/python/quantum_fourier_transform.md
  pr-4012/applications/python/quantum_teleportation.ipynb
  pr-4012/applications/python/quantum_transformer.html
  pr-4012/applications/python/quantum_transformer.md
  pr-4012/applications/python/skqd.html
  pr-4012/applications/python/skqd.md
  pr-4012/examples/python/performance_optimizations.html
  pr-4012/examples/python/performance_optimizations.md
  pr-4012/examples/python/ptsbe_end_to_end_workflow.ipynb
  pr-4012/searchindex.js
Due: markdown-link-check

remove allowlist
  docker/build/package_sources.Dockerfile
Due: none

Docs preview for PR #3992.
  pr-3992/api/languages/python_api.html
  pr-3992/api/languages/python_api.md
  pr-3992/applications/python/adapt_qaoa.html
  pr-3992/applications/python/adapt_qaoa.md
  pr-3992/applications/python/adapt_vqe.html
  pr-3992/applications/python/adapt_vqe.md
  pr-3992/applications/python/deutsch_algorithm.html
  pr-3992/applications/python/deutsch_algorithm.md
  pr-3992/applications/python/edge_detection.html
  pr-3992/applications/python/edge_detection.md
  pr-3992/applications/python/grovers.html
  pr-3992/applications/python/grovers.md
  pr-3992/applications/python/qm_mm_pe.html
  pr-3992/applications/python/qm_mm_pe.md
  pr-3992/applications/python/quantum_fourier_transform.html
  pr-3992/applications/python/quantum_fourier_transform.ipynb
  pr-3992/applications/python/quantum_fourier_transform.md
  pr-3992/applications/python/quantum_teleportation.ipynb
  pr-3992/applications/python/quantum_transformer.html
  pr-3992/applications/python/quantum_transformer.md
  pr-3992/applications/python/skqd.html
  pr-3992/applications/python/skqd.md
  pr-3992/examples/python/performance_optimizations.html
  pr-3992/examples/python/performance_optimizations.md
  pr-3992/searchindex.js
Due: markdown-link-check

paralellize apt/pip/tpls pulls; add prefix lines to stdout
  docker/build/package_sources.Dockerfile
Due: none

fixing modulemissing failure by removing mpi4py from the book and NumPy 2.0 incompatibility in Voronoi tessellation
  docs/sphinx/applications/python/divisive_clustering_coresets.ipynb
  docs/sphinx/applications/python/divisive_clustering_src/divisive_clustering.py
Due: none

use target_image tag_suffix
  .github/workflows/package_source_diff.yml
Due: none

paralellize pip
  .github/workflows/package_source_diff.yml
  docker/build/package_sources.Dockerfile
Due: none

Fixing pr_cleanup job (#4015)
  .github/workflows/clean_up.yml
Due: none

temporary debug
  .github/workflows/package_source_diff.yml
  docker/build/package_sources.Dockerfile
Due: none

update repo owner and failed packages logs
  .github/workflows/Untitled
  .github/workflows/package_source_diff.yml
  docker/build/package_sources.Dockerfile
Due: none

Fixing ModuleNotFoundError error (#4016)
  docs/sphinx/applications/python/divisive_clustering_coresets.ipynb
  docs/sphinx/applications/python/divisive_clustering_src/divisive_clustering.py
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
