Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

Add macOS python readme/quick start sections.
  docs/sphinx/using/quick_start.rst
  python/README.md.in
  scripts/validate_pycudaq.sh
Due: none

Revert wording.
  docs/sphinx/using/quick_start.rst
Due: none

Minor update.
  docs/sphinx/using/quick_start.rst
Due: none

Remove bold.
  docs/sphinx/using/quick_start.rst
Due: none

Remove and.
  python/README.md.in
Due: none

Clarify conda.
  python/README.md.in
Due: none

Simplify venv language.
  python/README.md.in
Due: none

add flag to run publishing after deployments
  .github/workflows/deployments.yml
  .github/workflows/publishing.yml
Due: none

change to default false
  .github/workflows/deployments.yml
Due: none

Docs preview for PR #4098.
  pr-4098/api/languages/python_api.html
  pr-4098/api/languages/python_api.md
  pr-4098/applications/python/adapt_qaoa.html
  pr-4098/applications/python/adapt_qaoa.md
  pr-4098/applications/python/adapt_vqe.html
  pr-4098/applications/python/adapt_vqe.md
  pr-4098/applications/python/deutsch_algorithm.html
  pr-4098/applications/python/deutsch_algorithm.md
  pr-4098/applications/python/edge_detection.html
  pr-4098/applications/python/edge_detection.md
  pr-4098/applications/python/grovers.html
  pr-4098/applications/python/grovers.md
  pr-4098/applications/python/qm_mm_pe.html
  pr-4098/applications/python/qm_mm_pe.md
  pr-4098/applications/python/quantum_fourier_transform.html
  pr-4098/applications/python/quantum_fourier_transform.ipynb
  pr-4098/applications/python/quantum_fourier_transform.md
  pr-4098/applications/python/quantum_transformer.html
  pr-4098/applications/python/quantum_transformer.md
  pr-4098/applications/python/skqd.html
  pr-4098/applications/python/skqd.md
  pr-4098/examples/python/performance_optimizations.html
  pr-4098/examples/python/performance_optimizations.md
  pr-4098/searchindex.js
Due: markdown-link-check

Create executeKernel function in PythonLauncher
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

[python] Support C++ callable in builder
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/kernel_builder.py
  python/cudaq/kernel/kernel_signature.py
  python/tests/interop/test_interop.py
Due: none

Revert to previous local package install.
  scripts/validate_pycudaq.sh
Due: none

Some more doc adjustments
  realtime/docs/building.md
  realtime/docs/nvqlink_latency_demo.md
  realtime/docs/user_guide.md
Due: markdown-link-check

Fix CI
  .github/pre-commit/spelling_allowlist.txt
  realtime/docs/building.md
  realtime/scripts/install_dev_prerequisites.sh
Due: spellcheck-allowlist-sorted, markdown-link-check

* Incorporating feedback from review and discussion: - entry-point kernels cannot return `measure_result` or a vector of it - use snake_case for public APIs
  docs/sphinx/examples/cpp/basics/mid_circuit_measurement.cpp
  docs/sphinx/examples/cpp/measuring_kernels.cpp
  docs/sphinx/examples/cpp/sample_to_run_migration.cpp
  lib/Frontend/nvqpp/ASTBridge.cpp
  lib/Optimizer/Builder/Factory.cpp
  lib/Optimizer/Builder/Marshal.cpp
  lib/Optimizer/CodeGen/ReturnToOutputLog.cpp
  lib/Optimizer/Dialect/CC/CCOps.cpp
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  runtime/common/ServerHelper.h
  runtime/cudaq/qis/measure_result.h
  targettests/execution/auto_kernel.cpp
  targettests/execution/conditional_run.cpp
  targettests/execution/cudaq_run.cpp
  targettests/execution/cudaq_run_emulation.cpp
  test/AST-Quake/auto_kernel-1.cpp
  test/AST-Quake/auto_kernel-2.cpp
  test/AST-Quake/measure_result_assign.cpp
  test/AST-Quake/measure_result_compare.cpp
  test/AST-Quake/measure_result_device_entry.cpp
  test/AST-Quake/mz.cpp
  test/AST-error/run_struct_of_measure_result.cpp
Due: none

Throw exception when qvector state init exceeds 10 qubits
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_kernel_qvector_state_init.py
Due: none

[ci] [quantinuum] Increase the max cost to allow running comprehensive test (#4133)
  .github/workflows/integration_tests.yml
  targettests/quantinuum_ng/sample_grover.cpp
Due: none

Minor update to the user guide after validation
  realtime/docs/user_guide.md
  realtime/scripts/install_dev_prerequisites.sh
  realtime/scripts/migrate_assets.sh
Due: markdown-link-check

Split realtime installer into a separate workflow - we will use this in deployment as well
  .github/workflows/realtime_ci.yml
  .github/workflows/realtime_prebuilt_binaries.yml
Due: none

running docformatter
  python/cudaq/kernel/ast_bridge.py
Due: none

Add cudaq realtime installers to publishing
  .github/workflows/publishing.yml
Due: none

[Realtime] Public CI with HSB 2.6 EA (#4131)
  .github/pre-commit/spelling_allowlist.txt
  .github/workflows/publishing.yml
  .github/workflows/realtime_ci.yml
  .github/workflows/realtime_prebuilt_binaries.yml
  realtime/CMakeLists.txt
  realtime/docker/assets.Dockerfile
  realtime/docs/building.md
  realtime/docs/nvqlink_latency_demo.md
  realtime/docs/user_guide.md
  realtime/lib/daemon/bridge/hololink/CMakeLists.txt
  realtime/lib/daemon/bridge/hololink/bridge_impl.cpp
  realtime/scripts/install_dev_prerequisites.sh
  realtime/scripts/migrate_assets.sh
  realtime/unittests/utils/CMakeLists.txt
Due: spellcheck-allowlist-sorted, markdown-link-check

Fix Publishing CI yml
  .github/workflows/publishing.yml
Due: none

Docs preview for PR #4127.
  pr-4127/api/languages/python_api.html
  pr-4127/api/languages/python_api.md
  pr-4127/applications/python/adapt_qaoa.html
  pr-4127/applications/python/adapt_qaoa.md
  pr-4127/applications/python/adapt_vqe.html
  pr-4127/applications/python/adapt_vqe.md
  pr-4127/applications/python/deutsch_algorithm.html
  pr-4127/applications/python/deutsch_algorithm.md
  pr-4127/applications/python/edge_detection.html
  pr-4127/applications/python/edge_detection.md
  pr-4127/applications/python/grovers.html
  pr-4127/applications/python/grovers.md
  pr-4127/applications/python/qm_mm_pe.html
  pr-4127/applications/python/qm_mm_pe.md
  pr-4127/applications/python/quantum_fourier_transform.html
  pr-4127/applications/python/quantum_fourier_transform.ipynb
  pr-4127/applications/python/quantum_fourier_transform.md
  pr-4127/applications/python/quantum_transformer.html
  pr-4127/applications/python/quantum_transformer.md
  pr-4127/applications/python/skqd.html
  pr-4127/applications/python/skqd.md
  pr-4127/examples/python/performance_optimizations.html
  pr-4127/examples/python/performance_optimizations.md
  pr-4127/searchindex.js
Due: markdown-link-check
