Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

Clang format
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
Due: none

Docs preview for PR #4105.
  pr-4105/api/languages/python_api.html
  pr-4105/api/languages/python_api.md
  pr-4105/applications/python/adapt_qaoa.html
  pr-4105/applications/python/adapt_qaoa.md
  pr-4105/applications/python/adapt_vqe.html
  pr-4105/applications/python/adapt_vqe.md
  pr-4105/applications/python/deutsch_algorithm.html
  pr-4105/applications/python/deutsch_algorithm.md
  pr-4105/applications/python/edge_detection.html
  pr-4105/applications/python/edge_detection.md
  pr-4105/applications/python/grovers.html
  pr-4105/applications/python/grovers.md
  pr-4105/applications/python/qm_mm_pe.html
  pr-4105/applications/python/qm_mm_pe.md
  pr-4105/applications/python/quantum_fourier_transform.html
  pr-4105/applications/python/quantum_fourier_transform.ipynb
  pr-4105/applications/python/quantum_fourier_transform.md
  pr-4105/applications/python/quantum_teleportation.ipynb
  pr-4105/applications/python/quantum_transformer.html
  pr-4105/applications/python/quantum_transformer.md
  pr-4105/applications/python/skqd.html
  pr-4105/applications/python/skqd.md
  pr-4105/examples/python/performance_optimizations.html
  pr-4105/examples/python/performance_optimizations.md
  pr-4105/searchindex.js
Due: markdown-link-check

Docs preview for PR #4093.
  pr-4093/api/languages/python_api.html
  pr-4093/api/languages/python_api.md
  pr-4093/applications/python/adapt_qaoa.html
  pr-4093/applications/python/adapt_qaoa.md
  pr-4093/applications/python/adapt_vqe.html
  pr-4093/applications/python/adapt_vqe.md
  pr-4093/applications/python/deutsch_algorithm.html
  pr-4093/applications/python/deutsch_algorithm.md
  pr-4093/applications/python/edge_detection.html
  pr-4093/applications/python/edge_detection.md
  pr-4093/applications/python/grovers.html
  pr-4093/applications/python/grovers.md
  pr-4093/applications/python/qm_mm_pe.html
  pr-4093/applications/python/qm_mm_pe.md
  pr-4093/applications/python/quantum_fourier_transform.html
  pr-4093/applications/python/quantum_fourier_transform.ipynb
  pr-4093/applications/python/quantum_fourier_transform.md
  pr-4093/applications/python/quantum_teleportation.ipynb
  pr-4093/applications/python/quantum_transformer.html
  pr-4093/applications/python/quantum_transformer.md
  pr-4093/applications/python/skqd.html
  pr-4093/applications/python/skqd.md
  pr-4093/examples/python/performance_optimizations.html
  pr-4093/examples/python/performance_optimizations.md
  pr-4093/searchindex.js
Due: markdown-link-check

Fix integer overflow in std::accumulate/std::reduce for large Hilbert spaces (31+ qubits) (#4093)
  runtime/nvqir/cudensitymat/CuDensityMatOpConverter.cpp
  runtime/nvqir/cudensitymat/CuDensityMatState.cpp
Due: none

Docs preview for PR #4092.
  pr-4092/api/languages/python_api.html
  pr-4092/api/languages/python_api.md
  pr-4092/applications/python/adapt_qaoa.html
  pr-4092/applications/python/adapt_qaoa.md
  pr-4092/applications/python/adapt_vqe.html
  pr-4092/applications/python/adapt_vqe.md
  pr-4092/applications/python/deutsch_algorithm.html
  pr-4092/applications/python/deutsch_algorithm.md
  pr-4092/applications/python/edge_detection.html
  pr-4092/applications/python/edge_detection.md
  pr-4092/applications/python/grovers.html
  pr-4092/applications/python/grovers.md
  pr-4092/applications/python/qm_mm_pe.html
  pr-4092/applications/python/qm_mm_pe.md
  pr-4092/applications/python/quantum_fourier_transform.html
  pr-4092/applications/python/quantum_fourier_transform.ipynb
  pr-4092/applications/python/quantum_fourier_transform.md
  pr-4092/applications/python/quantum_teleportation.ipynb
  pr-4092/applications/python/quantum_transformer.html
  pr-4092/applications/python/quantum_transformer.md
  pr-4092/applications/python/skqd.html
  pr-4092/applications/python/skqd.md
  pr-4092/examples/python/performance_optimizations.html
  pr-4092/examples/python/performance_optimizations.md
  pr-4092/examples/python/ptsbe_end_to_end_workflow.html
  pr-4092/examples/python/ptsbe_end_to_end_workflow.ipynb
  pr-4092/examples/python/ptsbe_end_to_end_workflow.md
  pr-4092/searchindex.js
Due: markdown-link-check

[Realtime] Add user guide and validation script (#4092)
  .github/pre-commit/spelling_allowlist.txt
  realtime/README.md
  realtime/docs/building.md
  realtime/docs/user_guide.md
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_doca_transport_ctx.h
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/scripts/build_installer.sh
  realtime/scripts/demo.Dockerfile
  realtime/scripts/demo_docker.sh
  realtime/scripts/install_dev_prerequisites.sh
  realtime/scripts/migrate_assets.sh
  realtime/scripts/validate_installer.sh
  realtime/unittests/utils/hololink_test.sh
Due: spellcheck-allowlist-sorted, markdown-link-check

Introduces Pasqal CUDA-Q QRMI integration (#4023)
  .github/pre-commit/spelling_allowlist.txt
  .github/workflows/integration_tests.yml
  CMakeLists.txt
  NOTICE
  docker/build/assets.Dockerfile
  docs/sphinx/targets/cpp/pasqal.cpp
  docs/sphinx/targets/python/pasqal.py
  docs/sphinx/using/backends/hardware/neutralatom.rst
  docs/sphinx/using/examples/hardware_providers.rst
  pyproject.toml.cu12
  pyproject.toml.cu13
  python/tests/backends/test_Pasqal.py
  runtime/cudaq/platform/pasqal/CMakeLists.txt
  runtime/cudaq/platform/pasqal/PasqalExecutor.cpp
  runtime/cudaq/platform/pasqal/PasqalQrmiServerHelper.cpp
  runtime/cudaq/platform/pasqal/PasqalQrmiServerHelper.h
  runtime/cudaq/platform/pasqal/PasqalServerHelper.cpp
  runtime/cudaq/platform/pasqal/PasqalUtils.h
  runtime/cudaq/platform/pasqal/QrmiUtils.h
  runtime/cudaq/platform/pasqal/pasqal.yml
  scripts/install_prerequisites.sh
  scripts/set_env_defaults.sh
  scripts/validate_installation.sh
  targettests/analog/unsupported_arbitrary_kernel.cpp
Due: spellcheck-allowlist-sorted

Make the source image multiarch; remove push to NGC (#4108)
  .github/workflows/build_package_sources.yml
Due: none

Fix RuntimeError typo and duplicate test function name (#4094)
  python/cudaq/runtime/observe.py
  python/tests/builder/test_qalloc_init_state.py
Due: none

Update notices (#4100)
  .github/pre-commit/spelling_allowlist.txt
  .github/workflows/build_package_sources.yml
  NOTICE
  docker/build/package_sources.Dockerfile
  scripts/generate_apt_attribution.py
  scripts/generate_pip_attribution.py
Due: spellcheck-allowlist-sorted

[bug-fix] Validate the simulation data used to create state from data (#4102)
  runtime/common/JsonConvert.h
  runtime/common/SimulationState.h
  runtime/nvqir/cudensitymat/CuDensityMatState.cpp
  runtime/nvqir/custatevec/CuStateVecState.h
  runtime/nvqir/cutensornet/mps_simulation_state.inc
  runtime/nvqir/cutensornet/tn_simulation_state.inc
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  runtime/nvqir/qpp/QppDMCircuitSimulator.cpp
  unittests/CMakeLists.txt
  unittests/common/JsonConvertTester.cpp
Due: none

[nfc] Revert change to aws braket in msg string (#4096)
  CMakeLists.txt
Due: none

Enabling test_evolve_async_no_intermediate_results (#4077)
  python/tests/dynamics/test_evolve_async_issue_3678.py
  python/tests/dynamics/test_evolve_simulators.py
Due: none

[macOS] Fixes for transient CI cache miss (#4089)
  .github/workflows/ci_macos.yml
  .github/workflows/dev_environment_macos.yml
Due: none

[ci] Fix bash syntax bug - missing `fi` (#4107)
  .github/workflows/integration_tests.yml
Due: none

Add option to get GKE to work for python kernel builder (#4103)
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  python/tests/kernel/test_reuse_compiler.py
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

[macOS] Make installer paths user/sdk user-independent (#4081)
  .github/workflows/ci_macos.yml
  .github/workflows/publishing.yml
  scripts/build_installer.sh
  scripts/migrate_assets.sh
  tools/nvqpp/nvq++.in
Due: none

[macOS] Add macOS support for publishing workflow (wheels/installer) (#4025)
  .github/workflows/ci_macos.yml
  .github/workflows/deployments.yml
  .github/workflows/publishing.yml
  scripts/validate_pycudaq.sh
Due: none

Fix seg fault in test_evolve_async (#4114)
  python/tests/dynamics/test_evolve_async_issue_3678.py
  python/tests/dynamics/test_evolve_simulators.py
  runtime/cudaq/algorithms/evolve_internal.h
Due: none

[PTSBE] Add missing seed to ptsbe unit tests (#4116)
  unittests/ptsbe/PTSSamplingStrategyTester.cpp
Due: none

enabling gpu target if available
  docs/sphinx/applications/python/afqmc.ipynb
  docs/sphinx/applications/python/bernstein_vazirani.ipynb
  docs/sphinx/applications/python/cost_minimization.ipynb
  docs/sphinx/applications/python/hadamard_test.ipynb
  docs/sphinx/applications/python/hybrid_quantum_neural_networks.ipynb
  docs/sphinx/applications/python/krylov.ipynb
  docs/sphinx/applications/python/logical_aim_sqale.ipynb
  docs/sphinx/applications/python/qaoa.ipynb
  docs/sphinx/applications/python/quantum_teleportation.ipynb
  docs/sphinx/applications/python/quantum_transformer.ipynb
  docs/sphinx/applications/python/quantum_volume.ipynb
  docs/sphinx/applications/python/readout_error_mitigation.ipynb
  docs/sphinx/applications/python/shors.ipynb
  docs/sphinx/applications/python/vqe_advanced.ipynb
Due: none

enabling unitary_compilation_diffusion_models notebook
  docs/notebook_validation.py
Due: none

fix for invalid escape sequence
  docs/sphinx/applications/python/quantum_transformer_src/transformer.py
Due: none

* Enabling unitary_compilation_diffusion_models notebook * Due to text serialization roundtrip, NaN/Inf f64 float values may be stored as integer attributes, so reinterpret the integer as float.
  docs/sphinx/applications/python/unitary_compilation_diffusion_models.ipynb
  lib/Optimizer/Transforms/GlobalizeArrayValues.cpp
Due: none

enabling qsci notebook after changing to use COBYLA optimizer and bounding the runtime with the optimizer attributes
  docs/notebook_validation.py
  docs/sphinx/applications/python/qsci.ipynb
Due: none

Using recommendation as given in the error TypeError: Cannot use scipy.linalg.eigh for sparse A with k >= N. Use scipy.linalg.eigh(A.toarray()) or reduce k.
  docs/sphinx/applications/python/qsci.ipynb
Due: none

adding a regression test for NaN/Inf f64 values
  test/Transforms/reify_span-3.qke
Due: none

enabling hybrid_quantum_neural_networks.ipynb
  docs/notebook_validation.py
Due: none

adding useParametricJit flag to ExecutionContext, which will be set by __broadcastObserve
  python/cudaq/runtime/observe.py
  python/runtime/common/py_ExecutionContext.cpp
  runtime/common/ExecutionContext.h
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none
