Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

Add support for dynamic sized vector results in run for full QIR (#4303)
  include/cudaq/Optimizer/CodeGen/Passes.td
  include/cudaq/Optimizer/CodeGen/QIRFunctionNames.h
  lib/Optimizer/Builder/Intrinsics.cpp
  lib/Optimizer/CodeGen/Pipelines.cpp
  lib/Optimizer/CodeGen/ReturnToOutputLog.cpp
  runtime/nvqir/NVQIR.cpp
  targettests/execution/cudaq_run_dynamic_result.cpp
  test/AST-Quake/cudaq_run.cpp
Due: none

Docs preview for PR #4303.
  pr-4303/api/languages/python_api.html
  pr-4303/api/languages/python_api.md
  pr-4303/applications/python/adapt_qaoa.html
  pr-4303/applications/python/adapt_qaoa.md
  pr-4303/applications/python/adapt_vqe.html
  pr-4303/applications/python/adapt_vqe.md
  pr-4303/applications/python/deutsch_algorithm.html
  pr-4303/applications/python/deutsch_algorithm.md
  pr-4303/applications/python/edge_detection.html
  pr-4303/applications/python/edge_detection.md
  pr-4303/applications/python/grovers.html
  pr-4303/applications/python/grovers.md
  pr-4303/applications/python/qm_mm_pe.html
  pr-4303/applications/python/qm_mm_pe.md
  pr-4303/applications/python/quantum_fourier_transform.html
  pr-4303/applications/python/quantum_fourier_transform.ipynb
  pr-4303/applications/python/quantum_fourier_transform.md
  pr-4303/applications/python/skqd.html
  pr-4303/applications/python/skqd.md
  pr-4303/examples/python/performance_optimizations.html
  pr-4303/examples/python/performance_optimizations.md
  pr-4303/searchindex.js
Due: markdown-link-check

Docs preview for PR #4000.
  pr-4000/api/languages/python_api.html
  pr-4000/api/languages/python_api.md
  pr-4000/applications/python/adapt_qaoa.html
  pr-4000/applications/python/adapt_qaoa.md
  pr-4000/applications/python/adapt_vqe.html
  pr-4000/applications/python/adapt_vqe.md
  pr-4000/applications/python/deutsch_algorithm.html
  pr-4000/applications/python/deutsch_algorithm.md
  pr-4000/applications/python/edge_detection.html
  pr-4000/applications/python/edge_detection.md
  pr-4000/applications/python/grovers.html
  pr-4000/applications/python/grovers.md
  pr-4000/applications/python/qm_mm_pe.html
  pr-4000/applications/python/qm_mm_pe.md
  pr-4000/applications/python/quantum_fourier_transform.html
  pr-4000/applications/python/quantum_fourier_transform.ipynb
  pr-4000/applications/python/quantum_fourier_transform.md
  pr-4000/applications/python/skqd.html
  pr-4000/applications/python/skqd.md
  pr-4000/examples/python/performance_optimizations.html
  pr-4000/examples/python/performance_optimizations.md
  pr-4000/genindex.html
  pr-4000/genindex.md
  pr-4000/objects.inv
  pr-4000/searchindex.js
Due: markdown-link-check

Docs preview for PR #4323.
  pr-4323/api/languages/python_api.html
  pr-4323/api/languages/python_api.md
  pr-4323/applications/python/adapt_qaoa.html
  pr-4323/applications/python/adapt_qaoa.md
  pr-4323/applications/python/adapt_vqe.html
  pr-4323/applications/python/adapt_vqe.md
  pr-4323/applications/python/deutsch_algorithm.html
  pr-4323/applications/python/deutsch_algorithm.md
  pr-4323/applications/python/edge_detection.html
  pr-4323/applications/python/edge_detection.md
  pr-4323/applications/python/grovers.html
  pr-4323/applications/python/grovers.md
  pr-4323/applications/python/qm_mm_pe.html
  pr-4323/applications/python/qm_mm_pe.md
  pr-4323/applications/python/quantum_fourier_transform.html
  pr-4323/applications/python/quantum_fourier_transform.ipynb
  pr-4323/applications/python/quantum_fourier_transform.md
  pr-4323/applications/python/skqd.html
  pr-4323/applications/python/skqd.md
  pr-4323/examples/python/performance_optimizations.html
  pr-4323/examples/python/performance_optimizations.md
  pr-4323/genindex.html
  pr-4323/genindex.md
  pr-4323/objects.inv
  pr-4323/searchindex.js
Due: markdown-link-check

adding nanobind in env
  docker/build/devdeps.Dockerfile
  scripts/set_env_defaults.sh
Due: none

Fix tensornet backend crash on empty spin_op observe
  python/tests/kernel/test_observe_kernel.py
  runtime/nvqir/cutensornet/simulator_cutensornet.inc
Due: none

* adding nanobind_commit var * adding a patch for llvm where the function param type mismatches between declaration and definition
  .github/workflows/ci.yml
  .github/workflows/create_cache_command.yml
  .github/workflows/deployments.yml
  .github/workflows/dev_environment_macos.yml
  cmake/caches/LLVM.cmake
  docker/build/devdeps.manylinux.Dockerfile
  tpls/customizations/llvm/BytecodeReader_size_t.diff
Due: none

purging generated mlir test files
  python/tests/mlir/generated/branch-in-loop1.py
  python/tests/mlir/generated/branch-in-loop10.py
  python/tests/mlir/generated/branch-in-loop2.py
  python/tests/mlir/generated/branch-in-loop3.py
  python/tests/mlir/generated/branch-in-loop4.py
  python/tests/mlir/generated/branch-in-loop5.py
  python/tests/mlir/generated/branch-in-loop6.py
  python/tests/mlir/generated/branch-in-loop7.py
  python/tests/mlir/generated/branch-in-loop8.py
  python/tests/mlir/generated/branch-in-loop9.py
  python/tests/mlir/generated/loop-with-break1.py
  python/tests/mlir/generated/loop-with-break10.py
  python/tests/mlir/generated/loop-with-break2.py
  python/tests/mlir/generated/loop-with-break3.py
  python/tests/mlir/generated/loop-with-break4.py
  python/tests/mlir/generated/loop-with-break5.py
  python/tests/mlir/generated/loop-with-break6.py
  python/tests/mlir/generated/loop-with-break7.py
  python/tests/mlir/generated/loop-with-break8.py
  python/tests/mlir/generated/loop-with-break9.py
  python/tests/mlir/generated/straight-line27.py
  python/tests/mlir/generated/subkernel1.py
Due: none

Docs preview for PR #4318.
  pr-4318/api/languages/python_api.html
  pr-4318/api/languages/python_api.md
  pr-4318/applications/python/adapt_qaoa.html
  pr-4318/applications/python/adapt_qaoa.md
  pr-4318/applications/python/adapt_vqe.html
  pr-4318/applications/python/adapt_vqe.md
  pr-4318/applications/python/deutsch_algorithm.html
  pr-4318/applications/python/deutsch_algorithm.md
  pr-4318/applications/python/edge_detection.html
  pr-4318/applications/python/edge_detection.md
  pr-4318/applications/python/grovers.html
  pr-4318/applications/python/grovers.md
  pr-4318/applications/python/qm_mm_pe.html
  pr-4318/applications/python/qm_mm_pe.md
  pr-4318/applications/python/quantum_fourier_transform.html
  pr-4318/applications/python/quantum_fourier_transform.ipynb
  pr-4318/applications/python/quantum_fourier_transform.md
  pr-4318/applications/python/skqd.html
  pr-4318/applications/python/skqd.md
  pr-4318/examples/python/performance_optimizations.html
  pr-4318/examples/python/performance_optimizations.md
  pr-4318/searchindex.js
Due: markdown-link-check

Fix tensornet backend crash on empty spin_op observe (#4318)
  python/tests/kernel/test_observe_kernel.py
  runtime/nvqir/cutensornet/simulator_cutensornet.inc
Due: none

Some more clean up
  docs/sphinx/_templates/openapi.html
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/api/rest/.openapi.yaml
  docs/sphinx/conf.py
  docs/sphinx/using/backends/sims/mqpusims.rst
  docs/sphinx/using/examples/multi_gpu_workflows.rst
  runtime/cudaq/platform/default/DefaultQPU.h
  targettests/Remote-Sim/args_synthesis.h
  targettests/Remote-Sim/args_synthesis_mixed.cpp
  targettests/Remote-Sim/args_synthesis_pod_container_1.cpp
  targettests/Remote-Sim/args_synthesis_pod_container_2.cpp
  targettests/Remote-Sim/args_synthesis_single.cpp
  targettests/Remote-Sim/args_synthesis_two_container.cpp
  targettests/Remote-Sim/args_synthesis_two_pod.cpp
Due: none

Rename CompiledKernel to CompiledModule
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/runtime/interop/PythonCppInterop.h
  runtime/common/BaseRemoteRESTQPU.h
  runtime/common/BaseRemoteSimulatorQPU.h
  runtime/common/CMakeLists.txt
  runtime/common/CompiledModule.cpp
  runtime/common/CompiledModule.h
  runtime/common/ExecutionContext.h
  runtime/common/ServerHelper.h
  runtime/cudaq/platform/default/python/QPU.cpp
  runtime/cudaq/platform/nvqpp_interface.h
  runtime/cudaq/platform/qpu.cpp
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
  runtime/internal/compiler/JIT.cpp
  runtime/internal/compiler/include/cudaq_internal/compiler/Compiler.h
  runtime/internal/compiler/include/cudaq_internal/compiler/JIT.h
Due: none

Refactor the code
  docs/sphinx/examples/cpp/mpi/sample.cpp
  python/extension/CUDAQuantumExtension.cpp
  python/utils/LinkedLibraryHolder.cpp
  runtime/cudaq/cudaq.cpp
  runtime/cudaq/cudaq_mpi.h
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/cutensornet/simulator_tensornet.h
Due: none

Rename CompiledKernel to CompiledModule (#4322)
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/runtime/interop/PythonCppInterop.h
  runtime/common/BaseRemoteRESTQPU.h
  runtime/common/BaseRemoteSimulatorQPU.h
  runtime/common/CMakeLists.txt
  runtime/common/CompiledModule.cpp
  runtime/common/CompiledModule.h
  runtime/common/ExecutionContext.h
  runtime/common/ServerHelper.h
  runtime/cudaq/platform/default/python/QPU.cpp
  runtime/cudaq/platform/nvqpp_interface.h
  runtime/cudaq/platform/qpu.cpp
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
  runtime/internal/compiler/JIT.cpp
  runtime/internal/compiler/include/cudaq_internal/compiler/Compiler.h
  runtime/internal/compiler/include/cudaq_internal/compiler/JIT.h
Due: none

Docs preview for PR #4322.
  pr-4322/api/languages/python_api.html
  pr-4322/api/languages/python_api.md
  pr-4322/applications/python/adapt_qaoa.html
  pr-4322/applications/python/adapt_qaoa.md
  pr-4322/applications/python/adapt_vqe.html
  pr-4322/applications/python/adapt_vqe.md
  pr-4322/applications/python/deutsch_algorithm.html
  pr-4322/applications/python/deutsch_algorithm.md
  pr-4322/applications/python/edge_detection.html
  pr-4322/applications/python/edge_detection.md
  pr-4322/applications/python/grovers.html
  pr-4322/applications/python/grovers.md
  pr-4322/applications/python/qm_mm_pe.html
  pr-4322/applications/python/qm_mm_pe.md
  pr-4322/applications/python/quantum_fourier_transform.html
  pr-4322/applications/python/quantum_fourier_transform.ipynb
  pr-4322/applications/python/quantum_fourier_transform.md
  pr-4322/applications/python/skqd.html
  pr-4322/applications/python/skqd.md
  pr-4322/examples/python/performance_optimizations.html
  pr-4322/examples/python/performance_optimizations.md
  pr-4322/genindex.html
  pr-4322/genindex.md
  pr-4322/objects.inv
  pr-4322/searchindex.js
Due: markdown-link-check

fix: submodule hashes and v2 platform implementation and test
  lib/Optimizer/CodeGen/Passes.cpp
  python/tests/backends/test_Qbraid.py
  runtime/cudaq/platform/default/rest/helpers/qbraid/CMakeLists.txt
  runtime/cudaq/platform/default/rest/helpers/qbraid/QbraidServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/qbraid/qbraid.yml
  unittests/backends/qbraid/CMakeLists.txt
  unittests/backends/qbraid/QbraidStartServerAndTest.sh.in
  unittests/backends/qbraid/QbraidTester.cpp
  utils/mock_qpu/qbraid/__init__.py
Due: none

fix: formatting and headers
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/targets/cpp/qbraid.cpp
  docs/sphinx/targets/python/qbraid.py
  lib/Optimizer/CodeGen/Passes.cpp
  runtime/cudaq/platform/default/rest/helpers/qbraid/QbraidServerHelper.cpp
  unittests/backends/qbraid/QbraidTester.cpp
  utils/mock_qpu/qbraid/__init__.py
Due: spellcheck-allowlist-sorted

Server helper changes for quake payload
  runtime/cudaq/platform/default/rest/helpers/quantum_machines/QuantumMachinesServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/quantum_machines/quantum_machines.yml
Due: none

Clean up ghcr-ci deployments in clean_up workflow (#4324)
  .github/workflows/clean_up.yml
Due: none

Docs preview for PR #4301.
  pr-4301/_sources/using/examples/measuring_kernels.rst.txt
  pr-4301/api/languages/cpp_api.html
  pr-4301/api/languages/cpp_api.md
  pr-4301/api/languages/python_api.html
  pr-4301/api/languages/python_api.md
  pr-4301/applications/python/adapt_qaoa.html
  pr-4301/applications/python/adapt_qaoa.md
  pr-4301/applications/python/adapt_vqe.html
  pr-4301/applications/python/adapt_vqe.md
  pr-4301/applications/python/deutsch_algorithm.html
  pr-4301/applications/python/deutsch_algorithm.md
  pr-4301/applications/python/edge_detection.html
  pr-4301/applications/python/edge_detection.md
  pr-4301/applications/python/grovers.html
  pr-4301/applications/python/grovers.md
  pr-4301/applications/python/qm_mm_pe.html
  pr-4301/applications/python/qm_mm_pe.md
  pr-4301/applications/python/quantum_fourier_transform.html
  pr-4301/applications/python/quantum_fourier_transform.ipynb
  pr-4301/applications/python/quantum_fourier_transform.md
  pr-4301/applications/python/skqd.html
  pr-4301/applications/python/skqd.md
  pr-4301/examples/python/performance_optimizations.html
  pr-4301/examples/python/performance_optimizations.md
  pr-4301/genindex.html
  pr-4301/genindex.md
  pr-4301/notebook_validation.py
  pr-4301/objects.inv
  pr-4301/searchindex.js
  pr-4301/sphinx/examples/cpp/basics/mid_circuit_measurement.cpp
  pr-4301/sphinx/examples/cpp/measuring_kernels.cpp
  pr-4301/sphinx/examples/cpp/sample_to_run_migration.cpp
  pr-4301/sphinx/using/examples/measuring_kernels.rst
  pr-4301/using/examples/measuring_kernels.html
  pr-4301/using/examples/measuring_kernels.md
  pr-4301/using/examples/sample_vs_run.html
  pr-4301/using/examples/sample_vs_run.md
Due: markdown-link-check

Fix decomposition pattern selection for unbounded control counts (#4320)
  lib/Optimizer/Transforms/DecompositionPatternSelection.cpp
  lib/Optimizer/Transforms/DecompositionPatterns.cpp
  python/tests/backends/test_circuit_opt_bench.py
  unittests/Optimizer/DecompositionPatternSelectionTest.cpp
Due: none

Docs preview for PR #4320.
  pr-4320/api/languages/python_api.html
  pr-4320/api/languages/python_api.md
  pr-4320/applications/python/adapt_qaoa.html
  pr-4320/applications/python/adapt_qaoa.md
  pr-4320/applications/python/adapt_vqe.html
  pr-4320/applications/python/adapt_vqe.md
  pr-4320/applications/python/deutsch_algorithm.html
  pr-4320/applications/python/deutsch_algorithm.md
  pr-4320/applications/python/edge_detection.html
  pr-4320/applications/python/edge_detection.md
  pr-4320/applications/python/grovers.html
  pr-4320/applications/python/grovers.md
  pr-4320/applications/python/qm_mm_pe.html
  pr-4320/applications/python/qm_mm_pe.md
  pr-4320/applications/python/quantum_fourier_transform.html
  pr-4320/applications/python/quantum_fourier_transform.ipynb
  pr-4320/applications/python/quantum_fourier_transform.md
  pr-4320/applications/python/skqd.html
  pr-4320/applications/python/skqd.md
  pr-4320/examples/python/performance_optimizations.html
  pr-4320/examples/python/performance_optimizations.md
  pr-4320/genindex.html
  pr-4320/genindex.md
  pr-4320/objects.inv
  pr-4320/searchindex.js
Due: markdown-link-check

Add CompiledModuleBuilder
  python/extension/CMakeLists.txt
  runtime/common/CompiledModule.cpp
  runtime/common/CompiledModule.h
  runtime/cudaq/platform/default/python/QPU.cpp
  runtime/internal/compiler/CMakeLists.txt
  runtime/internal/compiler/CompiledModuleHelper.cpp
  runtime/internal/compiler/JIT.cpp
  runtime/internal/compiler/include/cudaq_internal/compiler/CompiledModuleHelper.h
  runtime/internal/compiler/include/cudaq_internal/compiler/JIT.h
Due: none

updating old APIs
  include/cudaq/Optimizer/CodeGen/CodeGenDialect.td
  include/cudaq/Optimizer/Dialect/CC/CCDialect.td
  include/cudaq/Optimizer/Dialect/Quake/QuakeDialect.td
  lib/Optimizer/Dialect/CC/CCTypes.cpp
Due: none

formatting
  lib/Frontend/nvqpp/ConvertType.cpp
  lib/Optimizer/Dialect/CC/CCTypes.cpp
  lib/Optimizer/Transforms/DependencyAnalysis.cpp
  lib/Optimizer/Transforms/LoopAnalysis.cpp
  lib/Optimizer/Transforms/MemToReg.cpp
  python/extension/CUDAQuantumExtension.cpp
  python/runtime/interop/PythonCppInterop.h
  python/runtime/mlir/py_register_dialects.cpp
  runtime/common/JsonConvert.h
  runtime/cudaq/algorithms/base_integrator.h
  runtime/cudaq/algorithms/state.h
  runtime/cudaq/distributed/builtin/mpi_comm_impl.cpp
  runtime/cudaq/domains/chemistry/MoleculePackageDriver.h
  runtime/cudaq/operators.h
  runtime/cudaq/operators/scalar_op.cpp
  runtime/cudaq/operators/sum_op.cpp
  runtime/cudaq/platform/mqpu/custatevec/GPUEmulatedQPU.cpp
  runtime/cudaq/platform/mqpu/helpers/MQPUUtils.cpp
  runtime/cudaq/qis/execution_manager.h
  runtime/cudaq/qis/qubit_qis.h
  runtime/cudaq/qis/qvector.h
  runtime/cudaq/schedule.h
  runtime/nvqir/cudensitymat/CuDensityMatOpConverter.h
  runtime/nvqir/cudensitymat/CuDensityMatTimeStepper.cpp
  unittests/dynamics/test_CuDensityMatState.cpp
  unittests/integration/noise_tester.cpp
  unittests/operators/product_op.cpp
  unittests/operators/sum_op.cpp
Due: none

formatting
  lib/Frontend/nvqpp/ConvertType.cpp
  lib/Optimizer/Transforms/DependencyAnalysis.cpp
  lib/Optimizer/Transforms/LoopAnalysis.cpp
  lib/Optimizer/Transforms/MemToReg.cpp
  python/extension/CUDAQuantumExtension.cpp
  python/runtime/interop/PythonCppInterop.h
  python/runtime/mlir/py_register_dialects.cpp
  runtime/common/JsonConvert.h
  runtime/cudaq/algorithms/base_integrator.h
  runtime/cudaq/algorithms/state.h
  runtime/cudaq/distributed/builtin/mpi_comm_impl.cpp
  runtime/cudaq/domains/chemistry/MoleculePackageDriver.h
  runtime/cudaq/operators.h
  runtime/cudaq/operators/scalar_op.cpp
  runtime/cudaq/operators/sum_op.cpp
  runtime/cudaq/platform/mqpu/custatevec/GPUEmulatedQPU.cpp
  runtime/cudaq/platform/mqpu/helpers/MQPUUtils.cpp
  runtime/cudaq/qis/execution_manager.h
  runtime/cudaq/qis/qubit_qis.h
  runtime/cudaq/qis/qvector.h
  runtime/cudaq/schedule.h
  runtime/nvqir/cudensitymat/CuDensityMatOpConverter.h
  runtime/nvqir/cudensitymat/CuDensityMatTimeStepper.cpp
  unittests/dynamics/test_CuDensityMatState.cpp
  unittests/integration/noise_tester.cpp
  unittests/operators/product_op.cpp
  unittests/operators/sum_op.cpp
Due: none

[unittest] Update the unittest to conform to new API contracts.
  unittests/integration/builder_tester.cpp
Due: none

updating requests
  pyproject.toml.cu12
  pyproject.toml.cu13
  requirements-dev.txt
Due: none

adding nanobind
  requirements-dev.txt
  scripts/build_cudaq.sh
  scripts/install_prerequisites.sh
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
