Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

plugins to use CUDAQ_EXTERNAL_PROJECTS
  docs/sphinx/examples/plugins/README.md
  docs/sphinx/examples/plugins/mock_rest/tests/check_plugin.cpp
  docs/sphinx/examples/plugins/mock_rest/tests/lit.cfg.py
  docs/sphinx/examples/plugins/tests/lit.site.cfg.py.in
  docs/sphinx/examples/plugins/trace_qpu/CMakeLists.txt
  docs/sphinx/examples/plugins/trace_qpu/tests/check_plugin.cpp
  docs/sphinx/examples/plugins/trace_qpu/tests/lit.cfg.py
Due: markdown-link-check

Fix build
  docs/sphinx/examples/plugins/mock_rest/tests/check_plugin.cpp
  docs/sphinx/examples/plugins/mock_rest/tests/lit.cfg.py
  docs/sphinx/examples/plugins/tests/lit.site.cfg.py.in
  docs/sphinx/examples/plugins/trace_qpu/tests/check_plugin.cpp
  docs/sphinx/examples/plugins/trace_qpu/tests/lit.cfg.py
Due: none

tweaks
  docs/sphinx/examples/plugins/CMakeLists.txt
  docs/sphinx/examples/plugins/README.md
  docs/sphinx/examples/plugins/mock_rest/CMakeLists.txt
  docs/sphinx/examples/plugins/trace_qpu/CMakeLists.txt
Due: markdown-link-check

Python plugin
  docs/sphinx/examples/plugins/README.md
  docs/sphinx/examples/plugins/mock_rest/CMakeLists.txt
  docs/sphinx/examples/plugins/mock_rest/pyproject.toml.in
  docs/sphinx/examples/plugins/mock_rest/python/__init__.py.in
  docs/sphinx/examples/plugins/mock_rest/python/__main__.py.in
  docs/sphinx/examples/plugins/mock_rest/tests/check_plugin.cpp
  docs/sphinx/examples/plugins/trace_qpu/CMakeLists.txt
  docs/sphinx/examples/plugins/trace_qpu/pyproject.toml.in
  docs/sphinx/examples/plugins/trace_qpu/python/__init__.py.in
  docs/sphinx/examples/plugins/trace_qpu/python/__main__.py.in
  docs/sphinx/examples/plugins/trace_qpu/tests/check_plugin.cpp
  python/cudaq/__init__.py
  python/tests/backends/test_register_backend_path.py
Due: markdown-link-check

[docs] Clarify HSB RFSoC artifact locations (#4687)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/using/realtime/host.md
  docs/sphinx/using/realtime/installation.rst
  realtime/docs/building.md
  realtime/docs/cudaq_realtime_host_api.md
  realtime/docs/nvqlink_latency_demo.md
  realtime/docs/user_guide.md
Due: spellcheck-allowlist-sorted, markdown-link-check

Add two quantum embeddings (#4667)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/api/languages/python_api.rst
  python/cudaq/__init__.py
  python/cudaq/contrib/__init__.py
  python/cudaq/contrib/encoding.py
  python/cudaq/contrib/examples/amplitude_encode.py
  python/cudaq/contrib/examples/angular_encode_builder.py
  python/cudaq/contrib/examples/angular_encode_kernel.py
  python/cudaq/kernel/ast_bridge.py
  python/tests/builder/test_encoding.py
  python/tests/contrib/test_amplitude_encode.py
  python/tests/contrib/test_angular_encode.py
  python/tests/utils/test_lazy_imports.py
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/algorithm.h
  runtime/cudaq/algorithms/encoding.cpp
  runtime/cudaq/algorithms/encoding.h
  runtime/cudaq/builder/kernels.h
  unittests/nvqpp/CMakeLists.txt
  unittests/nvqpp/integration/encoding_tester.cpp
  unittests/nvqpp/integration/kernels_tester.cpp
Due: spellcheck-allowlist-sorted

Add target profiling traces to ast bridge (#4742)
  python/cudaq/kernel/ast_bridge.py
  python/tests/utils/trace/test_trace_chrome.py
Due: none

refactor placement/routing, guard mid-circuit measurements
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
Due: none

copyrights, measurement-guard tests, valve contrast test
  cudaq/test/Transforms/mapping_connectivity.qke
  cudaq/test/Transforms/mapping_errors.qke
  cudaq/test/Transforms/mapping_greedy_relocated_hub.qke
  cudaq/test/Transforms/mapping_invalid_placement.qke
  cudaq/test/Transforms/mapping_invalid_search.qke
  cudaq/test/Transforms/mapping_placement_seeds.qke
  cudaq/test/Transforms/mapping_search_late_interactions.qke
  cudaq/test/Transforms/mapping_search_none.qke
  cudaq/test/Transforms/mapping_search_refinement.qke
  cudaq/test/Transforms/mapping_search_star.qke
  cudaq/test/Transforms/mapping_search_termination.qke
Due: none

Docs update triggered by deployment on head branch main, commit c5451422fabfb7b6b82145de9d20c914dc79a492.
  latest/applications/python/skqd.html
  latest/applications/python/skqd.md
  latest/examples/python/performance_optimizations.html
  latest/examples/python/performance_optimizations.md
  latest/searchindex.js
Due: markdown-link-check

address mapping review feedback
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
  cudaq/test/Transforms/mapping_errors.qke
  cudaq/test/Transforms/mapping_measurement_composable.qke
  cudaq/test/Transforms/mapping_search_termination.qke
Due: none

Support mx and my over qubit ranges
  cudaq/test/AST-Quake/mx_my_qvector.cpp
  runtime/cudaq/qis/qubit_qis.h
  unittests/nvqpp/integration/measure_reset_tester.cpp
Due: none

[custom op] Drive unitary-synthesis with the dialect-conversion framework
  cudaq/lib/Optimizer/Transforms/UnitarySynthesis.cpp
Due: none

Format mapping pass changes
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
Due: none

Reject adaptive measurement mapping before CFG bypass
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
  cudaq/test/Transforms/mapping_measurement_composable.qke
Due: none

Fix greedy placer initializer order
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
Due: none

docs: add MKL-Q benchmark evidence index
  README.md
  benchmarks/mklq/README.md
  benchmarks/mklq/summarize_reports.py
  docs/mklq/benchmark-evidence.md
  docs/mklq/validation.md
  python/tests/backends/test_mklq_benchmark_harness.py
Due: markdown-link-check

docs: add clean MKL-Q CPU benchmark evidence
  benchmarks/mklq/README.md
  benchmarks/mklq/reports/local-clean-cpu-q20-2026-06-21.summary.json
  benchmarks/mklq/summarize_reports.py
  docs/mklq/benchmark-evidence.md
  docs/mklq/validation.md
  python/tests/backends/test_mklq_benchmark_harness.py
Due: markdown-link-check

test: automate MKL-Q benchmark summaries
  .github/workflows/mklq-public-hygiene.yml
  benchmarks/mklq/README.md
  benchmarks/mklq/make_summary.py
  docs/mklq/validation.md
  python/tests/backends/test_mklq_benchmark_harness.py
Due: markdown-link-check

test: add clean MKL-Q benchmark gate
  .github/workflows/mklq-public-hygiene.yml
  benchmarks/mklq/README.md
  benchmarks/mklq/run_clean_cpu_benchmark.py
  docs/mklq/validation.md
  python/tests/backends/test_mklq_benchmark_harness.py
Due: markdown-link-check

test: add MKL-Q correctness gate
  .github/workflows/mklq-public-hygiene.yml
  benchmarks/mklq/README.md
  benchmarks/mklq/run_correctness_gate.py
  docs/mklq/validation.md
  python/tests/backends/test_mklq_benchmark_harness.py
Due: markdown-link-check

test: add MKL-Q CPU correctness fixtures
  benchmarks/mklq/run_correctness_gate.py
  docs/mklq/validation.md
  python/tests/backends/test_mklq_benchmark_harness.py
  python/tests/backends/test_mklq_cpu_correctness_fixtures.py
Due: markdown-link-check

test: add MKL-Q Metal correctness fixtures
  benchmarks/mklq/run_correctness_gate.py
  docs/mklq/validation.md
  python/tests/backends/test_mklq_benchmark_harness.py
  python/tests/backends/test_mklq_metal_correctness_fixtures.py
Due: markdown-link-check

docs: add MKL-Q known limitations
  .github/workflows/mklq-public-hygiene.yml
  README.md
  docs/mklq/known-limitations.md
  docs/mklq/roadmap.md
  docs/mklq/validation.md
Due: markdown-link-check

docs: add MKL-Q public release checklist
  .github/workflows/mklq-public-hygiene.yml
  README.md
  docs/mklq/known-limitations.md
  docs/mklq/public-release-checklist.md
  docs/mklq/roadmap.md
Due: markdown-link-check

docs: add MKL-Q developer workflow
  .github/workflows/mklq-public-hygiene.yml
  Contributing.md
  README.md
  docs/mklq/developer-workflow.md
Due: markdown-link-check

docs: add MKL-Q pull request template
  .github/pull_request_template.md
  .github/workflows/mklq-public-hygiene.yml
Due: markdown-link-check

docs: add MKL-Q architecture overview
  .github/workflows/mklq-public-hygiene.yml
  README.md
  docs/mklq/architecture.md
  docs/mklq/developer-workflow.md
  docs/mklq/roadmap.md
Due: markdown-link-check

docs: add MKL-Q testing matrix
  .github/pull_request_template.md
  .github/workflows/mklq-public-hygiene.yml
  README.md
  docs/mklq/architecture.md
  docs/mklq/developer-workflow.md
  docs/mklq/public-release-checklist.md
  docs/mklq/testing-matrix.md
Due: markdown-link-check

docs: add MKL-Q upstream sync procedure
  .github/pull_request_template.md
  .github/workflows/mklq-public-hygiene.yml
  README.md
  docs/mklq/developer-workflow.md
  docs/mklq/public-release-checklist.md
  docs/mklq/testing-matrix.md
  docs/mklq/upstream-sync.md
Due: markdown-link-check

docs: add MKL-Q release policy
  .github/pull_request_template.md
  .github/workflows/mklq-public-hygiene.yml
  README.md
  docs/mklq/developer-workflow.md
  docs/mklq/known-limitations.md
  docs/mklq/public-release-checklist.md
  docs/mklq/release-policy.md
  docs/mklq/roadmap.md
  docs/mklq/testing-matrix.md
Due: markdown-link-check

docs: refresh MKL-Q validation evidence
  docs/mklq/upstream-sync.md
  docs/mklq/validation.md
Due: markdown-link-check
