Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

formatting
  python/tests/kernel/test_custom_operation.py
Due: none

Docs preview for PR #4162.
  pr-4162/api/languages/python_api.html
  pr-4162/api/languages/python_api.md
  pr-4162/applications/python/adapt_qaoa.html
  pr-4162/applications/python/adapt_qaoa.md
  pr-4162/applications/python/adapt_vqe.html
  pr-4162/applications/python/adapt_vqe.md
  pr-4162/applications/python/deutsch_algorithm.html
  pr-4162/applications/python/deutsch_algorithm.md
  pr-4162/applications/python/edge_detection.html
  pr-4162/applications/python/edge_detection.md
  pr-4162/applications/python/grovers.html
  pr-4162/applications/python/grovers.md
  pr-4162/applications/python/ptsbe_end_to_end_workflow.html
  pr-4162/applications/python/ptsbe_end_to_end_workflow.ipynb
  pr-4162/applications/python/ptsbe_end_to_end_workflow.md
  pr-4162/applications/python/qm_mm_pe.html
  pr-4162/applications/python/qm_mm_pe.md
  pr-4162/applications/python/quantum_fourier_transform.html
  pr-4162/applications/python/quantum_fourier_transform.ipynb
  pr-4162/applications/python/quantum_fourier_transform.md
  pr-4162/applications/python/skqd.html
  pr-4162/applications/python/skqd.md
  pr-4162/examples/python/performance_optimizations.html
  pr-4162/examples/python/performance_optimizations.md
  pr-4162/searchindex.js
Due: markdown-link-check

Port some recent edits to the host API docs
  .github/pre-commit/spelling_allowlist.txt
  realtime/docs/cudaq_realtime_host_api.md
Due: spellcheck-allowlist-sorted, markdown-link-check

[CI] API Docs Build 9f758b82
  blogs/blog/2026/03/16/cudaq-GTC-26/index.html
  blogs/blog/2026/03/16/launching-cudaq-realtime/index.html
Due: none

fixing spell check
  python/cudaq/kernel/ast_bridge.py
Due: none

raise error for list[complex] qvector exceeding 10 qubits
  python/cudaq/kernel/kernel_decorator.py
  python/tests/kernel/test_kernel_qvector_state_init.py
Due: none

fixing spelling
  python/cudaq/kernel/kernel_decorator.py
Due: none

fixing variable name
  python/cudaq/kernel/kernel_decorator.py
Due: none

removing tests which were fixed by the change
  python/tests/custom/test_custom_operations.py
Due: none

[CI] API Docs Build 820fda9a
  blogs/blog/2026/03/16/cudaq-GTC-26/index.html
  blogs/sitemap.xml
  blogs/sitemap.xml.gz
Due: none

Docs preview for PR #4165.
  pr-4165/api/languages/python_api.html
  pr-4165/api/languages/python_api.md
  pr-4165/applications/python/adapt_qaoa.html
  pr-4165/applications/python/adapt_qaoa.md
  pr-4165/applications/python/adapt_vqe.html
  pr-4165/applications/python/adapt_vqe.md
  pr-4165/applications/python/deutsch_algorithm.html
  pr-4165/applications/python/deutsch_algorithm.md
  pr-4165/applications/python/edge_detection.html
  pr-4165/applications/python/edge_detection.md
  pr-4165/applications/python/grovers.html
  pr-4165/applications/python/grovers.md
  pr-4165/applications/python/ptsbe_end_to_end_workflow.html
  pr-4165/applications/python/ptsbe_end_to_end_workflow.ipynb
  pr-4165/applications/python/ptsbe_end_to_end_workflow.md
  pr-4165/applications/python/qm_mm_pe.html
  pr-4165/applications/python/qm_mm_pe.md
  pr-4165/applications/python/quantum_fourier_transform.html
  pr-4165/applications/python/quantum_fourier_transform.ipynb
  pr-4165/applications/python/quantum_fourier_transform.md
  pr-4165/applications/python/skqd.html
  pr-4165/applications/python/skqd.md
  pr-4165/examples/python/performance_optimizations.html
  pr-4165/examples/python/performance_optimizations.md
  pr-4165/searchindex.js
Due: markdown-link-check

adding more tests
  python/tests/kernel/test_custom_operation.py
Due: none

Docs preview for PR #4173.
  pr-4173/api/languages/python_api.html
  pr-4173/api/languages/python_api.md
  pr-4173/applications/python/adapt_qaoa.html
  pr-4173/applications/python/adapt_qaoa.md
  pr-4173/applications/python/adapt_vqe.html
  pr-4173/applications/python/adapt_vqe.md
  pr-4173/applications/python/deutsch_algorithm.html
  pr-4173/applications/python/deutsch_algorithm.md
  pr-4173/applications/python/edge_detection.html
  pr-4173/applications/python/edge_detection.md
  pr-4173/applications/python/grovers.html
  pr-4173/applications/python/grovers.md
  pr-4173/applications/python/ptsbe_end_to_end_workflow.html
  pr-4173/applications/python/ptsbe_end_to_end_workflow.ipynb
  pr-4173/applications/python/ptsbe_end_to_end_workflow.md
  pr-4173/applications/python/qm_mm_pe.html
  pr-4173/applications/python/qm_mm_pe.md
  pr-4173/applications/python/quantum_fourier_transform.html
  pr-4173/applications/python/quantum_fourier_transform.ipynb
  pr-4173/applications/python/quantum_fourier_transform.md
  pr-4173/applications/python/skqd.html
  pr-4173/applications/python/skqd.md
  pr-4173/examples/python/performance_optimizations.html
  pr-4173/examples/python/performance_optimizations.md
  pr-4173/searchindex.js
Due: markdown-link-check

[WIP] Remove device call by name support
  include/cudaq/Frontend/nvqpp/AttributeNames.h
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Frontend/nvqpp/ConvertExpr.cpp
  lib/Optimizer/Transforms/DistributedDeviceCall.cpp
  runtime/cudaq/driver/device.h
  test/NVQPP/device_call.cpp
  tools/nvqpp/nvq++.in
Due: none

Docs preview for PR #3994.
  pr-3994/api/languages/python_api.html
  pr-3994/api/languages/python_api.md
  pr-3994/applications/python/adapt_qaoa.html
  pr-3994/applications/python/adapt_qaoa.md
  pr-3994/applications/python/adapt_vqe.html
  pr-3994/applications/python/adapt_vqe.md
  pr-3994/applications/python/deutsch_algorithm.html
  pr-3994/applications/python/deutsch_algorithm.md
  pr-3994/applications/python/edge_detection.html
  pr-3994/applications/python/edge_detection.md
  pr-3994/applications/python/grovers.html
  pr-3994/applications/python/grovers.md
  pr-3994/applications/python/ptsbe_end_to_end_workflow.html
  pr-3994/applications/python/ptsbe_end_to_end_workflow.ipynb
  pr-3994/applications/python/ptsbe_end_to_end_workflow.md
  pr-3994/applications/python/qm_mm_pe.html
  pr-3994/applications/python/qm_mm_pe.md
  pr-3994/applications/python/quantum_fourier_transform.html
  pr-3994/applications/python/quantum_fourier_transform.ipynb
  pr-3994/applications/python/quantum_fourier_transform.md
  pr-3994/applications/python/skqd.html
  pr-3994/applications/python/skqd.md
  pr-3994/examples/python/performance_optimizations.html
  pr-3994/examples/python/performance_optimizations.md
  pr-3994/searchindex.js
Due: markdown-link-check

removing md link that fails link check
  realtime/docs/cudaq_realtime_host_api.md
Due: markdown-link-check

removing md link that fails link check (#4175)
  realtime/docs/cudaq_realtime_host_api.md
Due: markdown-link-check

[macOS] Fix modify while iteration over users (#4165)
  lib/Optimizer/Transforms/FactorQuantumAlloc.cpp
  test/Transforms/factor_quantum.qke
Due: none

[Testing] - Fix test coverage (#4140)
  .github/workflows/test_in_devenv.yml
  requirements-tests-backend.txt
  scripts/generate_cc.sh
Due: none

Realtime docs page and 0.14.0 version added (#4167)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/index.rst
  docs/sphinx/releases.rst
  docs/sphinx/using/install/data_center_install.rst
  docs/sphinx/using/install/local_installation.rst
  docs/sphinx/using/realtime.rst
  docs/sphinx/using/realtime/host.md
  docs/sphinx/using/realtime/installation.rst
  docs/sphinx/using/realtime/protocol.md
Due: spellcheck-allowlist-sorted, markdown-link-check

Docs preview for PR #4167.
  pr-4167/_sources/releases.rst.txt
  pr-4167/_sources/using/realtime.rst.txt
  pr-4167/_sources/using/realtime/installation.rst.txt
  pr-4167/api/languages/python_api.html
  pr-4167/api/languages/python_api.md
  pr-4167/applications/python/adapt_qaoa.html
  pr-4167/applications/python/adapt_qaoa.md
  pr-4167/applications/python/adapt_vqe.html
  pr-4167/applications/python/adapt_vqe.md
  pr-4167/applications/python/deutsch_algorithm.html
  pr-4167/applications/python/deutsch_algorithm.md
  pr-4167/applications/python/edge_detection.html
  pr-4167/applications/python/edge_detection.md
  pr-4167/applications/python/grovers.html
  pr-4167/applications/python/grovers.md
  pr-4167/applications/python/ptsbe_end_to_end_workflow.html
  pr-4167/applications/python/ptsbe_end_to_end_workflow.ipynb
  pr-4167/applications/python/ptsbe_end_to_end_workflow.md
  pr-4167/applications/python/qm_mm_pe.html
  pr-4167/applications/python/qm_mm_pe.md
  pr-4167/applications/python/quantum_fourier_transform.html
  pr-4167/applications/python/quantum_fourier_transform.ipynb
  pr-4167/applications/python/quantum_fourier_transform.md
  pr-4167/applications/python/skqd.html
  pr-4167/applications/python/skqd.md
  pr-4167/examples/python/performance_optimizations.html
  pr-4167/examples/python/performance_optimizations.md
  pr-4167/releases.html
  pr-4167/releases.md
  pr-4167/searchindex.js
  pr-4167/sphinx/releases.rst
  pr-4167/sphinx/using/realtime.rst
  pr-4167/sphinx/using/realtime/installation.rst
  pr-4167/using/realtime/installation.html
  pr-4167/using/realtime/installation.md
Due: markdown-link-check

Update ptsbe notebook (#4168)
  docs/sphinx/applications/python/ptsbe.ipynb
  docs/sphinx/using/applications.rst
Due: none

Docs preview for PR #4168.
  pr-4168/api/languages/python_api.html
  pr-4168/api/languages/python_api.md
  pr-4168/applications/python/adapt_qaoa.html
  pr-4168/applications/python/adapt_qaoa.md
  pr-4168/applications/python/adapt_vqe.html
  pr-4168/applications/python/adapt_vqe.md
  pr-4168/applications/python/deutsch_algorithm.html
  pr-4168/applications/python/deutsch_algorithm.md
  pr-4168/applications/python/edge_detection.html
  pr-4168/applications/python/edge_detection.md
  pr-4168/applications/python/grovers.html
  pr-4168/applications/python/grovers.md
  pr-4168/applications/python/qm_mm_pe.html
  pr-4168/applications/python/qm_mm_pe.md
  pr-4168/applications/python/quantum_fourier_transform.html
  pr-4168/applications/python/quantum_fourier_transform.ipynb
  pr-4168/applications/python/quantum_fourier_transform.md
  pr-4168/applications/python/skqd.html
  pr-4168/applications/python/skqd.md
  pr-4168/examples/python/performance_optimizations.html
  pr-4168/examples/python/performance_optimizations.md
  pr-4168/searchindex.js
Due: markdown-link-check

Handles seg fault for state initialized with 20 qubits (#4174)
  python/cudaq/kernel/kernel_decorator.py
  python/tests/kernel/test_kernel_qvector_state_init.py
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
