Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

Ptsbe simulator interface (#3823)
  .github/pre-commit/spelling_allowlist_cxx.txt
  runtime/cudaq/algorithms/sample.h
  runtime/cudaq/ptsbe/PTSBEInterface.h
  runtime/cudaq/ptsbe/PTSBEResult.h
  runtime/cudaq/ptsbe/PTSBESample.h
  targettests/ptsbe/mcm_rejection.cpp
  targettests/ptsbe/sample_intercept.cpp
  unittests/CMakeLists.txt
  unittests/ptsbe/PTSBEInterfaceTester.cpp
  unittests/ptsbe/PTSBESampleTester.cpp
Due: spellcheck-allowlist-sorted

[PTSBE] Adding sampling strategies (#3848)
  runtime/common/NoiseModel.cpp
  runtime/common/NoiseModel.h
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/ptsbe/CMakeLists.txt
  runtime/cudaq/ptsbe/PTSBEInterface.h
  runtime/cudaq/ptsbe/PTSSamplingStrategy.cpp
  runtime/cudaq/ptsbe/PTSSamplingStrategy.h
  runtime/cudaq/ptsbe/strategies/ConditionalSamplingStrategy.cpp
  runtime/cudaq/ptsbe/strategies/ConditionalSamplingStrategy.h
  runtime/cudaq/ptsbe/strategies/ExhaustiveSamplingStrategy.cpp
  runtime/cudaq/ptsbe/strategies/ExhaustiveSamplingStrategy.h
  runtime/cudaq/ptsbe/strategies/OrderedSamplingStrategy.cpp
  runtime/cudaq/ptsbe/strategies/OrderedSamplingStrategy.h
  runtime/cudaq/ptsbe/strategies/ProbabilisticSamplingStrategy.cpp
  runtime/cudaq/ptsbe/strategies/ProbabilisticSamplingStrategy.h
  unittests/CMakeLists.txt
  unittests/ptsbe/PTSSamplingStrategyTester.cpp
Due: none

[PTSBE] Add support for async/broadcasting (#3851)
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/algorithms/sample.h
  runtime/cudaq/ptsbe/CMakeLists.txt
  runtime/cudaq/ptsbe/PTSBESampleIntegration.cpp
  runtime/cudaq/ptsbe/PTSBESampleIntegration.h
  runtime/cudaq/ptsbe/PTSBESampler.cpp
  runtime/cudaq/ptsbe/PTSBESampler.h
  targettests/ptsbe/mcm_rejection.cpp
  targettests/ptsbe/sample_intercept.cpp
  unittests/ptsbe/ExecutePTSBETester.cpp
  unittests/ptsbe/MergeTasksWithTrajectoryTester.cpp
  unittests/ptsbe/PTSBEInterfaceTester.cpp
  unittests/ptsbe/PTSBESampleTester.cpp
  unittests/ptsbe/TraceConversionTester.cpp
Due: none

Fix rebasing issues surrounding context handling updates for PTSBE.
  runtime/cudaq/ptsbe/PTSBESampleIntegration.h
  runtime/cudaq/ptsbe/PTSBESampler.cpp
  unittests/ptsbe/ExecutePTSBETester.cpp
Due: none

formatting
  runtime/cudaq/ptsbe/NoiseExtractor.cpp
  runtime/cudaq/ptsbe/NoiseExtractor.h
  unittests/ptsbe/NoiseExtractorTester.cpp
Due: none

Adding NoiseExtractor to extract noise from a circuit trace
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/ptsbe/CMakeLists.txt
  runtime/cudaq/ptsbe/NoiseExtractor.cpp
  runtime/cudaq/ptsbe/NoiseExtractor.h
  unittests/CMakeLists.txt
  unittests/ptsbe/NoiseExtractorTester.cpp
Due: none

removing PTSSamplingStrategy.cpp from cmake
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/ptsbe/CMakeLists.txt
Due: none

[runtime] Add deprecated context methods in quantum_platform (#3871)
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
Due: none

Removing cudaq-mlir-runtime dependency on cudaq
  python/extension/CMakeLists.txt
  python/runtime/cudaq/algorithms/py_run.cpp
  runtime/common/CMakeLists.txt
  runtime/common/JIT.cpp
  runtime/common/JIT.h
  runtime/common/LayoutInfo.cpp
  runtime/common/LayoutInfo.h
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/algorithms/run.cpp
  runtime/cudaq/algorithms/run.h
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteServer.cpp
Due: none

Apply formatting. Moving getLayoutInfo into cudaq namespace
  python/runtime/cudaq/algorithms/py_run.cpp
  runtime/common/JIT.cpp
  runtime/common/JIT.h
  runtime/common/LayoutInfo.cpp
  runtime/common/LayoutInfo.h
  runtime/cudaq/algorithms/run.cpp
  runtime/cudaq/algorithms/run.h
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteServer.cpp
Due: none

* NoiseExtractor simplified * Strategies use NoisePoint/channel API * NoiseExtractorTester fixes * PTSSamplingStrategyTester fixes
  runtime/cudaq/ptsbe/NoiseExtractor.cpp
  runtime/cudaq/ptsbe/NoiseExtractor.h
  runtime/cudaq/ptsbe/strategies/ConditionalSamplingStrategy.cpp
  runtime/cudaq/ptsbe/strategies/ExhaustiveSamplingStrategy.cpp
  runtime/cudaq/ptsbe/strategies/OrderedSamplingStrategy.cpp
  runtime/cudaq/ptsbe/strategies/ProbabilisticSamplingStrategy.cpp
  unittests/ptsbe/NoiseExtractorTester.cpp
  unittests/ptsbe/PTSSamplingStrategyTester.cpp
Due: none

Fix missing variables.
  scripts/build_installer.sh
  scripts/set_env_defaults.sh
Due: none

DCO Remediation Commit for Thomas Alexander <talexander@nvidia.com>
  scripts/build_installer.sh
Due: none

* Remove redundant NoiseExtractor tests * Add constants to make qubit/gate relationship explicit * Remove unused createParameterizedCircuit() helper
  unittests/ptsbe/NoiseExtractorTester.cpp
Due: none

Docs preview for PR #3412.
  pr-3412/api/languages/python_api.html
  pr-3412/api/languages/python_api.md
  pr-3412/applications/python/adapt_qaoa.html
  pr-3412/applications/python/adapt_qaoa.md
  pr-3412/applications/python/adapt_vqe.html
  pr-3412/applications/python/adapt_vqe.md
  pr-3412/applications/python/deutsch_algorithm.html
  pr-3412/applications/python/deutsch_algorithm.md
  pr-3412/applications/python/edge_detection.html
  pr-3412/applications/python/edge_detection.md
  pr-3412/applications/python/grovers.html
  pr-3412/applications/python/grovers.md
  pr-3412/applications/python/qm_mm_pe.html
  pr-3412/applications/python/qm_mm_pe.md
  pr-3412/applications/python/quantum_fourier_transform.html
  pr-3412/applications/python/quantum_fourier_transform.ipynb
  pr-3412/applications/python/quantum_fourier_transform.md
  pr-3412/applications/python/quantum_teleportation.ipynb
  pr-3412/applications/python/quantum_transformer.html
  pr-3412/applications/python/quantum_transformer.md
  pr-3412/applications/python/skqd.html
  pr-3412/applications/python/skqd.md
  pr-3412/examples/python/performance_optimizations.html
  pr-3412/examples/python/performance_optimizations.md
  pr-3412/searchindex.js
Due: markdown-link-check

Docs preview for PR #3875.
  pr-3875/api/languages/python_api.html
  pr-3875/api/languages/python_api.md
  pr-3875/applications/python/adapt_qaoa.html
  pr-3875/applications/python/adapt_qaoa.md
  pr-3875/applications/python/adapt_vqe.html
  pr-3875/applications/python/adapt_vqe.md
  pr-3875/applications/python/deutsch_algorithm.html
  pr-3875/applications/python/deutsch_algorithm.md
  pr-3875/applications/python/edge_detection.html
  pr-3875/applications/python/edge_detection.md
  pr-3875/applications/python/grovers.html
  pr-3875/applications/python/grovers.md
  pr-3875/applications/python/qm_mm_pe.html
  pr-3875/applications/python/qm_mm_pe.md
  pr-3875/applications/python/quantum_fourier_transform.html
  pr-3875/applications/python/quantum_fourier_transform.ipynb
  pr-3875/applications/python/quantum_fourier_transform.md
  pr-3875/applications/python/quantum_teleportation.ipynb
  pr-3875/applications/python/quantum_transformer.html
  pr-3875/applications/python/quantum_transformer.md
  pr-3875/applications/python/skqd.html
  pr-3875/applications/python/skqd.md
  pr-3875/examples/python/performance_optimizations.html
  pr-3875/examples/python/performance_optimizations.md
  pr-3875/searchindex.js
Due: markdown-link-check

Cleaning up header files
  runtime/common/LayoutInfo.cpp
  runtime/cudaq/algorithms/run.cpp
Due: none

custabilizer backend
  CMakeLists.txt
  python/tests/backends/test_custabilizer.py
  runtime/nvqir/CMakeLists.txt
  runtime/nvqir/custabilizer/CMakeLists.txt
  runtime/nvqir/custabilizer/CustabilizerCircuitSimulator.cpp
  runtime/nvqir/custabilizer/CustabilizerErrorHandling.h
  runtime/nvqir/custabilizer/custabilizer.yml
  runtime/nvqir/stim/StimCircuitSimulator.cpp
  runtime/nvqir/stim/StimCircuitSimulator.h
Due: none

Docs preview for PR #3840.
  pr-3840/api/languages/python_api.html
  pr-3840/api/languages/python_api.md
  pr-3840/applications/python/adapt_qaoa.html
  pr-3840/applications/python/adapt_qaoa.md
  pr-3840/applications/python/adapt_vqe.html
  pr-3840/applications/python/adapt_vqe.md
  pr-3840/applications/python/deutsch_algorithm.html
  pr-3840/applications/python/deutsch_algorithm.md
  pr-3840/applications/python/edge_detection.html
  pr-3840/applications/python/edge_detection.md
  pr-3840/applications/python/grovers.html
  pr-3840/applications/python/grovers.md
  pr-3840/applications/python/qm_mm_pe.html
  pr-3840/applications/python/qm_mm_pe.md
  pr-3840/applications/python/quantum_fourier_transform.html
  pr-3840/applications/python/quantum_fourier_transform.ipynb
  pr-3840/applications/python/quantum_fourier_transform.md
  pr-3840/applications/python/quantum_teleportation.ipynb
  pr-3840/applications/python/quantum_transformer.html
  pr-3840/applications/python/quantum_transformer.md
  pr-3840/applications/python/skqd.html
  pr-3840/applications/python/skqd.md
  pr-3840/examples/python/performance_optimizations.html
  pr-3840/examples/python/performance_optimizations.md
  pr-3840/searchindex.js
  pr-3840/using/install/data_center_install.html
  pr-3840/using/install/data_center_install.md
Due: markdown-link-check

Removing cudaq-mlir-runtime dependency on cudaq (#3876)
  python/extension/CMakeLists.txt
  python/runtime/cudaq/algorithms/py_run.cpp
  runtime/common/CMakeLists.txt
  runtime/common/JIT.cpp
  runtime/common/JIT.h
  runtime/common/LayoutInfo.cpp
  runtime/common/LayoutInfo.h
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/algorithms/run.cpp
  runtime/cudaq/algorithms/run.h
  runtime/cudaq/platform/default/rest_server/helpers/RestRemoteServer.cpp
Due: none

Docs preview for PR #3876.
  pr-3876/api/languages/python_api.html
  pr-3876/api/languages/python_api.md
  pr-3876/applications/python/adapt_qaoa.html
  pr-3876/applications/python/adapt_qaoa.md
  pr-3876/applications/python/adapt_vqe.html
  pr-3876/applications/python/adapt_vqe.md
  pr-3876/applications/python/deutsch_algorithm.html
  pr-3876/applications/python/deutsch_algorithm.md
  pr-3876/applications/python/edge_detection.html
  pr-3876/applications/python/edge_detection.md
  pr-3876/applications/python/grovers.html
  pr-3876/applications/python/grovers.md
  pr-3876/applications/python/qm_mm_pe.html
  pr-3876/applications/python/qm_mm_pe.md
  pr-3876/applications/python/quantum_fourier_transform.html
  pr-3876/applications/python/quantum_fourier_transform.ipynb
  pr-3876/applications/python/quantum_fourier_transform.md
  pr-3876/applications/python/quantum_teleportation.ipynb
  pr-3876/applications/python/quantum_transformer.html
  pr-3876/applications/python/quantum_transformer.md
  pr-3876/applications/python/skqd.html
  pr-3876/applications/python/skqd.md
  pr-3876/examples/python/performance_optimizations.html
  pr-3876/examples/python/performance_optimizations.md
  pr-3876/searchindex.js
Due: markdown-link-check

Docs preview for PR #3800.
  pr-3800/api/languages/python_api.html
  pr-3800/api/languages/python_api.md
  pr-3800/applications/python/adapt_qaoa.html
  pr-3800/applications/python/adapt_qaoa.md
  pr-3800/applications/python/adapt_vqe.html
  pr-3800/applications/python/adapt_vqe.md
  pr-3800/applications/python/deutsch_algorithm.html
  pr-3800/applications/python/deutsch_algorithm.md
  pr-3800/applications/python/edge_detection.html
  pr-3800/applications/python/edge_detection.md
  pr-3800/applications/python/grovers.html
  pr-3800/applications/python/grovers.md
  pr-3800/applications/python/qm_mm_pe.html
  pr-3800/applications/python/qm_mm_pe.md
  pr-3800/applications/python/quantum_fourier_transform.html
  pr-3800/applications/python/quantum_fourier_transform.ipynb
  pr-3800/applications/python/quantum_fourier_transform.md
  pr-3800/applications/python/quantum_teleportation.ipynb
  pr-3800/applications/python/quantum_transformer.html
  pr-3800/applications/python/quantum_transformer.md
  pr-3800/applications/python/skqd.html
  pr-3800/applications/python/skqd.md
  pr-3800/examples/python/performance_optimizations.html
  pr-3800/examples/python/performance_optimizations.md
  pr-3800/searchindex.js
Due: markdown-link-check

ghcr.io/nvidia/cuda-quantum-dev@sha256:b1d87b4d0b3e2dc730c91df83b573381ab6d7ae3f833beacd220728da31b0676
  deployments/staging/cuda-quantum-dev/b1d87b4d0b3e2dc730c91df83b573381ab6d7ae3f833beacd220728da31b0676
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:932dcf330b0bde48107614b628657c5935ad2b26d250065d4d0a90f021bd3467
  deployments/staging/cuda-quantum-dev/932dcf330b0bde48107614b628657c5935ad2b26d250065d4d0a90f021bd3467
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:bf4257310355d739adb90734581e2aaedd466075f764d1b493b7aab3ed3d4788
  deployments/staging/cuda-quantum-devdeps/bf4257310355d739adb90734581e2aaedd466075f764d1b493b7aab3ed3d4788
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:6e743881b03f0fece493ab3fc8b6b12f7da0cedc885c77e172837377a1d55de5
  deployments/staging/cuda-quantum-devdeps/6e743881b03f0fece493ab3fc8b6b12f7da0cedc885c77e172837377a1d55de5
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:bbe2a599c8fff628a38115e45591c2121a1eccf41bda552a13713adf57f2bbe4
  deployments/staging/cuda-quantum-devdeps/bbe2a599c8fff628a38115e45591c2121a1eccf41bda552a13713adf57f2bbe4
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:2b6f246c235077181092cadde659c933e5c1204171c20452eb2212a5906707e2
  deployments/staging/cuda-quantum-devdeps/2b6f246c235077181092cadde659c933e5c1204171c20452eb2212a5906707e2
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:d6f9ed7c9c04a9af867236f6a3b0cab4dd1d0bce08a8448c37b3dfdbb4b2adca
  deployments/staging/cuda-quantum-assets/d6f9ed7c9c04a9af867236f6a3b0cab4dd1d0bce08a8448c37b3dfdbb4b2adca
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:9cf7876bf77e6c3641b4f056e0c4fecab3b9b1770ce80495e9f915e644b01549
  deployments/staging/cuda-quantum-assets/9cf7876bf77e6c3641b4f056e0c4fecab3b9b1770ce80495e9f915e644b01549
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
