Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

feat(scaleway): wip register
  runtime/cudaq/platform/default/rest/helpers/scaleway/ScalewayServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/scaleway/qio/QuantumComputationParameters.cpp
Due: none

Docs preview for PR #3944.
  pr-3944/api/languages/python_api.html
  pr-3944/api/languages/python_api.md
  pr-3944/applications/python/adapt_qaoa.html
  pr-3944/applications/python/adapt_qaoa.md
  pr-3944/applications/python/adapt_vqe.html
  pr-3944/applications/python/adapt_vqe.md
  pr-3944/applications/python/deutsch_algorithm.html
  pr-3944/applications/python/deutsch_algorithm.md
  pr-3944/applications/python/edge_detection.html
  pr-3944/applications/python/edge_detection.md
  pr-3944/applications/python/grovers.html
  pr-3944/applications/python/grovers.md
  pr-3944/applications/python/qm_mm_pe.html
  pr-3944/applications/python/qm_mm_pe.md
  pr-3944/applications/python/quantum_fourier_transform.html
  pr-3944/applications/python/quantum_fourier_transform.ipynb
  pr-3944/applications/python/quantum_fourier_transform.md
  pr-3944/applications/python/quantum_teleportation.ipynb
  pr-3944/applications/python/quantum_transformer.html
  pr-3944/applications/python/quantum_transformer.md
  pr-3944/applications/python/skqd.html
  pr-3944/applications/python/skqd.md
  pr-3944/examples/python/performance_optimizations.html
  pr-3944/examples/python/performance_optimizations.md
  pr-3944/examples/python/ptsbe_end_to_end_workflow.ipynb
  pr-3944/searchindex.js
Due: markdown-link-check

Update the doc and lib name
  .github/workflows/realtime_ci.yml
  realtime/.clang-format
  realtime/CMakeLists.txt
  realtime/README.md
  realtime/docs/cudaq_realtime_host_api.html
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/include/cudaq/realtime/daemon/dispatcher/dispatch_kernel.cuh
  realtime/include/cudaq/realtime/daemon/dispatcher/dispatch_kernel_launch.h
  realtime/include/cudaq/realtime/daemon/dispatcher/dispatch_modes.h
  realtime/include/cudaq/realtime/daemon/dispatcher/kernel_types.h
  realtime/lib/CMakeLists.txt
  realtime/lib/daemon/CMakeLists.txt
  realtime/lib/daemon/dispatcher/cudaq_realtime_api.cpp
  realtime/lib/daemon/dispatcher/dispatch_kernel.cu
  realtime/unittests/CMakeLists.txt
  realtime/unittests/test_dispatch_kernel.cu
Due: markdown-link-check

[PTSBE] Integration tests with edge cases (#3944)
  python/tests/ptsbe/async_broadcast.py
  python/tests/ptsbe/conftest.py
  python/tests/ptsbe/errors.py
  python/tests/ptsbe/execution_data.py
  python/tests/ptsbe/result.py
  python/tests/ptsbe/sample.py
  python/tests/ptsbe/strategies.py
  python/tests/ptsbe/test_async_broadcast.py
  python/tests/ptsbe/test_common.py
  python/tests/ptsbe/test_errors.py
  python/tests/ptsbe/test_execution_data.py
  python/tests/ptsbe/test_noise_analytical.py
  python/tests/ptsbe/test_ptsbe.py
  python/tests/ptsbe/test_result.py
  python/tests/ptsbe/test_sample.py
  python/tests/ptsbe/test_strategies.py
Due: none

Docs preview for PR #3948.
  pr-3948/api/languages/python_api.html
  pr-3948/api/languages/python_api.md
  pr-3948/applications/python/adapt_qaoa.html
  pr-3948/applications/python/adapt_qaoa.md
  pr-3948/applications/python/adapt_vqe.html
  pr-3948/applications/python/adapt_vqe.md
  pr-3948/applications/python/deutsch_algorithm.html
  pr-3948/applications/python/deutsch_algorithm.md
  pr-3948/applications/python/edge_detection.html
  pr-3948/applications/python/edge_detection.md
  pr-3948/applications/python/grovers.html
  pr-3948/applications/python/grovers.md
  pr-3948/applications/python/qm_mm_pe.html
  pr-3948/applications/python/qm_mm_pe.md
  pr-3948/applications/python/quantum_fourier_transform.html
  pr-3948/applications/python/quantum_fourier_transform.ipynb
  pr-3948/applications/python/quantum_fourier_transform.md
  pr-3948/applications/python/quantum_teleportation.ipynb
  pr-3948/applications/python/quantum_transformer.html
  pr-3948/applications/python/quantum_transformer.md
  pr-3948/applications/python/skqd.html
  pr-3948/applications/python/skqd.md
  pr-3948/examples/python/performance_optimizations.html
  pr-3948/examples/python/performance_optimizations.md
  pr-3948/searchindex.js
Due: markdown-link-check

Updated documentation
  realtime/docs/cudaq_realtime_host_api.html
  realtime/docs/cudaq_realtime_message_protocol.html
Due: none

clang format
  realtime/include/cudaq/nvqlink/daemon/dispatcher/cudaq_realtime.h
  realtime/include/cudaq/nvqlink/daemon/dispatcher/dispatch_kernel_launch.h
  realtime/include/cudaq/nvqlink/hololink_bridge_common.h
  realtime/unittests/utils/hololink_bridge.cpp
  realtime/unittests/utils/hololink_fpga_emulator.cpp
  realtime/unittests/utils/hololink_fpga_playback.cpp
  realtime/unittests/utils/hololink_wrapper.cpp
  realtime/unittests/utils/hololink_wrapper.h
Due: none

Update spelling allow list
  .github/pre-commit/spelling_allowlist.txt
Due: spellcheck-allowlist-sorted

More updates to spelling allowlist
  .github/pre-commit/spelling_allowlist.txt
Due: spellcheck-allowlist-sorted

More spelling allowlist changes
  .github/pre-commit/spelling_allowlist.txt
Due: spellcheck-allowlist-sorted

Put license headers in html
  realtime/docs/cudaq_realtime_host_api.html
  realtime/docs/cudaq_realtime_message_protocol.html
Due: none

Fix macos devdeps cache invalidation on Github actions runner update (#3950)
  .github/workflows/ci_macos.yml
  .github/workflows/dev_environment_macos.yml
Due: none

Re-enable run caching with new updates
  python/runtime/cudaq/algorithms/py_run.cpp
Due: none

copy CITATION.cff to assets
  docker/build/assets.Dockerfile
Due: none

Docs preview for PR #3804.
  pr-3804/api/languages/cpp_api.html
  pr-3804/api/languages/cpp_api.md
  pr-3804/api/languages/python_api.html
  pr-3804/api/languages/python_api.md
  pr-3804/applications/python/adapt_qaoa.html
  pr-3804/applications/python/adapt_qaoa.md
  pr-3804/applications/python/adapt_vqe.html
  pr-3804/applications/python/adapt_vqe.md
  pr-3804/applications/python/deutsch_algorithm.html
  pr-3804/applications/python/deutsch_algorithm.md
  pr-3804/applications/python/edge_detection.html
  pr-3804/applications/python/edge_detection.md
  pr-3804/applications/python/grovers.html
  pr-3804/applications/python/grovers.md
  pr-3804/applications/python/qm_mm_pe.html
  pr-3804/applications/python/qm_mm_pe.md
  pr-3804/applications/python/quantum_fourier_transform.html
  pr-3804/applications/python/quantum_fourier_transform.ipynb
  pr-3804/applications/python/quantum_fourier_transform.md
  pr-3804/applications/python/quantum_teleportation.ipynb
  pr-3804/applications/python/quantum_transformer.html
  pr-3804/applications/python/quantum_transformer.md
  pr-3804/applications/python/skqd.html
  pr-3804/applications/python/skqd.md
  pr-3804/examples/python/performance_optimizations.html
  pr-3804/examples/python/performance_optimizations.md
  pr-3804/genindex.html
  pr-3804/genindex.md
  pr-3804/objects.inv
  pr-3804/searchindex.js
Due: markdown-link-check

Docs preview for PR #3800.
  pr-3800/api/languages/python_api.html
  pr-3800/api/languages/python_api.md
  pr-3800/applications/python/adapt_qaoa.html
  pr-3800/applications/python/adapt_qaoa.md
  pr-3800/applications/python/adapt_vqe.html
  pr-3800/applications/python/adapt_vqe.md
  pr-3800/applications/python/deutsch_algorithm.html
  pr-3800/applications/python/deutsch_algorithm.md
  pr-3800/applications/python/edge_detection.html
  pr-3800/applications/python/edge_detection.md
  pr-3800/applications/python/grovers.html
  pr-3800/applications/python/grovers.md
  pr-3800/applications/python/qm_mm_pe.html
  pr-3800/applications/python/qm_mm_pe.md
  pr-3800/applications/python/quantum_fourier_transform.html
  pr-3800/applications/python/quantum_fourier_transform.ipynb
  pr-3800/applications/python/quantum_fourier_transform.md
  pr-3800/applications/python/quantum_teleportation.ipynb
  pr-3800/applications/python/quantum_transformer.html
  pr-3800/applications/python/quantum_transformer.md
  pr-3800/applications/python/skqd.html
  pr-3800/applications/python/skqd.md
  pr-3800/examples/python/performance_optimizations.html
  pr-3800/examples/python/performance_optimizations.md
  pr-3800/searchindex.js
Due: markdown-link-check

Docs preview for PR #3943.
  pr-3943/api/languages/python_api.html
  pr-3943/api/languages/python_api.md
  pr-3943/applications/python/adapt_qaoa.html
  pr-3943/applications/python/adapt_qaoa.md
  pr-3943/applications/python/adapt_vqe.html
  pr-3943/applications/python/adapt_vqe.md
  pr-3943/applications/python/deutsch_algorithm.html
  pr-3943/applications/python/deutsch_algorithm.md
  pr-3943/applications/python/edge_detection.html
  pr-3943/applications/python/edge_detection.md
  pr-3943/applications/python/grovers.html
  pr-3943/applications/python/grovers.md
  pr-3943/applications/python/qm_mm_pe.html
  pr-3943/applications/python/qm_mm_pe.md
  pr-3943/applications/python/quantum_fourier_transform.html
  pr-3943/applications/python/quantum_fourier_transform.ipynb
  pr-3943/applications/python/quantum_fourier_transform.md
  pr-3943/applications/python/quantum_teleportation.ipynb
  pr-3943/applications/python/quantum_transformer.html
  pr-3943/applications/python/quantum_transformer.md
  pr-3943/applications/python/skqd.html
  pr-3943/applications/python/skqd.md
  pr-3943/examples/python/performance_optimizations.html
  pr-3943/examples/python/performance_optimizations.md
  pr-3943/searchindex.js
Due: markdown-link-check

Docs preview for PR #3804.
  pr-3804/api/languages/python_api.html
  pr-3804/api/languages/python_api.md
  pr-3804/applications/python/adapt_qaoa.html
  pr-3804/applications/python/adapt_qaoa.md
  pr-3804/applications/python/adapt_vqe.html
  pr-3804/applications/python/adapt_vqe.md
  pr-3804/applications/python/deutsch_algorithm.html
  pr-3804/applications/python/deutsch_algorithm.md
  pr-3804/applications/python/edge_detection.html
  pr-3804/applications/python/edge_detection.md
  pr-3804/applications/python/grovers.html
  pr-3804/applications/python/grovers.md
  pr-3804/applications/python/qm_mm_pe.html
  pr-3804/applications/python/qm_mm_pe.md
  pr-3804/applications/python/quantum_fourier_transform.html
  pr-3804/applications/python/quantum_fourier_transform.ipynb
  pr-3804/applications/python/quantum_fourier_transform.md
  pr-3804/applications/python/quantum_teleportation.ipynb
  pr-3804/applications/python/quantum_transformer.html
  pr-3804/applications/python/quantum_transformer.md
  pr-3804/applications/python/skqd.html
  pr-3804/applications/python/skqd.md
  pr-3804/examples/python/performance_optimizations.html
  pr-3804/examples/python/performance_optimizations.md
  pr-3804/searchindex.js
Due: markdown-link-check

[build] Fix macOS wheel validation to catch packaging failures
  scripts/validate_pycudaq.sh
Due: none

Fix up validation script to pull in other tests that were previously missing due to symlinks.
  .github/workflows/ci_macos.yml
  scripts/validate_pycudaq.sh
Due: none

[build] Add @loader_path rpaths for macOS wheel dylibs
  CMakeLists.txt
Due: none

Clean up old target tests.
  scripts/validate_pycudaq.sh
Due: none

[CI] Update mpi4py version in `cudaq.ext.Dockerfile` (#3947)
  docker/release/cudaq.ext.Dockerfile
Due: none

* Fix run tests for QIR adaptive profile - create return vector beforehand.
  targettests/execution/IQPE_conditionals.cpp
  targettests/execution/global_reg_run.cpp
  targettests/execution/qir_simple_cond-1.cpp
Due: none

Docs preview for PR #3954.
  pr-3954/api/languages/python_api.html
  pr-3954/api/languages/python_api.md
  pr-3954/applications/python/adapt_qaoa.html
  pr-3954/applications/python/adapt_qaoa.md
  pr-3954/applications/python/adapt_vqe.html
  pr-3954/applications/python/adapt_vqe.md
  pr-3954/applications/python/deutsch_algorithm.html
  pr-3954/applications/python/deutsch_algorithm.md
  pr-3954/applications/python/edge_detection.html
  pr-3954/applications/python/edge_detection.md
  pr-3954/applications/python/grovers.html
  pr-3954/applications/python/grovers.md
  pr-3954/applications/python/qm_mm_pe.html
  pr-3954/applications/python/qm_mm_pe.md
  pr-3954/applications/python/quantum_fourier_transform.html
  pr-3954/applications/python/quantum_fourier_transform.ipynb
  pr-3954/applications/python/quantum_fourier_transform.md
  pr-3954/applications/python/quantum_teleportation.ipynb
  pr-3954/applications/python/quantum_transformer.html
  pr-3954/applications/python/quantum_transformer.md
  pr-3954/applications/python/skqd.html
  pr-3954/applications/python/skqd.md
  pr-3954/examples/python/performance_optimizations.html
  pr-3954/examples/python/performance_optimizations.md
  pr-3954/searchindex.js
Due: markdown-link-check

Docs preview for PR #3953.
  pr-3953/api/languages/python_api.html
  pr-3953/api/languages/python_api.md
  pr-3953/applications/python/adapt_qaoa.html
  pr-3953/applications/python/adapt_qaoa.md
  pr-3953/applications/python/adapt_vqe.html
  pr-3953/applications/python/adapt_vqe.md
  pr-3953/applications/python/deutsch_algorithm.html
  pr-3953/applications/python/deutsch_algorithm.md
  pr-3953/applications/python/edge_detection.html
  pr-3953/applications/python/edge_detection.md
  pr-3953/applications/python/grovers.html
  pr-3953/applications/python/grovers.md
  pr-3953/applications/python/qm_mm_pe.html
  pr-3953/applications/python/qm_mm_pe.md
  pr-3953/applications/python/quantum_fourier_transform.html
  pr-3953/applications/python/quantum_fourier_transform.ipynb
  pr-3953/applications/python/quantum_fourier_transform.md
  pr-3953/applications/python/quantum_teleportation.ipynb
  pr-3953/applications/python/quantum_transformer.html
  pr-3953/applications/python/quantum_transformer.md
  pr-3953/applications/python/skqd.html
  pr-3953/applications/python/skqd.md
  pr-3953/examples/python/performance_optimizations.html
  pr-3953/examples/python/performance_optimizations.md
  pr-3953/searchindex.js
Due: markdown-link-check

Change test order to avoid sequential test fail
  python/tests/kernel/test_kernel_features.py
Due: none

Putting SKIP_RETURN_CODE 77 back. They are needed on macOS
  unittests/backends/iqm/CMakeLists.txt
Due: none
