Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

adding a blank line
  docs/sphinx/using/examples/dynamics_examples.rst
Due: none

* Address the fallout from mega-merger - restore code and update tests
  lib/Optimizer/CodeGen/ConvertToQIR.cpp
  lib/Optimizer/CodeGen/ConvertToQIRAPI.cpp
  test/AST-Quake/qalloc_initialization.cpp
  test/AST-Quake/to_qir.cpp
  test/Translate/return_values.qke
Due: none

Docs preview for PR #4229.
  pr-4229/api/languages/python_api.html
  pr-4229/api/languages/python_api.md
  pr-4229/applications/python/adapt_qaoa.html
  pr-4229/applications/python/adapt_qaoa.md
  pr-4229/applications/python/adapt_vqe.html
  pr-4229/applications/python/adapt_vqe.md
  pr-4229/applications/python/deutsch_algorithm.html
  pr-4229/applications/python/deutsch_algorithm.md
  pr-4229/applications/python/edge_detection.html
  pr-4229/applications/python/edge_detection.md
  pr-4229/applications/python/grovers.html
  pr-4229/applications/python/grovers.md
  pr-4229/applications/python/qm_mm_pe.html
  pr-4229/applications/python/qm_mm_pe.md
  pr-4229/applications/python/quantum_fourier_transform.html
  pr-4229/applications/python/quantum_fourier_transform.ipynb
  pr-4229/applications/python/quantum_fourier_transform.md
  pr-4229/applications/python/skqd.html
  pr-4229/applications/python/skqd.md
  pr-4229/examples/python/performance_optimizations.html
  pr-4229/examples/python/performance_optimizations.md
  pr-4229/notebook_validation.py
  pr-4229/searchindex.js
Due: markdown-link-check

* Measurements size op changes that belong here
  lib/Frontend/nvqpp/ConvertExpr.cpp
  runtime/cudaq/builder/QuakeValue.cpp
Due: none

* Simply the changes - remove those which actually beong to PR #3800 and PR #4000, add one more test. Collectively these changes should make the code coverage happy.
  lib/Frontend/nvqpp/ConvertExpr.cpp
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/quake_value.py
  python/runtime/mlir/py_register_dialects.cpp
  runtime/cudaq/builder/QuakeValue.cpp
  test/Transforms/measurements_size.qke
Due: none

Docs preview for PR #3800.
  pr-3800/api/languages/python_api.html
  pr-3800/api/languages/python_api.md
  pr-3800/applications/python/adapt_qaoa.html
  pr-3800/applications/python/adapt_qaoa.md
  pr-3800/applications/python/adapt_vqe.html
  pr-3800/applications/python/adapt_vqe.md
  pr-3800/applications/python/deutsch_algorithm.html
  pr-3800/applications/python/deutsch_algorithm.md
  pr-3800/applications/python/edge_detection.html
  pr-3800/applications/python/edge_detection.md
  pr-3800/applications/python/grovers.html
  pr-3800/applications/python/grovers.md
  pr-3800/applications/python/qm_mm_pe.html
  pr-3800/applications/python/qm_mm_pe.md
  pr-3800/applications/python/quantum_fourier_transform.html
  pr-3800/applications/python/quantum_fourier_transform.ipynb
  pr-3800/applications/python/quantum_fourier_transform.md
  pr-3800/applications/python/skqd.html
  pr-3800/applications/python/skqd.md
  pr-3800/examples/python/performance_optimizations.html
  pr-3800/examples/python/performance_optimizations.md
  pr-3800/searchindex.js
Due: markdown-link-check

ghcr.io/nvidia/cuda-quantum-dev@sha256:27761621cf334b63bc816cb5f956092ed18333a3b8f4a604e17edaea42907609
  deployments/staging/cuda-quantum-dev/27761621cf334b63bc816cb5f956092ed18333a3b8f4a604e17edaea42907609
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:0dbde857b8a2dcd710f3bdf6fb5707a8888d66281e525ce65178e21fe2f54216
  deployments/staging/cuda-quantum-dev/0dbde857b8a2dcd710f3bdf6fb5707a8888d66281e525ce65178e21fe2f54216
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:2a771c18928dc8870c4a10f02f406a8600f180942a76752ff9a8386e462bb920
  deployments/staging/cuda-quantum-devdeps/2a771c18928dc8870c4a10f02f406a8600f180942a76752ff9a8386e462bb920
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:6d5617fa075b1e7d97a77ea543553f163cb2010643a1029607bff836ff90b331
  deployments/staging/cuda-quantum-devdeps/6d5617fa075b1e7d97a77ea543553f163cb2010643a1029607bff836ff90b331
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:02deffac92a36169336b1a801944c70876ee25cedb53fc538def85320a2b90b3
  deployments/staging/cuda-quantum-devdeps/02deffac92a36169336b1a801944c70876ee25cedb53fc538def85320a2b90b3
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:04965202e54a3b0abec77c7ad343da52a756d3f2a6eb141ab4dc9a465e321047
  deployments/staging/cuda-quantum-devdeps/04965202e54a3b0abec77c7ad343da52a756d3f2a6eb141ab4dc9a465e321047
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:a8366f619553e803fee0a5b52edf4e48a51d41adaeda23cdd242b0ca93906dab
  deployments/staging/cuda-quantum-assets/a8366f619553e803fee0a5b52edf4e48a51d41adaeda23cdd242b0ca93906dab
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:4924d0952fd6aef2e5ed5fb907662fa4d3887a569217e185570d5cf2811dd561
  deployments/staging/cuda-quantum-assets/4924d0952fd6aef2e5ed5fb907662fa4d3887a569217e185570d5cf2811dd561
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:87ecfaf16140575d96f150e9264b16b7e71379defd0d79a0ab4f0aacbff4ec4e
  deployments/staging/cuda-quantum-assets/87ecfaf16140575d96f150e9264b16b7e71379defd0d79a0ab4f0aacbff4ec4e
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:3d19e714f3ee99aadd04b26838f1e07b1618b71608aa7612f92ab8f1df4cb2b2
  deployments/staging/cuda-quantum-assets/3d19e714f3ee99aadd04b26838f1e07b1618b71608aa7612f92ab8f1df4cb2b2
Due: none

Docs preview for PR #4266.
  pr-4266/api/languages/python_api.html
  pr-4266/api/languages/python_api.md
  pr-4266/applications/python/adapt_qaoa.html
  pr-4266/applications/python/adapt_qaoa.md
  pr-4266/applications/python/adapt_vqe.html
  pr-4266/applications/python/adapt_vqe.md
  pr-4266/applications/python/deutsch_algorithm.html
  pr-4266/applications/python/deutsch_algorithm.md
  pr-4266/applications/python/edge_detection.html
  pr-4266/applications/python/edge_detection.md
  pr-4266/applications/python/grovers.html
  pr-4266/applications/python/grovers.md
  pr-4266/applications/python/qm_mm_pe.html
  pr-4266/applications/python/qm_mm_pe.md
  pr-4266/applications/python/quantum_fourier_transform.html
  pr-4266/applications/python/quantum_fourier_transform.ipynb
  pr-4266/applications/python/quantum_fourier_transform.md
  pr-4266/applications/python/skqd.html
  pr-4266/applications/python/skqd.md
  pr-4266/examples/python/performance_optimizations.html
  pr-4266/examples/python/performance_optimizations.md
  pr-4266/searchindex.js
Due: markdown-link-check

Add hook to set up mpi sub comm
  runtime/cudaq/platform/mqpu/CMakeLists.txt
  runtime/cudaq/platform/mqpu/MPI/QpuProcessGroup.h
  runtime/cudaq/platform/mqpu/MultiQPUPlatform.cpp
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/cutensornet/mpi_support.cpp
  runtime/nvqir/cutensornet/simulator_tensornet.h
  runtime/nvqir/cutensornet/tensornet_utils.h
Due: none

updating docs
  docs/sphinx/snippets/cpp/using/backends/dynamics_integrators.cpp
  docs/sphinx/using/dynamics.rst
Due: none

Docs preview for PR #4247.
  pr-4247/_sources/using/backends/hardware/neutralatom.rst.txt
  pr-4247/api/languages/python_api.html
  pr-4247/api/languages/python_api.md
  pr-4247/applications/python/adapt_qaoa.html
  pr-4247/applications/python/adapt_qaoa.md
  pr-4247/applications/python/adapt_vqe.html
  pr-4247/applications/python/adapt_vqe.md
  pr-4247/applications/python/deutsch_algorithm.html
  pr-4247/applications/python/deutsch_algorithm.md
  pr-4247/applications/python/edge_detection.html
  pr-4247/applications/python/edge_detection.md
  pr-4247/applications/python/grovers.html
  pr-4247/applications/python/grovers.md
  pr-4247/applications/python/qm_mm_pe.html
  pr-4247/applications/python/qm_mm_pe.md
  pr-4247/applications/python/quantum_fourier_transform.html
  pr-4247/applications/python/quantum_fourier_transform.ipynb
  pr-4247/applications/python/quantum_fourier_transform.md
  pr-4247/applications/python/skqd.html
  pr-4247/applications/python/skqd.md
  pr-4247/examples/python/performance_optimizations.html
  pr-4247/examples/python/performance_optimizations.md
  pr-4247/notebook_validation.py
  pr-4247/objects.inv
  pr-4247/searchindex.js
  pr-4247/sphinx/using/backends/hardware/neutralatom.rst
  pr-4247/using/backends/hardware/neutralatom.html
  pr-4247/using/backends/hardware/neutralatom.md
Due: markdown-link-check

Add realtime host dispatcher (#4180)
  .github/workflows/realtime_ci.yml
  realtime/CMakeLists.txt
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/include/cudaq/realtime/daemon/dispatcher/dispatch_kernel_launch.h
  realtime/include/cudaq/realtime/daemon/dispatcher/host_dispatcher.h
  realtime/include/cudaq/realtime/daemon/dispatcher/rpc_wire_format.h
  realtime/lib/daemon/CMakeLists.txt
  realtime/lib/daemon/dispatcher/cudaq_realtime_api.cpp
  realtime/lib/daemon/dispatcher/host_dispatcher.cu
  realtime/lib/daemon/dispatcher/host_dispatcher_capi.cu
  realtime/unittests/CMakeLists.txt
  realtime/unittests/test_host_dispatcher.cu
Due: none

[Realtime][Doc] Port some recent edits to the host API docs (#4172)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/using/realtime/host.md
  realtime/docs/cudaq_realtime_host_api.md
Due: spellcheck-allowlist-sorted, markdown-link-check

[Realtime] Add Hololink bridge support for HOST_LOOP graph dispatch (#4227)
  .github/workflows/realtime_ci.yml
  realtime/docker/assets.Dockerfile
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_wrapper.h
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/include/cudaq/realtime/hololink_bridge_common.h
  realtime/lib/daemon/bridge/hololink/CMakeLists.txt
  realtime/lib/daemon/bridge/hololink/hololink_wrapper.cpp
  realtime/lib/daemon/dispatcher/host_dispatcher.cu
  realtime/scripts/hololink-patches/0003-Allocate-RX-TX-ring-flags-as-CPU_GPU-on-iGPU-for-hos.patch
  realtime/scripts/hololink-patches/0004-Add-set_cpu_ring_buffers-for-HOST_LOOP-dGPU-support.patch
  realtime/unittests/test_host_dispatcher.cu
  realtime/unittests/utils/CMakeLists.txt
  realtime/unittests/utils/hololink_test.sh
Due: none

[Realtime][Testing] Support host dispatch in the `hololink_test` (#4232)
  docs/sphinx/using/realtime/installation.rst
  realtime/include/cudaq/realtime/hololink_bridge_common.h
  realtime/unittests/utils/hololink_bridge.cpp
  realtime/unittests/utils/hololink_test.sh
  realtime/unittests/utils/init_rpc_increment_function_table.cu
Due: none

[Realtime] Add skip_stream_sweep option to host dispatch loop context (#4237)
  realtime/include/cudaq/realtime/daemon/dispatcher/host_dispatcher.h
  realtime/lib/daemon/dispatcher/host_dispatcher.cu
Due: none

Remove HSB patches (#4255)
  .github/workflows/realtime_ci.yml
  realtime/docker/assets.Dockerfile
  realtime/scripts/hololink-patches/0003-Allocate-RX-TX-ring-flags-as-CPU_GPU-on-iGPU-for-hos.patch
  realtime/scripts/hololink-patches/0004-Add-set_cpu_ring_buffers-for-HOST_LOOP-dGPU-support.patch
Due: none

Docs preview for PR #4264.
  pr-4264/_sources/using/dynamics.rst.txt
  pr-4264/api/languages/python_api.html
  pr-4264/api/languages/python_api.md
  pr-4264/applications/python/adapt_qaoa.html
  pr-4264/applications/python/adapt_qaoa.md
  pr-4264/applications/python/adapt_vqe.html
  pr-4264/applications/python/adapt_vqe.md
  pr-4264/applications/python/deutsch_algorithm.html
  pr-4264/applications/python/deutsch_algorithm.md
  pr-4264/applications/python/edge_detection.html
  pr-4264/applications/python/edge_detection.md
  pr-4264/applications/python/grovers.html
  pr-4264/applications/python/grovers.md
  pr-4264/applications/python/qm_mm_pe.html
  pr-4264/applications/python/qm_mm_pe.md
  pr-4264/applications/python/quantum_fourier_transform.html
  pr-4264/applications/python/quantum_fourier_transform.ipynb
  pr-4264/applications/python/quantum_fourier_transform.md
  pr-4264/applications/python/skqd.html
  pr-4264/applications/python/skqd.md
  pr-4264/examples/python/performance_optimizations.html
  pr-4264/examples/python/performance_optimizations.md
  pr-4264/searchindex.js
  pr-4264/sphinx/snippets/cpp/using/backends/dynamics_integrators.cpp
  pr-4264/sphinx/using/dynamics.rst
  pr-4264/using/dynamics.html
  pr-4264/using/dynamics.md
  pr-4264/using/examples/dynamics_examples.html
  pr-4264/using/examples/dynamics_examples.md
Due: markdown-link-check

updating skills as per internal evaluation methods
  .claude/skills/cudaq-guide/SKILL.md
Due: markdown-link-check

Adding integration methods for evolve (#4264)
  docs/sphinx/snippets/cpp/using/backends/dynamics_integrators.cpp
  docs/sphinx/using/dynamics.rst
  docs/sphinx/using/examples/dynamics_examples.rst
  runtime/cudaq/algorithms/integrator.h
  runtime/nvqir/cudensitymat/CMakeLists.txt
  runtime/nvqir/cudensitymat/CrankNicolsonIntegrator.cpp
  runtime/nvqir/cudensitymat/CuDensityMatIntegratorBase.h
  runtime/nvqir/cudensitymat/MagnusIntegrator.cpp
  runtime/nvqir/cudensitymat/RungeKuttaIntegrator.cpp
  unittests/CMakeLists.txt
  unittests/dynamics/test_CrankNicolsonIntegrator.cpp
  unittests/dynamics/test_MagnusIntegrator.cpp
Due: none

formatting
  .claude/skills/cudaq-guide/SKILL.md
Due: markdown-link-check

Clean up
  runtime/cudaq/platform/default/CMakeLists.txt
  runtime/cudaq/platform/default/DefaultQPU.cpp
  runtime/cudaq/platform/default/DefaultQPU.h
  runtime/cudaq/platform/default/DefaultQuantumPlatform.cpp
  runtime/cudaq/platform/mqpu/CMakeLists.txt
  runtime/cudaq/platform/mqpu/MultiQPUPlatform.cpp
  runtime/cudaq/platform/mqpu/custatevec/CMakeLists.txt
  runtime/cudaq/platform/mqpu/custatevec/GPUEmulatedQPU.cpp
  runtime/cudaq/platform/mqpu/helpers/MQPUUtils.cpp
  runtime/cudaq/platform/mqpu/helpers/MQPUUtils.h
  runtime/cudaq/platform/quantum_platform.h
Due: none

Docs preview for PR #4229.
  pr-4229/api/languages/python_api.html
  pr-4229/api/languages/python_api.md
  pr-4229/applications/python/adapt_qaoa.html
  pr-4229/applications/python/adapt_qaoa.md
  pr-4229/applications/python/adapt_vqe.html
  pr-4229/applications/python/adapt_vqe.md
  pr-4229/applications/python/deutsch_algorithm.html
  pr-4229/applications/python/deutsch_algorithm.md
  pr-4229/applications/python/edge_detection.html
  pr-4229/applications/python/edge_detection.md
  pr-4229/applications/python/grovers.html
  pr-4229/applications/python/grovers.md
  pr-4229/applications/python/qm_mm_pe.html
  pr-4229/applications/python/qm_mm_pe.md
  pr-4229/applications/python/quantum_fourier_transform.html
  pr-4229/applications/python/quantum_fourier_transform.ipynb
  pr-4229/applications/python/quantum_fourier_transform.md
  pr-4229/applications/python/skqd.html
  pr-4229/applications/python/skqd.md
  pr-4229/examples/python/performance_optimizations.html
  pr-4229/examples/python/performance_optimizations.md
  pr-4229/searchindex.js
Due: markdown-link-check
