Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

realtime docs + 0.14.0 version added
  docs/sphinx/index.rst
  docs/sphinx/releases.rst
  docs/sphinx/using/install/data_center_install.rst
  docs/sphinx/using/install/local_installation.rst
  docs/sphinx/using/realtime.rst
  docs/sphinx/using/realtime/host.md
  docs/sphinx/using/realtime/installation.rst
  docs/sphinx/using/realtime/protocol.md
Due: markdown-link-check

Rename ptsbe_end_to_end_workflow.ipynb to ptsbe.ipynb.
  docs/sphinx/applications/python/ptsbe.ipynb
Due: none

fix git mv.
  docs/sphinx/applications/python/ptsbe.ipynb
  docs/sphinx/using/applications.rst
Due: none

formatting and spell check
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/using/realtime.rst
  docs/sphinx/using/realtime/host.md
  docs/sphinx/using/realtime/installation.rst
Due: spellcheck-allowlist-sorted, markdown-link-check

forgot one
  docs/sphinx/using/realtime/installation.rst
Due: none

Fix unified dispatch mode on iGPU (DGX Spark) by adding a CPU-proxy TX path alongside the existing BlueFlame TX path for dGPU.
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_doca_transport_ctx.h
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_wrapper.h
  realtime/include/cudaq/realtime/hololink_bridge_common.h
  realtime/lib/daemon/bridge/hololink/hololink_wrapper.cpp
  realtime/lib/daemon/bridge/hololink/unified_dispatch_kernel.cu
Due: none

* Cannot return measure result from entry-point kernels * Handle cases for automatic list and tuple conversion
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/runtime/run.py
  python/tests/kernel/test_measure_result.py
Due: none

clang format
  realtime/include/cudaq/realtime/hololink_bridge_common.h
Due: none

Port iGPU support to the HSB plugin interface implementation
  realtime/lib/daemon/bridge/hololink/bridge_impl.cpp
Due: none

[CI] API Docs Build d3d97126
  blogs/404.html
  blogs/author-images/chuck_headshot.jpg
  blogs/author-images/esperanza_headshot.jpg
  blogs/author-images/jeff_headshot.jpg
  blogs/author-images/linsey_headshot.jpg
  blogs/author-images/stefano_headshot.jpg
  blogs/author-images/zohim_headshot.jpg
  blogs/blog/2026/03/16/cudaq-0.14/index.html
  blogs/blog/2026/03/16/cudaq-GTC-26/index.html
  blogs/blog/2026/03/16/launching-cudaq-realtime/index.html
  blogs/blog/archive/2026/index.html
  blogs/blog/author/ben-howe/index.html
  blogs/blog/author/bettina-heim/index.html
  blogs/blog/author/bruno-schmitt/index.html
  blogs/blog/author/chuck-ketcham/index.html
  blogs/blog/author/corey-simpson/index.html
  blogs/blog/author/efrat-shabtai/index.html
  blogs/blog/author/elena-agostini/index.html
  blogs/blog/author/esperanza-cuenca-gomez/index.html
  blogs/blog/author/jeffrey-bonde/index.html
  blogs/blog/author/jinsung-kim/index.html
  blogs/blog/author/linsey-rodenbach/index.html
  blogs/blog/author/moein-khazraee/index.html
  blogs/blog/author/nic-harrigan/index.html
  blogs/blog/author/shane-caldwell/index.html
  blogs/blog/author/stefano-mensa/index.html
  blogs/blog/author/thien-nguyen/index.html
  blogs/blog/author/tom-lassiter/index.html
  blogs/blog/author/zohim-chandani/index.html
  blogs/blog/category/cuda-q/index.html
  blogs/blog/category/releases/index.html
  blogs/blog/index.html
  blogs/blog/tags/index.html
  blogs/images/cudaq-0.14-blog/cudaq_app_hub_launchable.png
  blogs/images/launching-cudaq-realtime/post/index.html
  blogs/index.html
  blogs/search/search_index.json
  blogs/sitemap.xml
  blogs/sitemap.xml.gz
  blogs/tags.json
Due: none

[CI] API Docs Build 733a0ba4
  blogs/blog/2026/03/16/cudaq-GTC-26/index.html
Due: none

Code review: fixing a bug in if logic
  realtime/lib/daemon/bridge/hololink/bridge_impl.cpp
Due: none

* Rewording per review comment.
  docs/sphinx/using/backends/hardware/neutralatom.rst
Due: none

Apply suggestion from @bettinaheim
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_wrapper.h
Due: none

Port some recent edits to the host API docs
  realtime/docs/cudaq_realtime_host_api.md
Due: markdown-link-check

review comments
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/releases.rst
  docs/sphinx/using/realtime.rst
  docs/sphinx/using/realtime/installation.rst
Due: spellcheck-allowlist-sorted

forgot one
  docs/sphinx/releases.rst
Due: none

Spelling fixes
  .github/pre-commit/spelling_allowlist.txt
  realtime/docs/cudaq_realtime_host_api.md
Due: spellcheck-allowlist-sorted, markdown-link-check

Restore original send-then-repost order on dGPU to fix 400ns latency regression
  realtime/lib/daemon/bridge/hololink/unified_dispatch_kernel.cu
Due: none

[Realtime] Fix unified dispatch for iGPU (#4169)
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_doca_transport_ctx.h
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_wrapper.h
  realtime/include/cudaq/realtime/hololink_bridge_common.h
  realtime/lib/daemon/bridge/hololink/bridge_impl.cpp
  realtime/lib/daemon/bridge/hololink/hololink_wrapper.cpp
  realtime/lib/daemon/bridge/hololink/unified_dispatch_kernel.cu
Due: none

adding support for qvector args in custom operation
  python/cudaq/kernel/ast_bridge.py
Due: none

calling __expandCustomOpTargets
  python/cudaq/kernel/ast_bridge.py
Due: none

adding test for handling unpacking in custom operations
  python/tests/kernel/test_custom_operation.py
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
