Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

[observe] Default observe `shots_count` to -1 to match C++ and async API (#4959)
  python/cudaq/runtime/observe.py
Due: none

[runtime] Expose retainCallableArguments; CallableClosureArgument owns its module
  runtime/common/ArgumentWrapper.h
  runtime/internal/compiler/ArgumentConversion.cpp
  runtime/internal/compiler/Compiler.cpp
  runtime/internal/compiler/include/cudaq_internal/compiler/ArgumentConversion.h
  runtime/test/test_argument_conversion.cpp
Due: none

Fixing rebasing errors.
  runtime/common/BaseRemoteRESTQPU.h
Due: none

[NFC] Move the python uniqued attrbute to the quake dialect namespace.
  cudaq/include/cudaq/Optimizer/Builder/RuntimeNames.h
  cudaq/test/Translate/callable_closure.qke
  docs/sphinx/examples/python/executing_kernels.ipynb
  python/cudaq/kernel/utils.py
Due: none

[ci] Key toolchain layers on sources only via ccache seed stages
  .github/actions/ccache-extract/action.yml
  .github/workflows/dev_environment.yml
  .github/workflows/prebuilt_binaries.yml
  docker/build/assets.Dockerfile
  docker/build/devdeps.Dockerfile
  docker/build/devdeps.manylinux.Dockerfile
Due: none

[ci] Write ccache restore/skip/push lines to the job summary
  .github/actions/ccache-push/action.yml
  .github/actions/ccache-restore/action.yml
Due: none

[NFC, core] Remove vestigial directory that lost its purpose years ago. (#4969)
  cudaq/include/cudaq/Optimizer/CodeGen/CodeGenOps.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCInterfaces.h
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCOps.h
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCOps.td
  cudaq/include/cudaq/Optimizer/Dialect/InlinerInterface.h
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeInterfaces.h
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeOps.h
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  cudaq/include/cudaq/Optimizer/Dialect/Traits.h
  cudaq/include/cudaq/Optimizer/Dialect/Traits.td
  cudaq/lib/Optimizer/CodeGen/CodeGenOps.h
  cudaq/tools/cudaq-opt/cudaq-opt.cpp
Due: none

[SKILLS] Add Tier 3 eval scaffold for cudaq-importing
  skills/cudaq-importing/evals/EVAL.md
  skills/cudaq-importing/evals/config.yml
  skills/cudaq-importing/evals/evals.json
Due: markdown-link-check

Fixed spelling errors
  .github/pre-commit/spellcheck_config.yml
  realtime/include/cudaq/realtime/daemon/bridge/bridge_interface.h
Due: none

[python] Fingerprint resolved programs to fix compiled-module cache reuse
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/tests/mlir/compiled_module_cache.py
  runtime/common/CompiledModule.cpp
  runtime/common/CompiledModule.h
Due: none

Enable qubit reuse in cudaq::run (#4945)
  cudaq/tools/nvqpp/nvq++.in
  runtime/cudaq/algorithms/draw.cpp
  runtime/cudaq/qis/managers/default/DefaultExecutionManager.cpp
  runtime/nvqir/CircuitSimulator.h
  targettests/execution/qubit_reuse_dealloc.cpp
  unittests/nvqpp/integration/draw_tester.cpp
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:a1a5b7ddb74d3e4b1271129e831479bd112c4604d47257c48e97fe63cce08c38
  deployments/staging/cuda-quantum-dev/a1a5b7ddb74d3e4b1271129e831479bd112c4604d47257c48e97fe63cce08c38
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:aa362dd7efcace9406366bd25fe56af1cc1eb6285f212d596cd0cd4f1a5ab3e5
  deployments/staging/cuda-quantum-dev/aa362dd7efcace9406366bd25fe56af1cc1eb6285f212d596cd0cd4f1a5ab3e5
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:c8c2e8c47643f8d21d900130638910d7f4652af8ddab672752daaf36b04eddf7
  deployments/staging/cuda-quantum-devdeps/c8c2e8c47643f8d21d900130638910d7f4652af8ddab672752daaf36b04eddf7
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:b95b7d6b9a5b8edc115289f2a2efe9ffa952102c6b0e953d407d3fc03b465249
  deployments/staging/cuda-quantum-devdeps/b95b7d6b9a5b8edc115289f2a2efe9ffa952102c6b0e953d407d3fc03b465249
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:84842e5b79a13be3e05d9ffe8965ede68b1901835dbd6043ad4d5871f8acab67
  deployments/staging/cuda-quantum-devdeps/84842e5b79a13be3e05d9ffe8965ede68b1901835dbd6043ad4d5871f8acab67
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps@sha256:a6fd00798f192ecd9f6b35736696210dc7b08f3911b8377db9c13df12eddbf90
  deployments/staging/cuda-quantum-devdeps/a6fd00798f192ecd9f6b35736696210dc7b08f3911b8377db9c13df12eddbf90
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:1e91779e42f5ac7ca2e661601266f9e0a96b7ab7fd89d73f302bf0ba476e4c96
  deployments/staging/cuda-quantum-assets/1e91779e42f5ac7ca2e661601266f9e0a96b7ab7fd89d73f302bf0ba476e4c96
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:24212cc93cc5da0aad916ccfd9583e1a7a2345ca6dcbdd578dd06101ae9cfa77
  deployments/staging/cuda-quantum-assets/24212cc93cc5da0aad916ccfd9583e1a7a2345ca6dcbdd578dd06101ae9cfa77
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:ff8f9ee54a3a1af6fec74614bad303ad82ac18c4e8408ebbaaeb60af2d4f35f6
  deployments/staging/cuda-quantum-assets/ff8f9ee54a3a1af6fec74614bad303ad82ac18c4e8408ebbaaeb60af2d4f35f6
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:1f6189d718013410d71f0fca053aacc39305fd4ef96a118e0109fa37e6617bbc
  deployments/staging/cuda-quantum-assets/1f6189d718013410d71f0fca053aacc39305fd4ef96a118e0109fa37e6617bbc
Due: none

[ci] Revert assets ccache-mount conversion; keep it for devdeps only
  .github/actions/ccache-extract/action.yml
  .github/workflows/prebuilt_binaries.yml
  docker/build/assets.Dockerfile
Due: none

Add external custom QPU plugin support for server-side observe
  docs/sphinx/examples/plugins/README.md
  docs/sphinx/examples/plugins/mock_observe_qpu/CMakeLists.txt
  docs/sphinx/examples/plugins/mock_observe_qpu/MockObserveQPU.cpp
  docs/sphinx/examples/plugins/mock_observe_qpu/README.md
  docs/sphinx/examples/plugins/mock_observe_qpu/pyproject.toml.in
  docs/sphinx/examples/plugins/mock_observe_qpu/python/__init__.py.in
  docs/sphinx/examples/plugins/mock_observe_qpu/python/__main__.py.in
  docs/sphinx/examples/plugins/mock_observe_qpu/targets/mock_observe_qpu.yml.in
  docs/sphinx/examples/plugins/mock_observe_qpu/tests/check_plugin.cpp
  docs/sphinx/examples/plugins/mock_observe_qpu/tests/lit.cfg.py
  docs/sphinx/examples/plugins/mock_observe_qpu/tests/lit.site.cfg.py.in
  docs/sphinx/using/extending/backend.rst
  docs/sphinx/using/extending/packaging.rst
  runtime/common/Future.h
  runtime/common/ObservableUserData.h
  runtime/cudaq/platform/fermioniq/FermioniqQPU.cpp
  runtime/cudaq/platform/qpu_utils.cpp
  unittests/CMakeLists.txt
  unittests/common/ObservableUserDataTester.cpp
  unittests/target_config/TargetConfigTester.cpp
Due: markdown-link-check

revert to dynamic linking for cudaq-opt on MacOS
  cudaq/tools/cudaq-opt/CMakeLists.txt
Due: none

properly reset target
  python/tests/utils/test_experimental_compile_target.py
  python/utils/LinkedLibraryHolder.cpp
  runtime/cudaq/platform/quantum_platform.h
Due: none

docs: publish generated Quake reference
  cudaq/include/cudaq/Optimizer/Dialect/Quake/CMakeLists.txt
  docs/sphinx/conf.py
  docs/sphinx/specification/index.rst
  docs/sphinx/specification/quake-reference.md
  scripts/build_docs.sh
Due: markdown-link-check

docs: streamline dialect reference navigation
  docs/sphinx/developer/compiler/ir/cc.md
  docs/sphinx/developer/compiler/ir/index.rst
  docs/sphinx/developer/compiler/ir/qec.md
  docs/sphinx/developer/compiler/ir/quake.md
  docs/sphinx/specification/quake-dialect.md
Due: markdown-link-check

docs: unify compiler IR references
  .github/pre-commit/spelling_allowlist.txt
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCDialect.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCOps.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCTypes.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/QEC/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/QEC/QECOps.td
  docs/sphinx/developer/compiler/index.rst
  docs/sphinx/developer/compiler/ir/cc-reference.md
  docs/sphinx/developer/compiler/ir/index.rst
  docs/sphinx/developer/compiler/ir/qec-reference.md
  docs/sphinx/developer/compiler/ir/quake-reference.md
  docs/sphinx/index.rst
  docs/sphinx/specification/index.rst
  docs/sphinx/specification/quake-dialect.md
  docs/sphinx/specification/quake-reference.md
  scripts/build_docs.sh
Due: spellcheck-allowlist-sorted, markdown-link-check

docs: tighten compiler IR prose
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCOps.td
  docs/sphinx/developer/compiler/ir/index.rst
  docs/sphinx/specification/quake-dialect.md
Due: markdown-link-check

docs: address compiler reference review
  .github/pre-commit/spelling_allowlist.txt
  cmake/modules/AddCUDAQ.cmake
  cmake/modules/ProcessMLIRMarkdown.cmake
  cudaq/include/cudaq/Optimizer/CodeGen/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCDialect.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCOps.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCTypes.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/QEC/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/Quake/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeDialect.td
  docs/sphinx/using/extending/compiler/cudaq_ir.rst
  docs/sphinx/using/extending/compiler/dialect_reference.rst
Due: spellcheck-allowlist-sorted

docs: fix public compiler reference build
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/conf.py
  docs/sphinx/using/extending/compiler/cudaq_ir.rst
  docs/sphinx/using/extending/compiler/dialect_reference.rst
  docs/sphinx/using/extending/compiler/index.rst
Due: spellcheck-allowlist-sorted

docs: clarify Quake instruction wording
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeDialect.td
Due: none

docs: establish compiler contributor layout
  cmake/modules/AddCUDAQ.cmake
  cmake/modules/ProcessMLIRMarkdown.cmake
  cudaq/include/cudaq/Optimizer/CodeGen/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeDialect.td
  docs/sphinx/conf.py
  docs/sphinx/developer/compiler/index.rst
  docs/sphinx/developer/compiler/ir/cc.md
  docs/sphinx/developer/compiler/ir/index.rst
  docs/sphinx/developer/compiler/ir/qec.md
  docs/sphinx/developer/compiler/ir/quake.md
  docs/sphinx/index.rst
  docs/sphinx/specification/quake-dialect.md
  docs/sphinx/using/backends/backends.rst
  docs/sphinx/using/extending/compiler/cudaq_ir.rst
  docs/sphinx/using/extending/compiler/dialect_reference.rst
  docs/sphinx/using/extending/compiler/index.rst
  docs/sphinx/using/extending/compiler/pass_plugins.rst
  docs/sphinx/using/extending/cudaq_ir.rst
  docs/sphinx/using/extending/extending.rst
  docs/sphinx/using/integration/integration.rst
  llms.txt
  scripts/build_docs.sh
Due: markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
