Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

Make libcudaq-realtime transport-agnostic by moving DOCA-specific unified dispatch kernel into the Hololink bridge layer.
  realtime/docs/cudaq_realtime_host_api.md
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_doca_transport_ctx.h
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/include/cudaq/realtime/daemon/dispatcher/unified_dispatch_kernel.cuh
  realtime/include/cudaq/realtime/hololink_bridge_common.h
  realtime/lib/daemon/CMakeLists.txt
  realtime/lib/daemon/bridge/hololink/CMakeLists.txt
  realtime/lib/daemon/bridge/hololink/bridge_impl.cpp
  realtime/lib/daemon/bridge/hololink/unified_dispatch_kernel.cu
  realtime/lib/daemon/dispatcher/dispatch_kernel.cu
  realtime/unittests/bridge_interface/hololink/CMakeLists.txt
  realtime/unittests/bridge_interface/hololink/hololink_bridge.cpp
  realtime/unittests/utils/CMakeLists.txt
Due: markdown-link-check

[bug-fix] Validate the simulation data used to create state from data.
  runtime/common/JsonConvert.h
  runtime/common/SimulationState.h
  runtime/nvqir/cudensitymat/CuDensityMatState.cpp
  runtime/nvqir/custatevec/CuStateVecState.h
  runtime/nvqir/cutensornet/mps_simulation_state.inc
  runtime/nvqir/cutensornet/tn_simulation_state.inc
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  runtime/nvqir/qpp/QppDMCircuitSimulator.cpp
  unittests/CMakeLists.txt
  unittests/common/JsonConvertTester.cpp
Due: none

[core] Add new ops to quake for value semantics support.
  include/cudaq/Optimizer/Dialect/CC/CCOps.td
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  include/cudaq/Optimizer/Dialect/Quake/QuakeTypes.h
  include/cudaq/Optimizer/Dialect/Quake/QuakeTypes.td
  lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  lib/Optimizer/Dialect/Quake/QuakeTypes.cpp
  test/Transforms/quake-errors.qke
  test/Transforms/roundtrip-ops.qke
Due: none

enabling qsci notebook after changing to use COBYLA optimizer and bounding the runtime with the optimizer attributes
  docs/notebook_validation.py
  docs/sphinx/applications/python/qsci.ipynb
Due: none

[core] Rewrite the factor quantum allocations pass.
  lib/Optimizer/Transforms/FactorQuantumAlloc.cpp
  test/Transforms/factor_quantum.qke
Due: none

Docs preview for PR #4098.
  pr-4098/api/languages/python_api.html
  pr-4098/api/languages/python_api.md
  pr-4098/applications/python/adapt_qaoa.html
  pr-4098/applications/python/adapt_qaoa.md
  pr-4098/applications/python/adapt_vqe.html
  pr-4098/applications/python/adapt_vqe.md
  pr-4098/applications/python/deutsch_algorithm.html
  pr-4098/applications/python/deutsch_algorithm.md
  pr-4098/applications/python/edge_detection.html
  pr-4098/applications/python/edge_detection.md
  pr-4098/applications/python/grovers.html
  pr-4098/applications/python/grovers.md
  pr-4098/applications/python/qm_mm_pe.html
  pr-4098/applications/python/qm_mm_pe.md
  pr-4098/applications/python/quantum_fourier_transform.html
  pr-4098/applications/python/quantum_fourier_transform.ipynb
  pr-4098/applications/python/quantum_fourier_transform.md
  pr-4098/applications/python/quantum_teleportation.ipynb
  pr-4098/applications/python/quantum_transformer.html
  pr-4098/applications/python/quantum_transformer.md
  pr-4098/applications/python/skqd.html
  pr-4098/applications/python/skqd.md
  pr-4098/examples/python/performance_optimizations.html
  pr-4098/examples/python/performance_optimizations.md
  pr-4098/searchindex.js
Due: markdown-link-check

Some fixes running the test
  realtime/scripts/validate_installer.sh
  realtime/unittests/utils/CMakeLists.txt
Due: none

Remove PR template (#4099)
  .github/pull_request_template.md
Due: markdown-link-check

add trixie,url to spelling allowlist
  .github/pre-commit/spelling_allowlist.txt
Due: spellcheck-allowlist-sorted

removing reset_target
  python/tests/dynamics/test_evolve_async_issue_3678.py
Due: none

remove TODO
  NOTICE
Due: none

Make unified dispatch symbol weak and fix hololink build for clean environments
  realtime/include/cudaq/realtime/hololink_bridge_common.h
  realtime/unittests/utils/hololink_test.sh
Due: none

Add option to get GKE to work for python kernel builder
  include/cudaq/Optimizer/Transforms/Passes.td
  lib/Optimizer/Transforms/GenKernelExecution.cpp
  python/tests/kernel/test_reuse_compiler.py
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

Update notices (#4100)
  .github/pre-commit/spelling_allowlist.txt
  .github/workflows/build_package_sources.yml
  NOTICE
  docker/build/package_sources.Dockerfile
  scripts/generate_apt_attribution.py
  scripts/generate_pip_attribution.py
Due: spellcheck-allowlist-sorted

Docs preview for PR #4077.
  pr-4077/api/languages/python_api.html
  pr-4077/api/languages/python_api.md
  pr-4077/applications/python/adapt_qaoa.html
  pr-4077/applications/python/adapt_qaoa.md
  pr-4077/applications/python/adapt_vqe.html
  pr-4077/applications/python/adapt_vqe.md
  pr-4077/applications/python/deutsch_algorithm.html
  pr-4077/applications/python/deutsch_algorithm.md
  pr-4077/applications/python/edge_detection.html
  pr-4077/applications/python/edge_detection.md
  pr-4077/applications/python/grovers.html
  pr-4077/applications/python/grovers.md
  pr-4077/applications/python/qm_mm_pe.html
  pr-4077/applications/python/qm_mm_pe.md
  pr-4077/applications/python/quantum_fourier_transform.html
  pr-4077/applications/python/quantum_fourier_transform.ipynb
  pr-4077/applications/python/quantum_fourier_transform.md
  pr-4077/applications/python/quantum_teleportation.ipynb
  pr-4077/applications/python/quantum_transformer.html
  pr-4077/applications/python/quantum_transformer.md
  pr-4077/applications/python/skqd.html
  pr-4077/applications/python/skqd.md
  pr-4077/examples/python/performance_optimizations.html
  pr-4077/examples/python/performance_optimizations.md
  pr-4077/searchindex.js
Due: markdown-link-check

ghcr.io/nvidia/cuda-quantum-dev@sha256:67a65c21009701f0012105e69536e255b0abad6badf78664141bd30f242757c3
  deployments/staging/cuda-quantum-dev/67a65c21009701f0012105e69536e255b0abad6badf78664141bd30f242757c3
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:ec9217c52f75f9d24d97d7ff5e6f3b5d997510da87a76b9dce3262da63665730
  deployments/staging/cuda-quantum-dev/ec9217c52f75f9d24d97d7ff5e6f3b5d997510da87a76b9dce3262da63665730
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:caa1c504f645bcd50a67b82e9ebd2a732e39bf6c148ae0e48fa5f4ff62712387
  deployments/staging/cuda-quantum-devdeps/caa1c504f645bcd50a67b82e9ebd2a732e39bf6c148ae0e48fa5f4ff62712387
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:741b0799011df33b9abbaeeb53f1f7e833a64b5e038ddd98265f4c6be4d52483
  deployments/staging/cuda-quantum-devdeps/741b0799011df33b9abbaeeb53f1f7e833a64b5e038ddd98265f4c6be4d52483
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:3da2af61022dc986ef1f274fddcf7c3e829a50d3e5b958ba93fb5196d61ee672
  deployments/staging/cuda-quantum-devdeps/3da2af61022dc986ef1f274fddcf7c3e829a50d3e5b958ba93fb5196d61ee672
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:b84860e856c57543831a64d34c594fe98316525407f7a8a6d0a88bee107b9276
  deployments/staging/cuda-quantum-devdeps/b84860e856c57543831a64d34c594fe98316525407f7a8a6d0a88bee107b9276
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:1bf6030ffb9f7993149e83663c7c002144de9d5cf459ce13706ea147c6a88216
  deployments/staging/cuda-quantum-assets/1bf6030ffb9f7993149e83663c7c002144de9d5cf459ce13706ea147c6a88216
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:a04d8f7c665c25256749fc7684888541ba63f32c867065e5d2211aea6c0231cc
  deployments/staging/cuda-quantum-assets/a04d8f7c665c25256749fc7684888541ba63f32c867065e5d2211aea6c0231cc
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:9acc24c8135128c769cc46e9a73e073a254652755d3e5e7c6391bf121e9b6836
  deployments/staging/cuda-quantum-assets/9acc24c8135128c769cc46e9a73e073a254652755d3e5e7c6391bf121e9b6836
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:e1a2293f3df7d76eafbecb16a33e0932d13cf579643eb98d503d764fa1be40fc
  deployments/staging/cuda-quantum-assets/e1a2293f3df7d76eafbecb16a33e0932d13cf579643eb98d503d764fa1be40fc
Due: none

Simplify init value to int64_t{1} per review feedback
  runtime/nvqir/cudensitymat/CuDensityMatOpConverter.cpp
Due: none

[bug-fix] Validate the simulation data used to create state from data (#4102)
  runtime/common/JsonConvert.h
  runtime/common/SimulationState.h
  runtime/nvqir/cudensitymat/CuDensityMatState.cpp
  runtime/nvqir/custatevec/CuStateVecState.h
  runtime/nvqir/cutensornet/mps_simulation_state.inc
  runtime/nvqir/cutensornet/tn_simulation_state.inc
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  runtime/nvqir/qpp/QppDMCircuitSimulator.cpp
  unittests/CMakeLists.txt
  unittests/common/JsonConvertTester.cpp
Due: none

Using recommendation as given in the error TypeError: Cannot use scipy.linalg.eigh for sparse A with k >= N. Use scipy.linalg.eigh(A.toarray()) or reduce k.
  docs/sphinx/applications/python/qsci.ipynb
Due: none

Restoring backward ABI compatibility with cudaq_solver 0.5.0
  docs/sphinx/applications/python/logical_aim_sqale.ipynb
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
  runtime/cudaq/qis/state.cpp
  runtime/cudaq/qis/state.h
Due: none
