Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

Own parsed QIR sample results
  runtime/common/RecordLogParser.cpp
  runtime/common/RecordLogParser.h
  runtime/common/ServerHelper.h
  unittests/output_record/RecordParserTester.cpp
Due: none

running trace capture through the platform tracer path
  runtime/cudaq/ptsbe/PTSBESample.h
Due: none

fixing build
  runtime/cudaq/ptsbe/PTSBESample.h
Due: none

Docs update triggered by deployment on head branch main, commit cbc4798e9f0593e17b56ebbec765da60a588554e.
  latest/applications/python/skqd.html
  latest/applications/python/skqd.md
  latest/examples/python/performance_optimizations.html
  latest/examples/python/performance_optimizations.md
  latest/searchindex.js
Due: markdown-link-check

Add libcudaqMLIR.so
  cmake/modules/AddCUDAQ.cmake
  cudaq/lib/Optimizer/Builder/CMakeLists.txt
  cudaq/lib/Optimizer/CMakeLists.txt
  cudaq/lib/Optimizer/CodeGen/CMakeLists.txt
  cudaq/lib/Optimizer/Dialect/CC/CMakeLists.txt
  cudaq/lib/Optimizer/Dialect/QEC/CMakeLists.txt
  cudaq/lib/Optimizer/Dialect/Quake/CMakeLists.txt
  cudaq/lib/Optimizer/Transforms/CMakeLists.txt
  cudaq/lib/Optimizer/cudaqmlir-shlib.cmake
  cudaq/lib/Optimizer/mlir-libs-whitelist.txt
  cudaq/lib/Optimizer/mlir-symbols-blacklist.txt
  python/extension/CMakeLists.txt
  runtime/internal/compiler/CMakeLists.txt
  runtime/internal/compiler/Compiler.cpp
  runtime/internal/compiler/ResourceCount.cpp
  runtime/internal/compiler/include/cudaq_internal/compiler/ResourceCount.h
Due: none

docs: publish generated Quake reference
  cudaq/include/cudaq/Optimizer/Dialect/Quake/CMakeLists.txt
  docs/sphinx/conf.py
  docs/sphinx/specification/index.rst
  docs/sphinx/specification/quake-reference.md
  scripts/build_docs.sh
Due: markdown-link-check

docs: unify compiler IR references
  .github/pre-commit/spelling_allowlist.txt
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCDialect.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCOps.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCTypes.td
  cudaq/include/cudaq/Optimizer/Dialect/CC/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/QEC/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/Dialect/QEC/QECOps.td
  docs/sphinx/developer/compiler/index.rst
  docs/sphinx/developer/compiler/ir/cc-reference.md
  docs/sphinx/developer/compiler/ir/index.rst
  docs/sphinx/developer/compiler/ir/qec-reference.md
  docs/sphinx/developer/compiler/ir/quake-reference.md
  docs/sphinx/index.rst
  docs/sphinx/specification/index.rst
  docs/sphinx/specification/quake-dialect.md
  docs/sphinx/specification/quake-reference.md
  scripts/build_docs.sh
Due: spellcheck-allowlist-sorted, markdown-link-check

[PTSBE] Routing sampling through the standard policy launch path (#4912)
  runtime/cudaq/platform/default/DefaultQPU.cpp
  runtime/cudaq/platform/default/DefaultQPU.h
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.h
  runtime/cudaq/platform/fermioniq/FermioniqQPU.h
  runtime/cudaq/platform/qpu.cpp
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/ptsbe/PTSBESample.cpp
  runtime/cudaq/ptsbe/PTSBESample.h
  runtime/cudaq/ptsbe/PTSBESampler.cpp
  runtime/cudaq/ptsbe/PTSBESampler.h
  runtime/cudaq/ptsbe/policy.h
  runtime/cudaq/qis/execution_manager.cpp
  runtime/nvqir/CircuitSimulator.h
  unittests/nvqpp/ptsbe/ExecutePTSBETester.cpp
  unittests/nvqpp/ptsbe/PTSBEPolicyTester.cpp
Due: none

docs: tighten compiler IR prose
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCOps.td
  docs/sphinx/developer/compiler/ir/index.rst
  docs/sphinx/specification/quake-dialect.md
Due: markdown-link-check

docs: streamline dialect reference navigation
  docs/sphinx/developer/compiler/ir/cc.md
  docs/sphinx/developer/compiler/ir/index.rst
  docs/sphinx/developer/compiler/ir/qec.md
  docs/sphinx/developer/compiler/ir/quake.md
  docs/sphinx/specification/quake-dialect.md
Due: markdown-link-check

updating patch version for qiskit-to-cudaq
  skills/qiskit-to-cudaq/SKILL.md
Due: markdown-link-check

Own parsed QIR sample results (#4913)
  runtime/common/RecordLogParser.cpp
  runtime/common/RecordLogParser.h
  runtime/common/ServerHelper.h
  unittests/output_record/RecordParserTester.cpp
Due: none

Update .github/workflows/publishing.yml
  .github/workflows/publishing.yml
Due: none

Move Realtime validation (released image) to image_validation
  .github/workflows/publishing.yml
Due: none

Drop the additional test
  python/tests/kernel/test_ast_bridge_performance.py
Due: none

Cleaning up dead code
  cudaq/tools/cudaq-quake/cudaq-quake.cpp
Due: none

Removing unfortunate formatting
  cudaq/test/NVQPP/depfile.cpp
Due: none

Removing -llvm-only flag
  cudaq/tools/cudaq-quake/cudaq-quake.cpp
Due: none

Implementing -MD, -MMD, -MT and -MF in nvqpp. Moving tests
  cudaq/include/cudaq/Frontend/nvqpp/ASTBridge.h
  cudaq/lib/Frontend/nvqpp/ASTBridge.cpp
  cudaq/test/NVQPP/Inputs/dep_header.h
  cudaq/test/NVQPP/depfile.cpp
  cudaq/tools/cudaq-quake/cudaq-quake.cpp
  cudaq/tools/nvqpp/nvq++.in
  scripts/run_tests.sh
  unittests/CMakeLists.txt
  unittests/nvqpp/CMakeLists.txt
  unittests/ptsbe/CMakeLists.txt
  unittests/ptsbe/ExecutePTSBETester.cpp
  unittests/ptsbe/KrausSelectionTester.cpp
  unittests/ptsbe/KrausTrajectoryTester.cpp
  unittests/ptsbe/MergeTasksWithTrajectoryTester.cpp
  unittests/ptsbe/NoiseExtractorTester.cpp
  unittests/ptsbe/PTSBEInterfaceTester.cpp
  unittests/ptsbe/PTSBEPolicyTester.cpp
  unittests/ptsbe/PTSSamplingStrategyTester.cpp
  unittests/ptsbe/ShotAllocationTester.cpp
  unittests/ptsbe/TraceConversionTester.cpp
  unittests/ptsbe/TrajectoryDeduplicationTester.cpp
Due: none

Introducing msm and msm_size policies
  runtime/cudaq/algorithms/launch.h
  runtime/cudaq/algorithms/msm/policy.h
  runtime/cudaq/algorithms/policies.h
  runtime/cudaq/algorithms/policy_dispatch.h
  runtime/cudaq/platform/default/DefaultQPU.cpp
  runtime/cudaq/platform/default/DefaultQPU.h
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.h
  runtime/cudaq/platform/fermioniq/FermioniqQPU.h
  runtime/cudaq/platform/qpu.cpp
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/qis/execution_manager.cpp
  runtime/cudaq/qis/execution_manager.h
  runtime/cudaq/qis/managers/default/DefaultExecutionManager.cpp
  runtime/cudaq/qis/managers/photonics/PhotonicsExecutionManager.cpp
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/stim/StimCircuitSimulator.cpp
  unittests/nvqpp/integration/kernels_tester.cpp
  unittests/nvqpp/qudit/simple_qudit/SimpleQuditExecutionManager.cpp
Due: none

Removing extra configure step
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/stim/StimCircuitSimulator.cpp
Due: none

Removing nvcc pragmas.
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.h
  runtime/cudaq/platform/fermioniq/FermioniqQPU.h
Due: none

Review feedback
  runtime/cudaq/qis/execution_manager.cpp
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/stim/StimCircuitSimulator.cpp
Due: none

Fixing merging ptsbe changes
  runtime/nvqir/CircuitSimulator.h
Due: none

[Python] Reduce repeated qualified-call compile time with bridge-local caches (#4923)
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/issue_2346/test_issue_2346.py
Due: none

Docs update triggered by deployment on head branch main, commit 3a6f13ea6f15258e5747adc04566d7e66f65a43a.
  latest/applications/python/skqd.html
  latest/applications/python/skqd.md
  latest/examples/python/performance_optimizations.html
  latest/examples/python/performance_optimizations.md
  latest/searchindex.js
Due: markdown-link-check

Add README
  cudaq/lib/Optimizer/README.md
Due: markdown-link-check

black/white -> block/allow
  cudaq/lib/Optimizer/cudaqmlir-shlib.cmake
  cudaq/lib/Optimizer/mlir-libs-allowlist.txt
  cudaq/lib/Optimizer/mlir-symbols-blocklist.txt
Due: none

Introducing msm and msm_size policies with generic launch API (#4922)
  runtime/cudaq/algorithms/launch.h
  runtime/cudaq/algorithms/msm/policy.h
  runtime/cudaq/algorithms/policies.h
  runtime/cudaq/algorithms/policy_dispatch.h
  runtime/cudaq/platform/default/DefaultQPU.cpp
  runtime/cudaq/platform/default/DefaultQPU.h
  runtime/cudaq/platform/default/rest/RemoteRESTQPU.h
  runtime/cudaq/platform/fermioniq/FermioniqQPU.h
  runtime/cudaq/platform/qpu.cpp
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/qis/execution_manager.cpp
  runtime/cudaq/qis/execution_manager.h
  runtime/cudaq/qis/managers/default/DefaultExecutionManager.cpp
  runtime/cudaq/qis/managers/photonics/PhotonicsExecutionManager.cpp
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/stim/StimCircuitSimulator.cpp
  unittests/nvqpp/integration/kernels_tester.cpp
  unittests/nvqpp/qudit/simple_qudit/SimpleQuditExecutionManager.cpp
Due: none

Implementing -MD, -MMD, -MT and -MF in nvqpp. Moving some ptsbe tests (#4929)
  cudaq/include/cudaq/Frontend/nvqpp/ASTBridge.h
  cudaq/lib/Frontend/nvqpp/ASTBridge.cpp
  cudaq/test/NVQPP/Inputs/dep_header.h
  cudaq/test/NVQPP/depfile.cpp
  cudaq/tools/cudaq-quake/cudaq-quake.cpp
  cudaq/tools/nvqpp/nvq++.in
  scripts/run_tests.sh
  unittests/CMakeLists.txt
  unittests/nvqpp/CMakeLists.txt
  unittests/ptsbe/CMakeLists.txt
  unittests/ptsbe/ExecutePTSBETester.cpp
  unittests/ptsbe/KrausSelectionTester.cpp
  unittests/ptsbe/KrausTrajectoryTester.cpp
  unittests/ptsbe/MergeTasksWithTrajectoryTester.cpp
  unittests/ptsbe/NoiseExtractorTester.cpp
  unittests/ptsbe/PTSBEInterfaceTester.cpp
  unittests/ptsbe/PTSBEPolicyTester.cpp
  unittests/ptsbe/PTSSamplingStrategyTester.cpp
  unittests/ptsbe/ShotAllocationTester.cpp
  unittests/ptsbe/TraceConversionTester.cpp
  unittests/ptsbe/TrajectoryDeduplicationTester.cpp
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
