Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

remove blocklist
  cmake/modules/AddCUDAQ.cmake
  cudaq/lib/Optimizer/CAPI/CMakeLists.txt
  cudaq/lib/Optimizer/README.md
  cudaq/lib/Optimizer/cudaqmlir-shlib.cmake
  cudaq/lib/Optimizer/mlir-libs-allowlist.txt
  cudaq/lib/Optimizer/mlir-symbols-blocklist.txt
  python/extension/CMakeLists.txt
Due: markdown-link-check

[testing] Create the CMake infrastructure for `cudaq/unittests` (#4714)
  cudaq/unittests/CMakeLists.txt
Due: none

[unitaryhack] Add closed- and open-system dynamics propagators (#4672)
  python/cudaq/contrib/__init__.py
  python/cudaq/contrib/propagator.py
  python/tests/contrib/test_propagator.py
Due: none

[unitaryhack] Support unitary synthesis for 3+ qubit custom operations (QSD) (#4693)
  cudaq/lib/Optimizer/Transforms/UnitarySynthesis.cpp
  cudaq/test/Transforms/UnitarySynthesis/bell_pair.qke
  cudaq/test/Transforms/UnitarySynthesis/random_unitary-0.qke
  cudaq/test/Transforms/UnitarySynthesis/random_unitary-1.qke
  cudaq/test/Transforms/UnitarySynthesis/random_unitary-5.qke
  cudaq/test/Transforms/UnitarySynthesis/random_unitary-6.qke
  cudaq/test/Transforms/UnitarySynthesis/random_unitary-7.qke
  docs/sphinx/api/default_ops.rst
  python/tests/backends/test_Quantinuum_LocalEmulation_kernel.py
  python/tests/custom/test_qsd_decomposition.py
  targettests/execution/custom_operation_c4x.cpp
  targettests/execution/custom_operation_cccx.cpp
  targettests/execution/custom_operation_toffoli.cpp
Due: none

[docs] Clarify HSB RFSoC artifact locations (#4687)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/using/realtime/host.md
  docs/sphinx/using/realtime/installation.rst
  realtime/docs/building.md
  realtime/docs/cudaq_realtime_host_api.md
  realtime/docs/nvqlink_latency_demo.md
  realtime/docs/user_guide.md
Due: spellcheck-allowlist-sorted, markdown-link-check

skills: simplify pass skill introduction
  skills/develop-cudaq-pass/SKILL.md
Due: markdown-link-check

skills: clarify pass extension decision
  skills/develop-cudaq-pass/SKILL.md
  skills/develop-cudaq-pass/evals/EVAL.md
  skills/develop-cudaq-pass/evals/evals.json
Due: markdown-link-check

Add two quantum embeddings (#4667)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/api/languages/python_api.rst
  python/cudaq/__init__.py
  python/cudaq/contrib/__init__.py
  python/cudaq/contrib/encoding.py
  python/cudaq/contrib/examples/amplitude_encode.py
  python/cudaq/contrib/examples/angular_encode_builder.py
  python/cudaq/contrib/examples/angular_encode_kernel.py
  python/cudaq/kernel/ast_bridge.py
  python/tests/builder/test_encoding.py
  python/tests/contrib/test_amplitude_encode.py
  python/tests/contrib/test_angular_encode.py
  python/tests/utils/test_lazy_imports.py
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/algorithm.h
  runtime/cudaq/algorithms/encoding.cpp
  runtime/cudaq/algorithms/encoding.h
  runtime/cudaq/builder/kernels.h
  unittests/CMakeLists.txt
  unittests/integration/encoding_tester.cpp
  unittests/integration/kernels_tester.cpp
Due: spellcheck-allowlist-sorted

[unitaryhack] Topology-aware initial placement for the qubit-mapping pass (#4678)
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/include/cudaq/Support/Device.h
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
  cudaq/test/Transforms/mapping_connectivity.qke
  cudaq/test/Transforms/mapping_errors.qke
  cudaq/test/Transforms/mapping_greedy_relocated_hub.qke
  cudaq/test/Transforms/mapping_invalid_placement.qke
  cudaq/test/Transforms/mapping_invalid_search.qke
  cudaq/test/Transforms/mapping_measurement_composable.qke
  cudaq/test/Transforms/mapping_non_unitaries.qke
  cudaq/test/Transforms/mapping_phased_rx.qke
  cudaq/test/Transforms/mapping_placement_seeds.qke
  cudaq/test/Transforms/mapping_qspan.qke
  cudaq/test/Transforms/mapping_search_late_interactions.qke
  cudaq/test/Transforms/mapping_search_none.qke
  cudaq/test/Transforms/mapping_search_refinement.qke
  cudaq/test/Transforms/mapping_search_star.qke
  cudaq/test/Transforms/mapping_search_termination.qke
  cudaq/test/Transforms/mapping_unitaries.qke
  cudaq/test/Transforms/mapping_with_meas-1.qke
Due: none

Add kernel math function support (#4680)
  cudaq/lib/Frontend/nvqpp/ConvertExpr.cpp
  cudaq/test/AST-Quake/math_functions.cpp
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_kernel_float.py
  python/tests/kernel/test_kernel_uccsd.py
Due: none

Added `stim::ErrorAnalyzer::circuit_to_detector_error_model` flags to `dem_from_kernel` (#4756)
  .github/pre-commit/spelling_allowlist.txt
  python/cudaq/runtime/dem.py
  python/runtime/cudaq/analysis/py_dem.cpp
  python/tests/analysis/test_dem_from_kernel.py
  runtime/common/ExecutionContext.h
  runtime/cudaq/algorithms/dem.h
  runtime/cudaq/analysis/Dem.cpp
  runtime/nvqir/stim/StimCircuitSimulator.cpp
  targettests/execution/dem_from_kernel.cpp
  targettests/execution/dem_from_kernel_emulate.cpp
Due: spellcheck-allowlist-sorted

Add optional m2d and m2o sparse matrix output to dem_from_kernel (#4759)
  python/cudaq/runtime/dem.py
  python/runtime/cudaq/analysis/py_dem.cpp
  python/tests/analysis/test_dem_from_kernel.py
  runtime/common/BaseRemoteRESTQPU.h
  runtime/common/ExecutionContext.h
  runtime/cudaq/algorithms/dem.h
  runtime/cudaq/analysis/Dem.cpp
  runtime/nvqir/stim/StimCircuitSimulator.cpp
  targettests/execution/dem_from_kernel.cpp
Due: none

clang-format
  cudaq/lib/Optimizer/Dialect/CC/CCOps.cpp
Due: none

[core] Fixes to various passes to allow auto-generation of kernels
  cudaq/include/cudaq/Optimizer/Dialect/CC/CCOps.td
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/CodeGen/Pipelines.cpp
  cudaq/lib/Optimizer/Dialect/CC/CCOps.cpp
  cudaq/lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  cudaq/lib/Optimizer/Transforms/ApplyOpSpecialization.cpp
  cudaq/lib/Optimizer/Transforms/ExpandControlVeqs.cpp
  cudaq/lib/Optimizer/Transforms/LoopAnalysis.cpp
  cudaq/lib/Optimizer/Transforms/LoopAnalysis.h
  cudaq/lib/Optimizer/Transforms/LoopNormalizePatterns.inc
  cudaq/lib/Optimizer/Transforms/LoopUnrollPatterns.inc
  cudaq/lib/Optimizer/Transforms/MultiControlDecomposition.cpp
  cudaq/test/AST-Quake/compute_action-3.cpp
  cudaq/test/AST-Quake/grover.cpp
  cudaq/test/Transforms/apply-3.qke
  cudaq/test/Transforms/apply-4.qke
  cudaq/test/Transforms/apply-errors.qke
  cudaq/test/Transforms/apply-forward-declared-trap.qke
  cudaq/test/Transforms/apply_ctrl_veq_type.qke
  cudaq/test/Transforms/apply_op_specialization.qke
  cudaq/test/Transforms/mapping-errors.qke
  cudaq/tools/nvqpp/nvq++.in
  python/tests/kernel/test_kernel_features.py
  python/tests/regression/test_4848.py
  python/tests/regression/test_4897.py
  python/tests/regression/test_4898.py
  targettests/execution/grover.cpp
Due: none

Remove dead code and comments and enable a regression test.
  cudaq/lib/Optimizer/Dialect/CC/CCOps.cpp
  cudaq/test/Transforms/apply-5.qke
  python/tests/kernel/test_kernel_features.py
Due: none

Format edits.
  cudaq/lib/Optimizer/Dialect/CC/CCOps.cpp
  cudaq/test/Transforms/apply_op_specialization.qke
Due: none

Add verifier tests.
  cudaq/lib/Optimizer/Dialect/CC/CCOps.cpp
  cudaq/test/Transforms/quake-errors.qke
Due: none

Add verifier to instantiate_callable op to force tests to be written properly. :)
  cudaq/lib/Optimizer/Dialect/CC/CCOps.cpp
  cudaq/test/Transforms/roundtrip-ops.qke
  cudaq/test/Translate/callable.qke
Due: none

Remove dead code for real.
  cudaq/lib/Optimizer/Dialect/CC/CCOps.cpp
Due: none

Address review comments to fix a few bugs.
  cudaq/lib/Optimizer/Transforms/ApplyOpSpecialization.cpp
Due: none

clang-format
  cudaq/lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  cudaq/lib/Optimizer/Transforms/ApplyOpSpecialization.cpp
Due: none

skills: use standard pass evaluation
  skills/develop-cudaq-pass/SKILL.md
  skills/develop-cudaq-pass/evals/EVAL.md
  skills/develop-cudaq-pass/evals/config.yml
  skills/develop-cudaq-pass/evals/environment/Dockerfile
  skills/develop-cudaq-pass/evals/evals.json
  skills/develop-cudaq-pass/evals/harbor/dataset.toml
  skills/develop-cudaq-pass/evals/harbor/pass-source-edit-external-hxh/environment/Dockerfile
  skills/develop-cudaq-pass/evals/harbor/pass-source-edit-external-hxh/instruction.md
  skills/develop-cudaq-pass/evals/harbor/pass-source-edit-external-hxh/task.toml
  skills/develop-cudaq-pass/evals/harbor/pass-source-edit-external-hxh/tests/grader.py
  skills/develop-cudaq-pass/evals/harbor/pass-source-edit-external-hxh/tests/input.qke
  skills/develop-cudaq-pass/evals/harbor/pass-source-edit-external-hxh/tests/test.sh
Due: markdown-link-check

skills: simplify pass eval grading guidance
  skills/develop-cudaq-pass/evals/EVAL.md
Due: markdown-link-check

Docs preview for PR #4754.
  pr-4754/applications/python/skqd.html
  pr-4754/applications/python/skqd.md
  pr-4754/examples/python/performance_optimizations.html
  pr-4754/examples/python/performance_optimizations.md
  pr-4754/searchindex.js
Due: markdown-link-check

Do not pass the invocationResultBuffer for the observe and sample policies
  runtime/common/BaseRemoteRESTQPU.h
Due: none

FIx flaky test
  cudaq/lib/Optimizer/Transforms/RegToMem.cpp
Due: none

[python] Fix flaky test (#4948)
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
Due: none

Implement conditional loop unrolling for value-semantics pipelines (#4784)
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/LoopUnroll.cpp
  cudaq/lib/Optimizer/Transforms/LoopUnrollPatterns.inc
  cudaq/test/AST-Quake/unroll_only_wire_blocking_loops.cpp
  cudaq/test/AST-Quake/unroll_only_wire_blocking_loops_nested.cpp
  cudaq/test/AST-Quake/veq_control_wires.cpp
  cudaq/test/Transforms/unroll_only_wire_blocking_loops.qke
  cudaq/test/Transforms/unroll_only_wire_blocking_loops_invalid.qke
  cudaq/test/Transforms/unroll_only_wire_blocking_loops_predicate.qke
  python/runtime/cudaq/algorithms/py_translate.cpp
  unittests/backends/quake_backend/FakeQuakeServerHelper.cpp
  unittests/backends/quake_backend/QuakeStartServerAndTest.sh.in
  unittests/backends/quake_backend/mock_server.py
  unittests/backends/quake_backend/quake_fake.yml
  unittests/backends/quake_backend/test_loop_app.cpp
  unittests/backends/quake_backend/test_loop_app.py
Due: none

Accept np.floor in Python kernels (#4785)
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_kernel_float.py
Due: none

[custom op] Drive unitary-synthesis with the dialect-conversion framework (#4751)
  cudaq/lib/Optimizer/Transforms/UnitarySynthesis.cpp
Due: none

[docs] Updated docs for `stim::ErrorAnalyzer::circuit_to_detector_error_model` flags in `dem_from_kernel` (#4795)
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/snippets/cpp/using/examples/dem/dem_from_kernel.cpp
  docs/sphinx/snippets/python/using/examples/dem/dem_from_kernel.py
  docs/sphinx/using/examples/dem_from_kernel.rst
  python/cudaq/runtime/dem.py
  runtime/common/ExecutionContext.h
Due: spellcheck-allowlist-sorted

Fix amplitude encoding `contrib` module to be compatible with GPU simulators (#4798)
  runtime/cudaq/algorithms/encoding.cpp
Due: none

Support trivial control flow in Mapping (#4733)
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
  cudaq/test/Transforms/mapping_errors.qke
  cudaq/test/Transforms/mapping_if.qke
  cudaq/test/Transforms/mapping_if_invariance.qke
Due: none

Reuse vector marshaling for struct marshaling (#4860)
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/tests/kernel/test_kernel_parameters.py
Due: none

[Python] Handle early `return` (#4864)
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_kernel_features.py
  python/tests/kernel/test_sample_kernel.py
Due: none

Qubit ordering problem on IQM backends #4621 (#4818)
  runtime/cudaq/platform/default/rest/helpers/iqm/IQMServerHelper.cpp
  unittests/backends/iqm/IQMTester.cpp
  utils/mock_qpu/iqm/__init__.py
Due: none

[runtime] Preserve measurement handles across nested JIT calls (#4861)
  python/tests/interop/quantum_lib/quantum_lib.cpp
  python/tests/interop/quantum_lib/quantum_lib.h
  python/tests/interop/test_cpp_quantum_algorithm_module.cpp
  python/tests/interop/test_interop.py
  runtime/internal/compiler/Compiler.cpp
  runtime/internal/compiler/JIT.cpp
  runtime/internal/compiler/include/cudaq_internal/compiler/JIT.h
  runtime/nvqir/dem/DemScope.cpp
Due: none

Docs preview for PR #4817.
  pr-4817/applications/python/skqd.html
  pr-4817/applications/python/skqd.md
  pr-4817/examples/python/performance_optimizations.html
  pr-4817/examples/python/performance_optimizations.md
  pr-4817/searchindex.js
Due: markdown-link-check
