Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

fixing race condition in evolve_async where it now clears the noise model before returning promise
  python/tests/dynamics/test_evolve_async_issue_3678.py
  python/tests/dynamics/test_evolve_simulators.py
  runtime/cudaq/algorithms/evolve_internal.h
Due: none

Fix seg fault in test_evolve_async (#4114)
  python/tests/dynamics/test_evolve_async_issue_3678.py
  python/tests/dynamics/test_evolve_simulators.py
  runtime/cudaq/algorithms/evolve_internal.h
Due: none

Docs preview for PR #4111.
  pr-4111/api/languages/python_api.html
  pr-4111/api/languages/python_api.md
  pr-4111/applications/python/adapt_qaoa.html
  pr-4111/applications/python/adapt_qaoa.md
  pr-4111/applications/python/adapt_vqe.html
  pr-4111/applications/python/adapt_vqe.md
  pr-4111/applications/python/deutsch_algorithm.html
  pr-4111/applications/python/deutsch_algorithm.md
  pr-4111/applications/python/edge_detection.html
  pr-4111/applications/python/edge_detection.md
  pr-4111/applications/python/grovers.html
  pr-4111/applications/python/grovers.md
  pr-4111/applications/python/qm_mm_pe.html
  pr-4111/applications/python/qm_mm_pe.md
  pr-4111/applications/python/quantum_fourier_transform.ipynb
  pr-4111/applications/python/quantum_teleportation.ipynb
  pr-4111/applications/python/quantum_transformer.html
  pr-4111/applications/python/quantum_transformer.md
  pr-4111/applications/python/skqd.html
  pr-4111/applications/python/skqd.md
  pr-4111/examples/python/performance_optimizations.html
  pr-4111/examples/python/performance_optimizations.md
  pr-4111/searchindex.js
Due: markdown-link-check

ghcr.io/nvidia/cuda-quantum-dev@sha256:aebb1d7a5dd203becd07cfe9855e974ff24b6ba19eea0a24e66f476642e4d936
  deployments/staging/cuda-quantum-dev/aebb1d7a5dd203becd07cfe9855e974ff24b6ba19eea0a24e66f476642e4d936
Due: none

ghcr.io/nvidia/cuda-quantum-dev@sha256:50201ca866b6d19967d994a7dde89418b8b85004e3fb056159257fe29c7d7b01
  deployments/staging/cuda-quantum-dev/50201ca866b6d19967d994a7dde89418b8b85004e3fb056159257fe29c7d7b01
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:1f28f2ced3d0c6876f0bf75d2f9f140a0e5249d97ff6c3248667396209c7f9bf
  deployments/staging/cuda-quantum-devdeps/1f28f2ced3d0c6876f0bf75d2f9f140a0e5249d97ff6c3248667396209c7f9bf
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:fe709e19dec202e322225b6b8721bd7282d605cdee29f58e65edb3bfa2e712b8
  deployments/staging/cuda-quantum-devdeps/fe709e19dec202e322225b6b8721bd7282d605cdee29f58e65edb3bfa2e712b8
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:aad409799884ab783a08caea56ea6247812c8d0fcebaa3e7ef4ac073ebd6b5b8
  deployments/staging/cuda-quantum-devdeps/aad409799884ab783a08caea56ea6247812c8d0fcebaa3e7ef4ac073ebd6b5b8
Due: none

ghcr.io/nvidia/cuda-quantum-devdeps-ci@sha256:243cde988c8e913a6be578d2077627895b09f035e4257669bfdf89686e99f19a
  deployments/staging/cuda-quantum-devdeps/243cde988c8e913a6be578d2077627895b09f035e4257669bfdf89686e99f19a
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:1aba76d2a3167bf175b063739002fa3cc7198fee70a76cb7913fcd8c9591bcfe
  deployments/staging/cuda-quantum-assets/1aba76d2a3167bf175b063739002fa3cc7198fee70a76cb7913fcd8c9591bcfe
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:4c66aea75f78d7ca4f83d842fbba6039e07d68d919ca3106f618901beb2fba9e
  deployments/staging/cuda-quantum-assets/4c66aea75f78d7ca4f83d842fbba6039e07d68d919ca3106f618901beb2fba9e
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:e2b09f462cc9133bfb1b68944e3eb27143b5dda3d3a3c7022140fefadf3122b3
  deployments/staging/cuda-quantum-assets/e2b09f462cc9133bfb1b68944e3eb27143b5dda3d3a3c7022140fefadf3122b3
Due: none

ghcr.io/nvidia/cuda-quantum-assets@sha256:b72b5e53019448dd301ab42423bbfbbd5a934fe4eb2a05a4edf24ac4285c4764
  deployments/staging/cuda-quantum-assets/b72b5e53019448dd301ab42423bbfbbd5a934fe4eb2a05a4edf24ac4285c4764
Due: none

Remove job timeouts from ci_macos to match main
  .github/workflows/ci_macos.yml
Due: none

Make sequential data an argument.
  .github/workflows/config/gitlab_commits.txt
  python/cudaq/runtime/ptsbe.py
  python/runtime/cudaq/algorithms/py_sample_ptsbe.cpp
  python/tests/ptsbe/test_sample.py
  runtime/cudaq/ptsbe/PTSBEOptions.h
  runtime/cudaq/ptsbe/PTSBESample.h
  runtime/cudaq/ptsbe/PTSBESampler.cpp
  runtime/cudaq/ptsbe/PTSBESampler.h
  unittests/ptsbe/PTSBESampleTester.cpp
Due: none

Update mgpu commit to pull in gpu prng fix attempt 1.
  .github/workflows/config/gitlab_commits.txt
Due: none

Fix string conversions for bitstring to conversions only for each unique.
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cpp
Due: none

Make returning sequential data optional in sample.
  runtime/cudaq/ptsbe/PTSBESampler.cpp
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/cudensitymat/CuDensityMatSim.cpp
  runtime/nvqir/custatevec/CuStateVecCircuitSimulator.cpp
  runtime/nvqir/cutensornet/simulator_cutensornet.h
  runtime/nvqir/cutensornet/simulator_cutensornet.inc
  runtime/nvqir/cutensornet/simulator_mps.h
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  runtime/nvqir/resourcecounter/ResourceCounter.h
  runtime/nvqir/stim/StimCircuitSimulator.cpp
Due: none

Update hash for trace.
  .github/workflows/config/gitlab_commits.txt
Due: none

Update hash.
  .github/workflows/config/gitlab_commits.txt
Due: none

Docs preview for PR #4111.
  pr-4111/api/languages/python_api.html
  pr-4111/api/languages/python_api.md
  pr-4111/applications/python/adapt_qaoa.html
  pr-4111/applications/python/adapt_qaoa.md
  pr-4111/applications/python/adapt_vqe.html
  pr-4111/applications/python/adapt_vqe.md
  pr-4111/applications/python/deutsch_algorithm.html
  pr-4111/applications/python/deutsch_algorithm.md
  pr-4111/applications/python/edge_detection.html
  pr-4111/applications/python/edge_detection.md
  pr-4111/applications/python/grovers.html
  pr-4111/applications/python/grovers.md
  pr-4111/applications/python/qm_mm_pe.html
  pr-4111/applications/python/qm_mm_pe.md
  pr-4111/applications/python/quantum_fourier_transform.html
  pr-4111/applications/python/quantum_fourier_transform.ipynb
  pr-4111/applications/python/quantum_fourier_transform.md
  pr-4111/applications/python/quantum_teleportation.ipynb
  pr-4111/applications/python/quantum_transformer.html
  pr-4111/applications/python/quantum_transformer.md
  pr-4111/applications/python/skqd.html
  pr-4111/applications/python/skqd.md
  pr-4111/examples/python/performance_optimizations.html
  pr-4111/examples/python/performance_optimizations.md
  pr-4111/searchindex.js
  pr-4111/using/install/data_center_install.html
  pr-4111/using/install/data_center_install.md
Due: markdown-link-check

Docs preview for PR #4090.
  pr-4090/api/languages/python_api.html
  pr-4090/api/languages/python_api.md
  pr-4090/applications/python/adapt_qaoa.html
  pr-4090/applications/python/adapt_qaoa.md
  pr-4090/applications/python/adapt_vqe.html
  pr-4090/applications/python/adapt_vqe.md
  pr-4090/applications/python/deutsch_algorithm.html
  pr-4090/applications/python/deutsch_algorithm.md
  pr-4090/applications/python/edge_detection.html
  pr-4090/applications/python/edge_detection.md
  pr-4090/applications/python/grovers.html
  pr-4090/applications/python/grovers.md
  pr-4090/applications/python/qm_mm_pe.html
  pr-4090/applications/python/qm_mm_pe.md
  pr-4090/applications/python/quantum_fourier_transform.html
  pr-4090/applications/python/quantum_fourier_transform.ipynb
  pr-4090/applications/python/quantum_fourier_transform.md
  pr-4090/applications/python/quantum_teleportation.ipynb
  pr-4090/applications/python/quantum_transformer.html
  pr-4090/applications/python/quantum_transformer.md
  pr-4090/applications/python/skqd.html
  pr-4090/applications/python/skqd.md
  pr-4090/examples/python/performance_optimizations.html
  pr-4090/examples/python/performance_optimizations.md
  pr-4090/searchindex.js
  pr-4090/using/install/data_center_install.html
  pr-4090/using/install/data_center_install.md
Due: markdown-link-check

Fix versioning bug in macos wheel generation.
  .github/workflows/ci_macos.yml
  .github/workflows/deployments.yml
Due: none

Add missing seed to ptsbe unit tests.
  unittests/ptsbe/PTSSamplingStrategyTester.cpp
Due: none

[PTSBE] Add missing seed to ptsbe unit tests (#4116)
  unittests/ptsbe/PTSSamplingStrategyTester.cpp
Due: none

Update to new setup
  .github/workflows/realtime_ci.yml
  realtime/unittests/utils/CMakeLists.txt
  realtime/unittests/utils/hololink_wrapper.cpp
Due: none

[ci] [tii] Fix environment variable
  .github/workflows/integration_tests.yml
Due: none

Clean up the docs
  .github/pre-commit/spelling_allowlist.txt
  realtime/docs/building.md
  realtime/docs/user_guide.md
  realtime/include/cudaq/realtime/daemon/bridge/hololink/hololink_doca_transport_ctx.h
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/scripts/demo.Dockerfile
  realtime/scripts/demo_docker.sh
Due: spellcheck-allowlist-sorted, markdown-link-check

Docs preview for PR #4093.
  pr-4093/api/languages/python_api.html
  pr-4093/api/languages/python_api.md
  pr-4093/applications/python/adapt_qaoa.html
  pr-4093/applications/python/adapt_qaoa.md
  pr-4093/applications/python/adapt_vqe.html
  pr-4093/applications/python/adapt_vqe.md
  pr-4093/applications/python/deutsch_algorithm.html
  pr-4093/applications/python/deutsch_algorithm.md
  pr-4093/applications/python/edge_detection.html
  pr-4093/applications/python/edge_detection.md
  pr-4093/applications/python/grovers.html
  pr-4093/applications/python/grovers.md
  pr-4093/applications/python/qm_mm_pe.html
  pr-4093/applications/python/qm_mm_pe.md
  pr-4093/applications/python/quantum_fourier_transform.html
  pr-4093/applications/python/quantum_fourier_transform.ipynb
  pr-4093/applications/python/quantum_fourier_transform.md
  pr-4093/applications/python/quantum_teleportation.ipynb
  pr-4093/applications/python/quantum_transformer.html
  pr-4093/applications/python/quantum_transformer.md
  pr-4093/applications/python/skqd.html
  pr-4093/applications/python/skqd.md
  pr-4093/examples/python/performance_optimizations.html
  pr-4093/examples/python/performance_optimizations.md
  pr-4093/searchindex.js
  pr-4093/using/install/data_center_install.html
  pr-4093/using/install/data_center_install.md
Due: markdown-link-check

Clean up the docs
  realtime/README.md
Due: markdown-link-check
