Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

preview/logical docs: restore workflow authoring pages (#19)
  preview/logical/docs/source/workflows/define-a-code.md
  preview/logical/docs/source/workflows/gadgets-and-verification.md
Due: markdown-link-check

preview/logical docs: restore estimation, CLI, and Stim-emission workflows
  preview/logical/docs/source/workflows/command-line-estimation.md
  preview/logical/docs/source/workflows/estimation.md
  preview/logical/docs/source/workflows/stim-emission.md
Due: markdown-link-check

human fixes
  .gitignore
  preview/logical/.gitignore
  preview/logical/README.md
  preview/logical/cmake/SetupCUDAQ.cmake
  preview/logical/docs/README.md
  preview/logical/docs/cudaq_logical_docs/__init__.py
  preview/logical/docs/pyproject.toml
  preview/logical/docs/source/developing.md
  preview/logical/docs/source/quickstart.md
  preview/logical/docs/source/reference/building-against-cudaq.md
  scripts/build_cudaq.sh
Due: markdown-link-check

preview/logical docs: restore reference, developing, and scope pages (#22)
  preview/logical/docs/source/capabilities.md
  preview/logical/docs/source/developing.md
  preview/logical/docs/source/for-stim-users.md
  preview/logical/docs/source/reference/building-against-cudaq.md
  preview/logical/docs/source/reference/index.md
Due: markdown-link-check

preview/logical docs: integration and polish (#5 part 10)
  preview/logical/README.md
  preview/logical/docs/source/architecture.md
  preview/logical/docs/source/concepts.md
  preview/logical/docs/source/example-gallery/index.md
  preview/logical/docs/source/index.md
  preview/logical/docs/source/quickstart.md
  preview/logical/docs/source/workflows/index.md
Due: markdown-link-check

more fixes
  .github/workflows/cudaq_logical_docs.yml
  preview/logical/docs/README.md
  preview/logical/docs/conftest.py
  preview/logical/docs/cudaq_logical_docs/__init__.py
  preview/logical/docs/pyproject.toml
  preview/logical/docs/source/concepts.md
  preview/logical/docs/source/developing.md
  preview/logical/docs/source/index.md
  preview/logical/docs/source/workflows/define-a-code.md
  preview/logical/docs/source/workflows/devices-and-placement.md
  preview/logical/docs/source/workflows/estimation.md
  preview/logical/docs/source/workflows/gadgets-and-verification.md
  preview/logical/docs/source/workflows/logical-synthesis.md
  preview/logical/docs/source/workflows/magic-states-and-protocols.md
  preview/logical/docs/source/workflows/stim-emission.md
Due: markdown-link-check

fix tests
  preview/logical/docs/conftest.py
  preview/logical/docs/source/workflows/devices-and-placement.md
  preview/logical/docs/source/workflows/estimation.md
  preview/logical/docs/source/workflows/stim-emission.md
  preview/logical/python/cudaq/logical/compiler/compile.py
Due: markdown-link-check

fixes
  .github/workflows/cudaq_logical_docs.yml
  preview/logical/docs/pyproject.toml
  preview/logical/docs/source/index.md
Due: markdown-link-check

move qlx -> ql prefix
  preview/logical/docs/conftest.py
  preview/logical/docs/source/_static/figures/patch-lifecycle.svg
  preview/logical/docs/source/architecture.md
  preview/logical/docs/source/capabilities.md
  preview/logical/docs/source/concepts.md
  preview/logical/docs/source/example-gallery/code-and-gadget.md
  preview/logical/docs/source/for-stim-users.md
  preview/logical/docs/source/quickstart.md
  preview/logical/docs/source/start/cudaq-logical-in-practice.md
  preview/logical/docs/source/start/how-cudaq-logical-refines-a-program.md
  preview/logical/docs/source/workflows/command-line-estimation.md
  preview/logical/docs/source/workflows/define-a-code.md
  preview/logical/docs/source/workflows/devices-and-placement.md
  preview/logical/docs/source/workflows/estimation.md
  preview/logical/docs/source/workflows/gadgets-and-verification.md
  preview/logical/docs/source/workflows/index.md
  preview/logical/docs/source/workflows/logical-synthesis.md
  preview/logical/docs/source/workflows/magic-states-and-protocols.md
  preview/logical/docs/source/workflows/stim-emission.md
  preview/logical/examples/01_p0_bell.py
  preview/logical/examples/02_p1_placement.py
  preview/logical/examples/03_code_and_gadget.py
  preview/logical/examples/04_distillation.py
Due: markdown-link-check

upload docs; remove development.md
  .github/workflows/cudaq_logical_docs.yml
  preview/logical/docs/source/developing.md
  preview/logical/docs/source/reference/index.md
Due: markdown-link-check

license, format
  preview/logical/docs/Makefile
  preview/logical/docs/conftest.py
  preview/logical/docs/cudaq_logical_docs/__init__.py
  preview/logical/docs/pyproject.toml
  preview/logical/docs/source/workflows/magic-states-and-protocols.md
Due: markdown-link-check

Docs update triggered by deployment on head branch main, commit 00536511e91775ca829e4fa816663e1618edb185.
  latest/applications/python/skqd.html
  latest/applications/python/skqd.md
  latest/examples/python/performance_optimizations.html
  latest/examples/python/performance_optimizations.md
  latest/searchindex.js
  latest/sphinx/using/extending/compiler/mlir_pass.rst
Due: markdown-link-check

revert python version requirement change
  preview/logical/docs/pyproject.toml
Due: none

big trim
  preview/logical/docs/source/_static/figures/dialect-map.svg
  preview/logical/docs/source/capabilities.md
  preview/logical/docs/source/example-gallery/bell-p0.md
  preview/logical/docs/source/example-gallery/cli-workflows.md
  preview/logical/docs/source/example-gallery/clifford-t.md
  preview/logical/docs/source/example-gallery/code-and-gadget.md
  preview/logical/docs/source/example-gallery/cudaq-resource-estimate.md
  preview/logical/docs/source/example-gallery/distillation.md
  preview/logical/docs/source/example-gallery/fermi-hubbard.md
  preview/logical/docs/source/example-gallery/gidney-ekera.md
  preview/logical/docs/source/example-gallery/index.md
  preview/logical/docs/source/example-gallery/p1-placement.md
  preview/logical/docs/source/examples.md
  preview/logical/docs/source/for-stim-users.md
  preview/logical/docs/source/getting-started/concepts.md
  preview/logical/docs/source/getting-started/cudaq-logical-in-practice.md
  preview/logical/docs/source/getting-started/how-cudaq-logical-refines-a-program.md
  preview/logical/docs/source/getting-started/quickstart.md
  preview/logical/docs/source/index.md
  preview/logical/docs/source/reference/architecture.md
  preview/logical/docs/source/reference/capabilities.md
  preview/logical/docs/source/reference/for-stim-users.md
  preview/logical/docs/source/reference/index.md
  preview/logical/docs/source/start/cudaq-logical-in-practice.md
  preview/logical/docs/source/start/how-cudaq-logical-refines-a-program.md
  preview/logical/docs/source/start/index.md
  preview/logical/docs/source/use-cases/define-a-code.md
  preview/logical/docs/source/use-cases/devices-and-placement.md
  preview/logical/docs/source/use-cases/estimation.md
  preview/logical/docs/source/use-cases/examples.md
  preview/logical/docs/source/use-cases/gadgets-and-verification.md
  preview/logical/docs/source/use-cases/logical-synthesis.md
  preview/logical/docs/source/use-cases/magic-states-and-protocols.md
  preview/logical/docs/source/use-cases/stim-emission.md
  preview/logical/docs/source/workflows/command-line-estimation.md
  preview/logical/docs/source/workflows/index.md
  preview/logical/docs/source/workflows/stim-emission.md
Due: markdown-link-check

maaany spelling fixes
  .github/pre-commit/spelling_allowlist.txt
  preview/logical/README.md
  preview/logical/docs/conftest.py
  preview/logical/docs/source/conf.py
  preview/logical/docs/source/getting-started/concepts.md
  preview/logical/docs/source/getting-started/cudaq-logical-in-practice.md
  preview/logical/docs/source/getting-started/how-cudaq-logical-refines-a-program.md
  preview/logical/docs/source/getting-started/quickstart.md
  preview/logical/docs/source/index.md
  preview/logical/docs/source/reference/building-against-cudaq.md
  preview/logical/docs/source/reference/capabilities.md
  preview/logical/docs/source/reference/for-stim-users.md
  preview/logical/docs/source/use-cases/define-a-code.md
  preview/logical/docs/source/use-cases/devices-and-placement.md
  preview/logical/docs/source/use-cases/estimation.md
  preview/logical/docs/source/use-cases/gadgets-and-verification.md
  preview/logical/docs/source/use-cases/logical-synthesis.md
  preview/logical/docs/source/use-cases/magic-states-and-protocols.md
  preview/logical/docs/source/use-cases/stim-emission.md
Due: spellcheck-allowlist-sorted, markdown-link-check

fix sort
  .github/pre-commit/spelling_allowlist.txt
Due: spellcheck-allowlist-sorted

more fixes
  preview/logical/docs/source/use-cases/devices-and-placement.md
  preview/logical/docs/source/use-cases/magic-states-and-protocols.md
Due: markdown-link-check

more fixes
  preview/logical/docs/source/getting-started/cudaq-logical-in-practice.md
  preview/logical/docs/source/reference/for-stim-users.md
  preview/logical/docs/source/use-cases/estimation.md
  preview/logical/docs/source/use-cases/stim-emission.md
Due: markdown-link-check

moved examples
  preview/logical/docs/source/getting-started/concepts.md
  preview/logical/docs/source/getting-started/cudaq-logical-in-practice.md
  preview/logical/docs/source/getting-started/how-cudaq-logical-refines-a-program.md
  preview/logical/docs/source/getting-started/quickstart.md
  preview/logical/docs/source/index.md
  preview/logical/docs/source/use-cases/define-a-code.md
  preview/logical/docs/source/use-cases/devices-and-placement.md
  preview/logical/docs/source/use-cases/examples.md
  preview/logical/docs/source/use-cases/examples/clifford-t.md
  preview/logical/docs/source/use-cases/examples/code-and-gadget.md
  preview/logical/docs/source/use-cases/examples/cudaq-resource-estimate.md
  preview/logical/docs/source/use-cases/examples/distillation.md
  preview/logical/docs/source/use-cases/examples/fermi-hubbard.md
  preview/logical/docs/source/use-cases/examples/gidney-ekera.md
  preview/logical/docs/source/use-cases/examples/index.md
  preview/logical/docs/source/use-cases/examples/p0-bell.md
  preview/logical/docs/source/use-cases/examples/p1-placement.md
  preview/logical/docs/source/use-cases/gadgets-and-verification.md
  preview/logical/docs/source/use-cases/logical-synthesis.md
  preview/logical/docs/source/use-cases/magic-states-and-protocols.md
Due: markdown-link-check

one more set of changes
  .github/workflows/cudaq_logical_docs.yml
  preview/logical/docs/source/getting-started/quickstart.md
  preview/logical/docs/source/index.md
Due: markdown-link-check

[NFC] Rename operation to better reflect its evolved semantics.
  cudaq/include/cudaq/Optimizer/CodeGen/Passes.td
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  cudaq/include/cudaq/Optimizer/Dialect/Traits.td
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/CodeGen/CMakeLists.txt
  cudaq/lib/Optimizer/CodeGen/ConvertToQIRAPI.cpp
  cudaq/lib/Optimizer/CodeGen/EraseCGEvince.cpp
  cudaq/lib/Optimizer/CodeGen/Pipelines.cpp
  cudaq/lib/Optimizer/CodeGen/ReturnToOutputLog.cpp
  cudaq/lib/Optimizer/CodeGen/WireSetsToProfileQIR.cpp
  cudaq/lib/Optimizer/Dialect/Quake/CanonicalPatterns.inc
  cudaq/lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  cudaq/lib/Optimizer/Transforms/GenKernelExecution.cpp
  cudaq/lib/Optimizer/Transforms/InjectImplicitOutput.cpp
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
  cudaq/lib/Optimizer/Transforms/MemToReg.cpp
  cudaq/lib/Optimizer/Transforms/RegToMem.cpp
  cudaq/lib/Optimizer/Transforms/ResetBeforeReuse.cpp
  cudaq/test/NVQPP/run_vector_return.cpp
  cudaq/test/Transforms/aot_run_vector_copy.qke
  cudaq/test/Transforms/atomic_quantum_region_codegen.qke
  cudaq/test/Transforms/erase_vcc_with_scope.qke
  cudaq/test/Transforms/inject_implicit_output.qke
  cudaq/test/Transforms/inject_implicit_output_erase.qke
  cudaq/test/Transforms/mapping_measurement_composable.qke
  cudaq/test/Transforms/mapping_run_entry.qke
  cudaq/test/Transforms/memtoreg-10.qke
  cudaq/test/Transforms/memtoreg-4.qke
  cudaq/test/Transforms/memtoreg-9.qke
  cudaq/test/Transforms/run_semantics_hackery.qke
  cudaq/test/Transforms/scoped_qalloc.qke
  cudaq/test/Transforms/sroa.qke
  cudaq/test/Transforms/veq0_canonicalize.qke
  python/tests/mlir/bug_1777.py
  runtime/cudaq/platform/default/rest/helpers/quantum_machines/QuantumMachinesServerHelper.cpp
  unittests/nvqpp/backends/quantum_machines/QuantumMachinesTester.cpp
Due: none

tests: label the device-call ODR regression test as realtime
  runtime/internal/device_call/CMakeLists.txt
Due: none

clang-format and review comments.
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  cudaq/lib/Optimizer/Transforms/InjectImplicitOutput.cpp
  cudaq/lib/Optimizer/Transforms/MemToReg.cpp
  cudaq/lib/Optimizer/Transforms/RegToMem.cpp
Due: none

[python] Reject kernels whose only return is inside a dynamic-bound loop
  python/cudaq/kernel/analysis.py
  python/tests/kernel/test_run_kernel.py
Due: none

More review comments.
  cudaq/lib/Optimizer/Dialect/Quake/CanonicalPatterns.inc
  cudaq/lib/Optimizer/Transforms/InjectImplicitOutput.cpp
Due: none

adding runnable rotation-synthesis snippet
  docs/CMakeLists.txt
  docs/sphinx/snippets/python/using/examples/synthesis/rotation_synthesis.py
Due: none

Allow the IonQ API key to be passed as a target argument
  docs/sphinx/using/backends/hardware/iontrap.rst
  runtime/cudaq/platform/default/rest/helpers/ionq/IonQServerHelper.cpp
  runtime/cudaq/platform/default/rest/helpers/ionq/ionq.yml
  unittests/nvqpp/backends/ionq/CMakeLists.txt
  unittests/nvqpp/backends/ionq/IonQStartServerAndTest.sh.in
Due: none

adding rotation synthesis user guide
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/using/examples/examples.rst
  docs/sphinx/using/examples/rotation_synthesis.rst
Due: spellcheck-allowlist-sorted

documenting cudaq.synth in the Python API reference
  docs/sphinx/api/languages/python_api.rst
Due: none

[core] Modernize the quake operator class (#5364)
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeInterfaces.td
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  cudaq/include/cudaq/Optimizer/Dialect/Traits.td
  cudaq/lib/Optimizer/Dialect/Quake/CanonicalPatterns.inc
  cudaq/lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  cudaq/lib/Optimizer/Transforms/DecompositionPatterns.cpp
  cudaq/lib/Optimizer/Transforms/PhaseFolding.cpp
Due: none

[c++ bridge] Fix bridge lowering of cudaq::range and add better tests. (#5355)
  cudaq/include/cudaq/Frontend/nvqpp/ASTBridge.h
  cudaq/lib/Frontend/nvqpp/ConvertStmt.cpp
  cudaq/lib/Optimizer/Builder/Intrinsics.cpp
  cudaq/test/AST-Quake/range_for_break_continue.cpp
  cudaq/test/AST-Quake/ranged_for.cpp
  targettests/execution/cudaq_range_step.cpp
Due: none

[core] Remove the unnecessary linear type repair pass. (#5352)
  cudaq/lib/Optimizer/Transforms/Pipelines.cpp
Due: none

reframing rotation synthesis guide and documenting CliffordTSequence
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/snippets/python/using/examples/synthesis/rotation_synthesis.py
  docs/sphinx/using/examples/rotation_synthesis.rst
Due: spellcheck-allowlist-sorted

Better support references to kernel decorators in Python bridge
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_kernel_features.py
Due: none

Add untracked files
  cudaq/lib/Optimizer/Transforms/AddRegionMoves.cpp
  cudaq/lib/Optimizer/Transforms/AssignSubcircuitRegions.cpp
  cudaq/lib/Optimizer/Transforms/IntroduceRegions.cpp
  cudaq/test/Transforms/mapping_run_control_flow.qke
  cudaq/test/Transforms/mapping_run_scope.qke
Due: none

fixing false license compliance failures on macOS
  scripts/validate_license_compliance.sh
Due: none

[NFC] Rename operation to better reflect its evolved semantics. (#5368)
  cudaq/include/cudaq/Optimizer/CodeGen/Passes.td
  cudaq/include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  cudaq/include/cudaq/Optimizer/Dialect/Traits.td
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/CodeGen/CMakeLists.txt
  cudaq/lib/Optimizer/CodeGen/ConvertToQIRAPI.cpp
  cudaq/lib/Optimizer/CodeGen/EraseCGEvince.cpp
  cudaq/lib/Optimizer/CodeGen/Pipelines.cpp
  cudaq/lib/Optimizer/CodeGen/ReturnToOutputLog.cpp
  cudaq/lib/Optimizer/CodeGen/WireSetsToProfileQIR.cpp
  cudaq/lib/Optimizer/Dialect/Quake/CanonicalPatterns.inc
  cudaq/lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  cudaq/lib/Optimizer/Transforms/GenKernelExecution.cpp
  cudaq/lib/Optimizer/Transforms/InjectImplicitOutput.cpp
  cudaq/lib/Optimizer/Transforms/Mapping.cpp
  cudaq/lib/Optimizer/Transforms/MemToReg.cpp
  cudaq/lib/Optimizer/Transforms/RegToMem.cpp
  cudaq/lib/Optimizer/Transforms/ResetBeforeReuse.cpp
  cudaq/test/NVQPP/run_vector_return.cpp
  cudaq/test/Transforms/aot_run_vector_copy.qke
  cudaq/test/Transforms/atomic_quantum_region_codegen.qke
  cudaq/test/Transforms/erase_vcc_with_scope.qke
  cudaq/test/Transforms/inject_implicit_output.qke
  cudaq/test/Transforms/inject_implicit_output_erase.qke
  cudaq/test/Transforms/mapping_measurement_composable.qke
  cudaq/test/Transforms/mapping_run_entry.qke
  cudaq/test/Transforms/memtoreg-10.qke
  cudaq/test/Transforms/memtoreg-4.qke
  cudaq/test/Transforms/memtoreg-9.qke
  cudaq/test/Transforms/run_semantics_hackery.qke
  cudaq/test/Transforms/scoped_qalloc.qke
  cudaq/test/Transforms/sroa.qke
  cudaq/test/Transforms/veq0_canonicalize.qke
  python/tests/mlir/bug_1777.py
  runtime/cudaq/platform/default/rest/helpers/quantum_machines/QuantumMachinesServerHelper.cpp
  unittests/nvqpp/backends/quantum_machines/QuantumMachinesTester.cpp
Due: none

[cleanup] Avoid copying mutable control vectors unnecessarily (#5365)
  cudaq/lib/Optimizer/Transforms/LowerPhase.cpp
Due: none

[Transformation] Allow expansion of negative controlled `phase` op (#5363)
  cudaq/lib/Optimizer/Transforms/ExpandControlNegations.cpp
  cudaq/test/Transforms/expand_control_negations.qke
  cudaq/test/Translate/phase_lifecycle.qke
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
