Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

Docs preview for PR #4293.
  pr-4293/CMakeLists.txt
  pr-4293/api/languages/python_api.html
  pr-4293/api/languages/python_api.md
  pr-4293/applications/python/adapt_qaoa.html
  pr-4293/applications/python/adapt_qaoa.md
  pr-4293/applications/python/adapt_vqe.html
  pr-4293/applications/python/adapt_vqe.md
  pr-4293/applications/python/deutsch_algorithm.html
  pr-4293/applications/python/deutsch_algorithm.md
  pr-4293/applications/python/edge_detection.html
  pr-4293/applications/python/edge_detection.md
  pr-4293/applications/python/grovers.html
  pr-4293/applications/python/grovers.md
  pr-4293/applications/python/qm_mm_pe.html
  pr-4293/applications/python/qm_mm_pe.md
  pr-4293/applications/python/quantum_fourier_transform.html
  pr-4293/applications/python/quantum_fourier_transform.ipynb
  pr-4293/applications/python/quantum_fourier_transform.md
  pr-4293/applications/python/skqd.html
  pr-4293/applications/python/skqd.md
  pr-4293/examples/python/performance_optimizations.html
  pr-4293/examples/python/performance_optimizations.md
  pr-4293/searchindex.js
Due: markdown-link-check

Docs preview for PR #4241.
  pr-4241/api/languages/python_api.html
  pr-4241/api/languages/python_api.md
  pr-4241/applications/python/adapt_qaoa.html
  pr-4241/applications/python/adapt_qaoa.md
  pr-4241/applications/python/adapt_vqe.html
  pr-4241/applications/python/adapt_vqe.md
  pr-4241/applications/python/deutsch_algorithm.html
  pr-4241/applications/python/deutsch_algorithm.md
  pr-4241/applications/python/edge_detection.html
  pr-4241/applications/python/edge_detection.md
  pr-4241/applications/python/grovers.html
  pr-4241/applications/python/grovers.md
  pr-4241/applications/python/qm_mm_pe.html
  pr-4241/applications/python/qm_mm_pe.md
  pr-4241/applications/python/quantum_fourier_transform.html
  pr-4241/applications/python/quantum_fourier_transform.ipynb
  pr-4241/applications/python/quantum_fourier_transform.md
  pr-4241/applications/python/skqd.html
  pr-4241/applications/python/skqd.md
  pr-4241/examples/python/performance_optimizations.html
  pr-4241/examples/python/performance_optimizations.md
  pr-4241/searchindex.js
Due: markdown-link-check

Fixing error by lazily importing nvqir_dynamics_bindings (#4298)
  python/cudaq/dynamics/integrators/builtin_integrators.py
Due: none

[core] Use less electric terms.
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  lib/Optimizer/Dialect/Quake/QuakeOps.cpp
  test/Transforms/roundtrip-ops.qke
Due: none

Docs preview for PR #4247.
  pr-4247/api/languages/python_api.html
  pr-4247/api/languages/python_api.md
  pr-4247/applications/python/adapt_qaoa.html
  pr-4247/applications/python/adapt_qaoa.md
  pr-4247/applications/python/adapt_vqe.html
  pr-4247/applications/python/adapt_vqe.md
  pr-4247/applications/python/deutsch_algorithm.html
  pr-4247/applications/python/deutsch_algorithm.md
  pr-4247/applications/python/edge_detection.html
  pr-4247/applications/python/edge_detection.md
  pr-4247/applications/python/grovers.html
  pr-4247/applications/python/grovers.md
  pr-4247/applications/python/qm_mm_pe.html
  pr-4247/applications/python/qm_mm_pe.md
  pr-4247/applications/python/quantum_fourier_transform.html
  pr-4247/applications/python/quantum_fourier_transform.ipynb
  pr-4247/applications/python/quantum_fourier_transform.md
  pr-4247/applications/python/skqd.html
  pr-4247/applications/python/skqd.md
  pr-4247/examples/python/performance_optimizations.html
  pr-4247/examples/python/performance_optimizations.md
  pr-4247/searchindex.js
Due: markdown-link-check

Docs preview for PR #4280.
  pr-4280/CMakeLists.txt
  pr-4280/api/languages/cpp_api.html
  pr-4280/api/languages/cpp_api.md
  pr-4280/api/languages/python_api.html
  pr-4280/api/languages/python_api.md
  pr-4280/applications/python/adapt_qaoa.html
  pr-4280/applications/python/adapt_qaoa.md
  pr-4280/applications/python/adapt_vqe.html
  pr-4280/applications/python/adapt_vqe.md
  pr-4280/applications/python/deutsch_algorithm.html
  pr-4280/applications/python/deutsch_algorithm.md
  pr-4280/applications/python/edge_detection.html
  pr-4280/applications/python/edge_detection.md
  pr-4280/applications/python/grovers.html
  pr-4280/applications/python/grovers.md
  pr-4280/applications/python/qm_mm_pe.html
  pr-4280/applications/python/qm_mm_pe.md
  pr-4280/applications/python/quantum_fourier_transform.html
  pr-4280/applications/python/quantum_fourier_transform.ipynb
  pr-4280/applications/python/quantum_fourier_transform.md
  pr-4280/applications/python/skqd.html
  pr-4280/applications/python/skqd.md
  pr-4280/examples/python/performance_optimizations.html
  pr-4280/examples/python/performance_optimizations.md
  pr-4280/objects.inv
  pr-4280/searchindex.js
Due: markdown-link-check

Switch circuit-opt-bench to CZ basis to match Benchpress config.
  python/tests/backends/test_circuit_opt_bench.py
  runtime/cudaq/platform/default/circuit-opt-bench.yml
Due: none

Use the new name of the type in the error messages.
  lib/Optimizer/Dialect/Quake/QuakeOps.cpp
Due: none

Docs preview for PR #4284.
  pr-4284/api/languages/python_api.html
  pr-4284/api/languages/python_api.md
  pr-4284/applications/python/adapt_qaoa.html
  pr-4284/applications/python/adapt_qaoa.md
  pr-4284/applications/python/adapt_vqe.html
  pr-4284/applications/python/adapt_vqe.md
  pr-4284/applications/python/deutsch_algorithm.html
  pr-4284/applications/python/deutsch_algorithm.md
  pr-4284/applications/python/edge_detection.html
  pr-4284/applications/python/edge_detection.md
  pr-4284/applications/python/grovers.html
  pr-4284/applications/python/grovers.md
  pr-4284/applications/python/qm_mm_pe.html
  pr-4284/applications/python/qm_mm_pe.md
  pr-4284/applications/python/quantum_fourier_transform.html
  pr-4284/applications/python/quantum_fourier_transform.ipynb
  pr-4284/applications/python/quantum_fourier_transform.md
  pr-4284/applications/python/skqd.html
  pr-4284/applications/python/skqd.md
  pr-4284/examples/python/performance_optimizations.html
  pr-4284/examples/python/performance_optimizations.md
  pr-4284/searchindex.js
Due: markdown-link-check

Address PR 4241 review: restructure threading, restore CCX test, remove arities.
  .github/pre-commit/spelling_allowlist.txt
  lib/Optimizer/Transforms/ResourceCount.cpp
  python/runtime/common/py_Resources.cpp
  python/tests/builder/test_resource_metrics.py
  runtime/common/Resources.h
Due: spellcheck-allowlist-sorted

Add support for logging dynamic result vectors
  include/cudaq/Optimizer/CodeGen/QIRFunctionNames.h
  lib/Optimizer/Builder/Intrinsics.cpp
  lib/Optimizer/CodeGen/ReturnToOutputLog.cpp
  python/tests/kernel/test_kernel_shadowing.py
  python/tests/kernel/test_run_async_kernel.py
  python/tests/kernel/test_run_kernel.py
  runtime/common/ExecutionContext.cpp
  runtime/nvqir/NVQIR.cpp
  test/AST-Quake/cudaq_run.cpp
Due: none

Formatting
  include/cudaq/Optimizer/Builder/Marshal.h
  lib/Optimizer/Builder/Marshal.cpp
  python/runtime/cudaq/platform/py_alt_launch_kernel.cpp
  python/tests/kernel/test_reuse_compiler.py
  runtime/common/CompiledKernel.h
  runtime/common/ExecutionContext.h
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

[docs] [fix] Incorrect tag in C++ `run` example
  docs/sphinx/using/examples/measuring_kernels.rst
Due: none

Docs preview for PR #4247.
  pr-4247/api/languages/python_api.html
  pr-4247/api/languages/python_api.md
  pr-4247/applications/python/adapt_qaoa.html
  pr-4247/applications/python/adapt_qaoa.md
  pr-4247/applications/python/adapt_vqe.html
  pr-4247/applications/python/adapt_vqe.md
  pr-4247/applications/python/deutsch_algorithm.html
  pr-4247/applications/python/deutsch_algorithm.md
  pr-4247/applications/python/edge_detection.html
  pr-4247/applications/python/edge_detection.md
  pr-4247/applications/python/grovers.html
  pr-4247/applications/python/grovers.md
  pr-4247/applications/python/qm_mm_pe.html
  pr-4247/applications/python/qm_mm_pe.md
  pr-4247/applications/python/quantum_fourier_transform.html
  pr-4247/applications/python/quantum_fourier_transform.ipynb
  pr-4247/applications/python/quantum_fourier_transform.md
  pr-4247/applications/python/skqd.html
  pr-4247/applications/python/skqd.md
  pr-4247/examples/python/performance_optimizations.html
  pr-4247/examples/python/performance_optimizations.md
  pr-4247/notebook_validation.py
  pr-4247/searchindex.js
Due: markdown-link-check

Docs preview for PR #4265.
  pr-4265/CMakeLists.txt
  pr-4265/api/languages/python_api.html
  pr-4265/api/languages/python_api.md
  pr-4265/applications/python/adapt_qaoa.html
  pr-4265/applications/python/adapt_qaoa.md
  pr-4265/applications/python/adapt_vqe.html
  pr-4265/applications/python/adapt_vqe.md
  pr-4265/applications/python/deutsch_algorithm.html
  pr-4265/applications/python/deutsch_algorithm.md
  pr-4265/applications/python/edge_detection.html
  pr-4265/applications/python/edge_detection.md
  pr-4265/applications/python/grovers.html
  pr-4265/applications/python/grovers.md
  pr-4265/applications/python/qm_mm_pe.html
  pr-4265/applications/python/qm_mm_pe.md
  pr-4265/applications/python/quantum_fourier_transform.html
  pr-4265/applications/python/quantum_fourier_transform.ipynb
  pr-4265/applications/python/quantum_fourier_transform.md
  pr-4265/applications/python/skqd.html
  pr-4265/applications/python/skqd.md
  pr-4265/examples/python/performance_optimizations.html
  pr-4265/examples/python/performance_optimizations.md
  pr-4265/searchindex.js
Due: markdown-link-check

yapf
  python/cudaq/kernel/ast_bridge.py
Due: none

Add unitary_compilation_diffusion_models to long running list.
  docs/notebook_validation.py
Due: none

Revert #3860 and implement a correct fix.
  lib/Optimizer/Transforms/ApplyOpSpecialization.cpp
  test/Transforms/apply_ctrl_veq_type.qke
Due: none

Fix bug.
  python/cudaq/kernel/ast_bridge.py
Due: none

Remove align
  test/AST-Quake/qalloc_initialization.cpp
Due: none

[CUDA-Q model] Use cudaq::state when dealing with state.
  include/cudaq/Optimizer/Dialect/CC/CCOps.td
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  lib/Optimizer/Dialect/CC/CCOps.cpp
  lib/Optimizer/Transforms/AddMeasurements.cpp
  lib/Optimizer/Transforms/GlobalizeArrayValues.cpp
  lib/Optimizer/Transforms/LiftArrayAllocPatterns.inc
  lib/Optimizer/Transforms/StatePreparation.cpp
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/kernel_builder.py
  runtime/cudaq/builder/kernel_builder.cpp
  runtime/cudaq/platform/qpu_state.h
  runtime/cudaq/qis/qudit.h
  runtime/cudaq/qis/qvector.h
  test/AST-Quake/qalloc_initialization.cpp
  test/AST-Quake/veq_size_init_state.cpp
  test/Transforms/state_prep.qke
  test/Translate/init_state.cpp
Due: none

disable krylov.ipynb for a moment.
  docs/notebook_validation.py
Due: none

Remove name mangling distinctions.
  test/AST-Quake/qalloc_initialization.cpp
Due: none

[CUDA-Q model] Use cudaq::state when dealing with state. (#4247)
  docs/notebook_validation.py
  include/cudaq/Optimizer/Dialect/CC/CCOps.td
  include/cudaq/Optimizer/Dialect/Quake/QuakeOps.td
  lib/Optimizer/Dialect/CC/CCOps.cpp
  lib/Optimizer/Transforms/AddMeasurements.cpp
  lib/Optimizer/Transforms/ApplyOpSpecialization.cpp
  lib/Optimizer/Transforms/GlobalizeArrayValues.cpp
  lib/Optimizer/Transforms/LiftArrayAllocPatterns.inc
  lib/Optimizer/Transforms/StatePreparation.cpp
  python/cudaq/kernel/ast_bridge.py
  python/cudaq/kernel/kernel_builder.py
  runtime/cudaq/builder/kernel_builder.cpp
  runtime/cudaq/platform/qpu_state.h
  runtime/cudaq/qis/qudit.h
  runtime/cudaq/qis/qvector.h
  test/AST-Quake/qalloc_initialization.cpp
  test/AST-Quake/veq_size_init_state.cpp
  test/Transforms/apply_ctrl_veq_type.qke
  test/Transforms/state_prep.qke
  test/Translate/init_state.cpp
Due: none

Add support for dynamic sized vector results in run for full QIR
  include/cudaq/Optimizer/CodeGen/Passes.td
  include/cudaq/Optimizer/CodeGen/QIRFunctionNames.h
  lib/Optimizer/Builder/Intrinsics.cpp
  lib/Optimizer/CodeGen/Pipelines.cpp
  lib/Optimizer/CodeGen/ReturnToOutputLog.cpp
  runtime/nvqir/NVQIR.cpp
  targettests/execution/cudaq_run_dynamic_result.cpp
  test/AST-Quake/cudaq_run.cpp
Due: none

Fix test case
  targettests/execution/cudaq_run_dynamic_result.cpp
Due: none

Only copy when overwriting args
  runtime/cudaq/platform/default/python/QPU.cpp
Due: none

Docs preview for PR #4275.
  pr-4275/CMakeLists.txt
  pr-4275/api/languages/cpp_api.html
  pr-4275/api/languages/cpp_api.md
  pr-4275/api/languages/python_api.html
  pr-4275/api/languages/python_api.md
  pr-4275/applications/python/adapt_qaoa.html
  pr-4275/applications/python/adapt_qaoa.md
  pr-4275/applications/python/adapt_vqe.html
  pr-4275/applications/python/adapt_vqe.md
  pr-4275/applications/python/deutsch_algorithm.html
  pr-4275/applications/python/deutsch_algorithm.md
  pr-4275/applications/python/edge_detection.html
  pr-4275/applications/python/edge_detection.md
  pr-4275/applications/python/grovers.html
  pr-4275/applications/python/grovers.md
  pr-4275/applications/python/qm_mm_pe.html
  pr-4275/applications/python/qm_mm_pe.md
  pr-4275/applications/python/quantum_fourier_transform.html
  pr-4275/applications/python/quantum_fourier_transform.ipynb
  pr-4275/applications/python/quantum_fourier_transform.md
  pr-4275/applications/python/skqd.html
  pr-4275/applications/python/skqd.md
  pr-4275/examples/python/performance_optimizations.html
  pr-4275/examples/python/performance_optimizations.md
  pr-4275/objects.inv
  pr-4275/searchindex.js
Due: markdown-link-check

Docs preview for PR #3800.
  pr-3800/CMakeLists.txt
  pr-3800/api/languages/python_api.html
  pr-3800/api/languages/python_api.md
  pr-3800/applications/python/adapt_qaoa.html
  pr-3800/applications/python/adapt_qaoa.md
  pr-3800/applications/python/adapt_vqe.html
  pr-3800/applications/python/adapt_vqe.md
  pr-3800/applications/python/deutsch_algorithm.html
  pr-3800/applications/python/deutsch_algorithm.md
  pr-3800/applications/python/edge_detection.html
  pr-3800/applications/python/edge_detection.md
  pr-3800/applications/python/grovers.html
  pr-3800/applications/python/grovers.md
  pr-3800/applications/python/qm_mm_pe.html
  pr-3800/applications/python/qm_mm_pe.md
  pr-3800/applications/python/quantum_fourier_transform.html
  pr-3800/applications/python/quantum_fourier_transform.ipynb
  pr-3800/applications/python/quantum_fourier_transform.md
  pr-3800/applications/python/skqd.html
  pr-3800/applications/python/skqd.md
  pr-3800/examples/python/performance_optimizations.html
  pr-3800/examples/python/performance_optimizations.md
  pr-3800/searchindex.js
Due: markdown-link-check

Docs preview for PR #4265.
  pr-4265/api/languages/python_api.html
  pr-4265/api/languages/python_api.md
  pr-4265/applications/python/adapt_qaoa.html
  pr-4265/applications/python/adapt_qaoa.md
  pr-4265/applications/python/adapt_vqe.html
  pr-4265/applications/python/adapt_vqe.md
  pr-4265/applications/python/deutsch_algorithm.html
  pr-4265/applications/python/deutsch_algorithm.md
  pr-4265/applications/python/edge_detection.html
  pr-4265/applications/python/edge_detection.md
  pr-4265/applications/python/grovers.html
  pr-4265/applications/python/grovers.md
  pr-4265/applications/python/qm_mm_pe.html
  pr-4265/applications/python/qm_mm_pe.md
  pr-4265/applications/python/quantum_fourier_transform.html
  pr-4265/applications/python/quantum_fourier_transform.ipynb
  pr-4265/applications/python/quantum_fourier_transform.md
  pr-4265/applications/python/skqd.html
  pr-4265/applications/python/skqd.md
  pr-4265/examples/python/performance_optimizations.html
  pr-4265/examples/python/performance_optimizations.md
  pr-4265/searchindex.js
Due: markdown-link-check

[docs] [fix] Incorrect tag in C++ `run` example (#4302)
  docs/sphinx/using/examples/measuring_kernels.rst
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
