Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

Fixing relative paths for cudaq-logical docs (#5474)
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  preview/logical/docs/source/index.md
Due: markdown-link-check

Update .github/workflows/validation.yml
  .github/workflows/validation.yml
Due: none

Address comments
  cudaq/include/cudaq/Target/TargetPluginLibrary.h
  cudaq/lib/CMakeLists.txt
  cudaq/lib/Target/TargetDatabase.cpp
  cudaq/lib/Target/TargetPluginLibrary.cpp
  cudaq/lib/Targets/CMakeLists.txt
  cudaq/lib/Targets/README.md
  cudaq/tools/cudaq-target-db-gen/CMakeLists.txt
  cudaq/tools/cudaq-target-db-gen/cudaq-target-db-gen.cpp
  cudaq/tools/cudaq-target-resolve/cudaq-target-resolve.cpp
  docs/sphinx/using/extending/packaging.rst
  python/utils/LinkedLibraryHolder.cpp
  python/utils/LinkedLibraryHolder.h
Due: markdown-link-check

Set up CMake
  LICENSES/LICENSE.ctre
  LICENSES/LICENSE.enchantum
  LICENSES/LICENSE.reflect-cpp
  LICENSES/LICENSE.yaml-cpp
  LICENSES/README.md
  NOTICE
  cmake/modules/AddCUDAQ.cmake
  cmake/modules/CUDAQCommonConfig.cmake
  cudaq/lib/Target/CMakeLists.txt
  cudaq/lib/Target/Yaml/CMakeLists.txt
  cudaq/lib/Target/cmake/CUDAQTargetCatalogConfig.cmake.in
  cudaq/lib/Target/cmake/FetchDependencies.cmake
  cudaq/lib/Target/cmake/TargetDatabase.cmake
Due: markdown-link-check

minor aesthetic fixes
  LICENSES/README.md
  cudaq/lib/Target/TargetRuntimeArgs.cpp
  cudaq/lib/Target/Yaml/TargetConfigSchema.h
  cudaq/lib/Target/tools/cudaq-target-db-gen/CMakeLists.txt
Due: markdown-link-check

Add tests
  cudaq/lib/Target/test/CMakeLists.txt
  cudaq/lib/Target/test/TargetCatalogTestDriver.cpp
  cudaq/lib/Target/test/argument-types.yml
  cudaq/lib/Target/test/backend-full.yml
  cudaq/lib/Target/test/backend.yml
  cudaq/lib/Target/test/defaults.yml
  cudaq/lib/Target/test/feature-flags.yml
  cudaq/lib/Target/test/feature-matrix.yml
  cudaq/lib/Target/test/generator.test
  cudaq/lib/Target/test/invalid.yml
  cudaq/lib/Target/test/lit.cfg.py
  cudaq/lib/Target/test/lit.site.cfg.py.in
  cudaq/lib/Target/test/machine-config.yml
  cudaq/lib/Target/test/plugin-root.yml
  cudaq/lib/Target/test/scalars.yml
  cudaq/lib/Target/test/version.yml
  unittests/target_config/CMakeLists.txt
  unittests/target_config/TargetConfigTester.cpp
Due: none

Migrate YAML parsing from LLVM to reflect-cpp
  cudaq/include/cudaq/Target/TargetConfig.h
  cudaq/lib/Target/TargetCatalog.cpp
  cudaq/lib/Target/TargetConfig.cpp
  cudaq/lib/Target/TargetConfigHelper.h
  cudaq/lib/Target/TargetRuntimeArgs.cpp
  cudaq/lib/Target/Yaml/TargetConfigSchema.cpp
  cudaq/lib/Target/Yaml/TargetConfigSchema.h
  cudaq/lib/Target/Yaml/TargetConfigYaml.cpp
  cudaq/lib/Target/Yaml/TargetConfigYaml.h
  cudaq/lib/Target/Yaml/TargetConfigYamlAdapters.h
  cudaq/lib/Target/Yaml/v1/TargetConfigV1.cpp
  cudaq/lib/Target/Yaml/v1/TargetConfigV1.h
  cudaq/lib/Target/tools/cudaq-target-db-gen/CMakeLists.txt
  cudaq/lib/Target/tools/cudaq-target-db-gen/cudaq-target-db-gen.cpp
  cudaq/tools/CMakeLists.txt
  cudaq/tools/cudaq-opt/CMakeLists.txt
  cudaq/tools/cudaq-target-resolve/CMakeLists.txt
  cudaq/tools/cudaq-target-resolve/cudaq-target-resolve.cpp
  docs/sphinx/examples/plugins/mock_rest/CMakeLists.txt
  python/extension/CMakeLists.txt
  python/utils/LinkedLibraryHolder.cpp
  runtime/common/CMakeLists.txt
  runtime/common/CompileTarget.cpp
  runtime/cudaq/CMakeLists.txt
  runtime/cudaq/platform/default/CMakeLists.txt
  runtime/cudaq/platform/mqpu/CMakeLists.txt
  runtime/internal/compiler/CMakeLists.txt
Due: none

spell fixes
  LICENSES/README.md
Due: markdown-link-check

test fix
  cmake/modules/NVQIRTargetConfigGen.cmake
  cudaq/lib/Target/test/generator.test
Due: none

defer lit tests in assets.Dockerfile
  docker/build/assets.Dockerfile
Due: none

Support persisted jobs without a REST helper
  runtime/common/Future.cpp
  runtime/common/Future.h
Due: none

Apply target passes after observe splitting
  runtime/common/CompileTarget.cpp
  runtime/common/CompileTarget.h
  runtime/internal/compiler/Compiler.cpp
Due: none

Add an optional QDMI target
  CMakeLists.txt
  runtime/cudaq/platform/CMakeLists.txt
  runtime/cudaq/platform/qdmi/CMakeLists.txt
  runtime/cudaq/platform/qdmi/QDMIQPU.cpp
  runtime/cudaq/platform/qdmi/QDMIQPU.h
  runtime/cudaq/platform/qdmi/qdmi.yml.in
Due: none

Document the QDMI target
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/using/backends/hardware.rst
  docs/sphinx/using/backends/qdmi.rst
Due: spellcheck-allowlist-sorted

Simplify the QDMI runtime integration
  .github/workflows/ci.yml
  .github/workflows/test_in_devenv.yml
  docker/build/cudaq.dev.Dockerfile
  docs/sphinx/using/backends/qdmi.rst
  runtime/common/Future.cpp
  runtime/common/Future.h
  runtime/cudaq/platform/qdmi/QDMIQPU.cpp
  runtime/cudaq/platform/qdmi/QDMIQPU.h
  targettests/qdmi/program_formats.cpp
Due: none

Test the QDMI target with MQT devices
  .github/workflows/ci.yml
  .github/workflows/test_in_devenv.yml
  docker/build/cudaq.dev.Dockerfile
  targettests/CMakeLists.txt
  targettests/lit.site.cfg.py.in
  targettests/qdmi/persisted_unsupported.cpp
  targettests/qdmi/program_formats.cpp
  targettests/qdmi/runtime_results.cpp
  targettests/qdmi/unsupported_device.cpp
Due: none

Fix QDMI runtime target integration
  docs/sphinx/using/backends/qdmi.rst
  runtime/cudaq/platform/qdmi/CMakeLists.txt
  runtime/cudaq/platform/qdmi/QDMIQPU.cpp
  runtime/cudaq/platform/qdmi/qdmi.yml.in
  targettests/qdmi/persisted_unsupported.cpp
  targettests/qdmi/python_runtime.config
  targettests/qdmi/runtime_results.cpp
Due: none

fix merge conflict
  cudaq/lib/Target/tools/cudaq-target-db-gen/cudaq-target-db-gen.cpp
Due: none

Applied clang-format change
  runtime/cudaq/platform/default/rest/helpers/iqm/IQMServerHelper.cpp
Due: none

Update QDMI compatibility and reuse IQM integration tests
  .github/workflows/ci.yml
  .github/workflows/docker_images.yml
  .github/workflows/integration_tests.yml
  docker/build/cudaq.dev.Dockerfile
  docs/sphinx/using/backends/qdmi.rst
  python/tests/backends/test_IQM.py
  python/tests/utils/mock_qpu/iqm/__init__.py
  runtime/cudaq/platform/qdmi/CMakeLists.txt
  runtime/cudaq/platform/qdmi/QDMIQPU.cpp
  runtime/cudaq/platform/qdmi/QDMIQPU.h
  targettests/lit.site.cfg.py.in
  targettests/qdmi/runtime_results.cpp
Due: none

Resolve the naming collision issue.
  cudaq/lib/Target/Yaml/TargetConfigYaml.cpp
  cudaq/test/Driver/target_pass_pipeline_naming.cpp
  cudaq/tools/cudaq-opt/cudaq-opt.cpp
  unittests/target_config/TargetConfigTester.cpp
Due: none

clang-format off the rails
  cudaq/test/Driver/target_pass_pipeline_naming.cpp
Due: none

Restore the build-time targets -> target sanity checks.
  cmake/modules/AddCUDAQ.cmake
Due: none

updating cuquantum to 26.09.0 and cutensor to 2.8.1
  docker/build/devcontainer.Dockerfile
  pyproject.toml.cu12
  pyproject.toml.cu13
  scripts/configure_build.sh
Due: none

Gate cudaq.logical CI on actual preview-folder changes
  .github/workflows/cudaq_logical_on_push.yml
Due: none

fix: reject measurement in controlled kernels
  cudaq/lib/Optimizer/Transforms/ApplyOpSpecialization.cpp
  cudaq/test/Optimizer/control_measurement.qke
  python/tests/mlir/control.py
Due: none

Moving RoCE transport dependencies out of the unified kernel dispatcher
  realtime/docs/cudaq_realtime_host_api.md
  realtime/include/cudaq/realtime/daemon/dispatcher/cudaq_realtime.h
  realtime/include/cudaq/realtime/daemon/dispatcher/unified_device_transport.cuh
  realtime/include/cudaq/realtime/gpu_roce_bridge_common.h
  realtime/lib/cpu_transport/CMakeLists.txt
  realtime/lib/daemon/CMakeLists.txt
  realtime/lib/daemon/bridge/gpu_roce/CMakeLists.txt
  realtime/lib/daemon/bridge/gpu_roce/bridge_impl.cpp
  realtime/lib/daemon/bridge/gpu_roce/gpu_roce_unified_transport.cu
  realtime/lib/daemon/bridge/gpu_roce/unified_dispatch_kernel.cu
  realtime/lib/daemon/dispatcher/cudaq_realtime_api.cpp
  realtime/lib/daemon/dispatcher/unified_dispatch_kernel.cu
  realtime/unittests/bridge_interface/gpu_roce/gpu_roce_bridge.cpp
  realtime/unittests/cpu_transport/hsb_test_cpu.sh
  realtime/unittests/utils/gpu_roce_test.sh
Due: markdown-link-check

Fix clang-format's little red wagon.
  targettests/execution/estimate_resources_tracer.cpp
  targettests/execution/phase_estimation.cpp
  targettests/execution/state_init_err_runtime.cpp
Due: none

Set up CMake
  LICENSES/LICENSE.ctre
  LICENSES/LICENSE.enchantum
  LICENSES/LICENSE.reflect-cpp
  LICENSES/LICENSE.yaml-cpp
  LICENSES/README.md
  NOTICE
  cmake/modules/CUDAQCommonConfig.cmake
  cudaq/lib/Target/CMakeLists.txt
  cudaq/lib/Target/Yaml/CMakeLists.txt
  cudaq/lib/Target/cmake/CUDAQTargetCatalogConfig.cmake.in
  cudaq/lib/Target/cmake/FetchDependencies.cmake
  cudaq/lib/Target/cmake/TargetDatabase.cmake
Due: markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
