Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/

formatting
  python/cudaq/synth/__init__.py
  python/runtime/synth/py_synth.cpp
Due: none

fixing spelling
  python/cudaq/synth/__init__.py
Due: none

removed the CUDAQ_HAS_CLIFFORD_T_SYNTHESIS usage
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
Due: none

updating the text for below-threshold rotation
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
Due: none

adding a TODO for a global phase
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
Due: none

adding intent for addCliffordTSynthesis
  cudaq/include/cudaq/Optimizer/Transforms/Passes.h
Due: none

signalling pass failure on hard angle errors
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

adding a TODO for a global phase
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

applying LLVM standard for the free functions
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

rejecting adjoint rotations as a hard error
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

fixing spelling
  cudaq/include/cudaq/Optimizer/Transforms/Passes.h
Due: none

adding a TODO comment explaining no path to force Rz only gateset today
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

formatting
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

adding a comment explaining the derivation
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

adding save/restore global MPFR precision
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

adding a TODO for negligible rotation pruning
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

trimming unit tests to numerical coverage and adding lit tests
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
  cudaq/test/Transforms/CliffordTSynthesis/adjoint_error.qke
  cudaq/test/Transforms/CliffordTSynthesis/dedup.qke
  cudaq/test/Transforms/CliffordTSynthesis/value_semantics_error.qke
  cudaq/unittests/Optimizer/CliffordTSynthesisTester.cpp
Due: none

validating options and saturating timeout shifts
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

adding value semantics support for the clifford-t-synthesis pass which now handles both memory and value semantics
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

adding a full pipeline lit test fault_tolerant_target_pipeline.qke
  cudaq/test/Transforms/CliffordTSynthesis/fault_tolerant_target_pipeline.qke
  cudaq/test/Transforms/CliffordTSynthesis/value_semantics.qke
  cudaq/test/Transforms/CliffordTSynthesis/value_semantics_error.qke
Due: none

avoiding redundant MPFR/ring work in gridsynth inner loop
  cudaq/lib/Synthesis/Synthesis/Gridsynth.cpp
Due: none

computing conj(z) * z once and reusing it
  cudaq/lib/Synthesis/Synthesis/Gridsynth.cpp
Due: none

extracting negligible rotation pruning into a standalone pass
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/CMakeLists.txt
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
  cudaq/lib/Optimizer/Transforms/PruneNegligibleRotations.cpp
  cudaq/test/Transforms/prune_negligible_rotations.qke
Due: none

adding RxToRz and RyToRz decomposition patterns
  cudaq/lib/Optimizer/Transforms/DecompositionPatterns.cpp
  cudaq/test/Transforms/DecompositionPatterns/RxToRz.qke
  cudaq/test/Transforms/DecompositionPatterns/RyToRz.qke
Due: none

making clifford-t-synthesis Rz only by reducing Rx/Ry/R1 upstream
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
  cudaq/lib/Optimizer/Transforms/Pipelines.cpp
  cudaq/test/Transforms/CliffordTSynthesis/fault_tolerant_target_pipeline.qke
  cudaq/test/Transforms/CliffordTSynthesis/rx_ry_basic.qke
  cudaq/unittests/Optimizer/CliffordTSynthesisTester.cpp
Due: none

bump mgpu commit (#4947)
  .github/workflows/config/gitlab_commits.txt
Due: none

docs: mark compiler IRs as technical text
  .github/pre-commit/spelling_allowlist.txt
  docs/sphinx/using/extending/compiler/cudaq_ir.rst
Due: spellcheck-allowlist-sorted

skills: restore standard evaluation image modes
  skills/develop-cudaq-pass/SKILL.md
  skills/develop-cudaq-pass/evals/config.yml
Due: markdown-link-check

skills: clarify pass boundaries and reporting
  skills/develop-cudaq-pass/SKILL.md
Due: markdown-link-check

docs: rewrite compiler pass contributor guide
  cudaq/include/cudaq/Optimizer/CodeGen/CMakeLists.txt
  cudaq/include/cudaq/Optimizer/CodeGen/Passes.td
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  docs/sphinx/conf.py
  docs/sphinx/specification/quake-dialect.md
  docs/sphinx/using/extending/compiler/available_passes.md
  docs/sphinx/using/extending/compiler/cudaq_ir.rst
  docs/sphinx/using/extending/compiler/index.rst
  docs/sphinx/using/extending/compiler/mlir_pass.rst
  docs/sphinx/using/extending/compiler/pass_plugins.rst
  scripts/build_docs.sh
Due: markdown-link-check

skills: simplify pass skill introduction
  skills/develop-cudaq-pass/SKILL.md
Due: markdown-link-check

skills: add CUDA-Q pass development skill
  skills/develop-cudaq-pass/SKILL.md
  skills/develop-cudaq-pass/references/source-map.md
Due: markdown-link-check

skills: add external pass editing pilot
  skills/develop-cudaq-pass/evals/EVAL.md
  skills/develop-cudaq-pass/evals/config.yml
  skills/develop-cudaq-pass/evals/evals.json
Due: markdown-link-check

skills: use default sandbox resources for pass evaluation
  skills/develop-cudaq-pass/evals/config.yml
Due: none

skills: trim pass evaluation notes
  skills/develop-cudaq-pass/evals/EVAL.md
Due: markdown-link-check

skills: allow single-attempt Tier 3 validation
  skills/develop-cudaq-pass/evals/config.yml
Due: none

skills: simplify pass eval grading guidance
  skills/develop-cudaq-pass/evals/EVAL.md
Due: markdown-link-check

skills: address pass development review
  skills/develop-cudaq-pass/SKILL.md
  skills/develop-cudaq-pass/references/source-map.md
Due: markdown-link-check
