Repository NVIDIA/cuda-quantum: changes, and which pre-commit hooks are due for each by the changed paths.
All: spellcheck-allowlist-sorted, markdown-link-check

spellcheck-allowlist-sorted:
  name: Spell check - Verify allowlists are sorted
  entry: bash scripts/pre-commit/check_allowlist_sorted.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

markdown-link-check:
  name: Check links in Markdown files
  entry: bash scripts/pre-commit/check_markdown_links.sh
  language: system
  pass_filenames: true
  stages:
  - pre-push

[ci] Publish cudaq-logical docs within cudaq
  .github/pre-commit/spellcheck_config.yml
  .github/workflows/docker_images.yml
  .github/workflows/documentation.yml
  docs/sphinx/index.rst
  preview/logical/docs/source/index.md
Due: markdown-link-check

Logical docs review
  preview/logical/docs/README.md
  preview/logical/docs/conftest.py
  preview/logical/docs/source/_static/figures/patch-lifecycle.svg
  preview/logical/docs/source/getting-started/concepts.md
  preview/logical/docs/source/getting-started/cudaq-logical-in-practice.md
  preview/logical/docs/source/getting-started/quickstart.md
  preview/logical/docs/source/reference/architecture.md
  preview/logical/docs/source/reference/capabilities.md
  preview/logical/docs/source/reference/for-stim-users.md
  preview/logical/docs/source/use-cases/define-a-code.md
  preview/logical/docs/source/use-cases/devices-and-placement.md
  preview/logical/docs/source/use-cases/estimation.md
  preview/logical/docs/source/use-cases/gadgets-and-verification.md
  preview/logical/docs/source/use-cases/logical-synthesis.md
  preview/logical/docs/source/use-cases/magic-states-and-protocols.md
  preview/logical/docs/source/use-cases/stim-emission.md
  preview/logical/examples/mlir/README.md
  preview/logical/examples/mlir/stim_steane_memory.mlir
  preview/logical/python/tests/cudaq/logical/test_compilation_context.py
  preview/logical/python/tests/cudaq/logical/test_cudaq_logical.py
  preview/logical/python/tests/cudaq/logical/test_estimate.py
  preview/logical/python/tests/cudaq/logical/test_experiments.py
  preview/logical/python/tests/cudaq/logical/test_linearity.py
  preview/logical/python/tests/cudaq/logical/test_p2_record_boundaries.py
  preview/logical/python/tests/cudaq/logical/test_p3_schedule_allocations.py
  preview/logical/python/tests/cudaq/logical/test_quake_import.py
  preview/logical/python/tests/cudaq/logical/test_to_pbc.py
  preview/logical/python/tests/cudaq/logical/test_typed_factory_produce.py
  preview/logical/python/tests/cudaq/logical/test_verify_pbc.py
Due: markdown-link-check

ok-ish solution for the version issue
  .github/workflows/documentation.yml
  docs/sphinx/index.rst
  preview/logical/docs/source/index.md
Due: markdown-link-check

spelling
  .github/pre-commit/spelling_allowlist.txt
Due: spellcheck-allowlist-sorted

Expand cudaq-logical docs and add to deployment (#5427)
  .github/pre-commit/spellcheck_config.yml
  .github/pre-commit/spelling_allowlist.txt
  .github/workflows/docker_images.yml
  .github/workflows/documentation.yml
  docs/sphinx/index.rst
  preview/logical/docs/README.md
  preview/logical/docs/conftest.py
  preview/logical/docs/source/_static/figures/patch-lifecycle.svg
  preview/logical/docs/source/getting-started/concepts.md
  preview/logical/docs/source/getting-started/cudaq-logical-in-practice.md
  preview/logical/docs/source/getting-started/quickstart.md
  preview/logical/docs/source/index.md
  preview/logical/docs/source/reference/architecture.md
  preview/logical/docs/source/reference/capabilities.md
  preview/logical/docs/source/reference/for-stim-users.md
  preview/logical/docs/source/use-cases/define-a-code.md
  preview/logical/docs/source/use-cases/devices-and-placement.md
  preview/logical/docs/source/use-cases/estimation.md
  preview/logical/docs/source/use-cases/gadgets-and-verification.md
  preview/logical/docs/source/use-cases/logical-synthesis.md
  preview/logical/docs/source/use-cases/magic-states-and-protocols.md
  preview/logical/docs/source/use-cases/stim-emission.md
  preview/logical/examples/mlir/README.md
  preview/logical/examples/mlir/stim_steane_memory.mlir
  preview/logical/python/tests/cudaq/logical/test_compilation_context.py
  preview/logical/python/tests/cudaq/logical/test_cudaq_logical.py
  preview/logical/python/tests/cudaq/logical/test_estimate.py
  preview/logical/python/tests/cudaq/logical/test_experiments.py
  preview/logical/python/tests/cudaq/logical/test_linearity.py
  preview/logical/python/tests/cudaq/logical/test_p2_record_boundaries.py
  preview/logical/python/tests/cudaq/logical/test_p3_schedule_allocations.py
  preview/logical/python/tests/cudaq/logical/test_quake_import.py
  preview/logical/python/tests/cudaq/logical/test_to_pbc.py
  preview/logical/python/tests/cudaq/logical/test_typed_factory_produce.py
  preview/logical/python/tests/cudaq/logical/test_verify_pbc.py
Due: spellcheck-allowlist-sorted, markdown-link-check

[docs] fix typo
  docs/sphinx/index.rst
Due: none

add instructions to download devel wheel
  preview/logical/docs/source/reference/building-against-cudaq.md
Due: markdown-link-check

Add preview directory creation for logical docs
  .github/workflows/documentation.yml
Due: none

debugging echoes for documentation workflow
  .github/workflows/documentation.yml
Due: none

Undoing prior change
  .github/workflows/documentation.yml
Due: none

[docs] fix typo (#5428)
  docs/sphinx/index.rst
  preview/logical/docs/source/reference/building-against-cudaq.md
Due: markdown-link-check

Adding 0.16.0 to the list of releases
  docs/sphinx/releases.rst
Due: none

Adding 0.16.0 to the list of releases (#5429)
  docs/sphinx/releases.rst
Due: none

Remove RemoteCapabilities and launchVQE
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/specification/cudaq/platform.rst
  runtime/cudaq/algorithms/vqe.h
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
  runtime/cudaq/remote_capabilities.h
  unittests/common/QuantumPlatformTester.cpp
Due: none

Remove quantum_platform::{get_num_qubits, connectivity}
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/specification/cudaq/platform.rst
  runtime/common/CompileTarget.h
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
  unittests/common/QuantumPlatformTester.cpp
Due: none

clarifying where the clifford+t synthesis seed comes from
  cudaq/include/cudaq/Optimizer/Transforms/Passes.h
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
Due: none

formatting
  preview/logical/python/README.md
Due: markdown-link-check

Using the cudaq random seed in clifford+t synthesis (#5417)
  cudaq/include/cudaq/Optimizer/Transforms/Passes.h
  cudaq/include/cudaq/Optimizer/Transforms/Passes.td
  cudaq/lib/Optimizer/Transforms/CliffordTSynthesis.cpp
  cudaq/lib/Optimizer/Transforms/Pipelines.cpp
  cudaq/test/Optimizer/CliffordTSynthesis/seed_reproducible.qke
  cudaq/test/Optimizer/CliffordTSynthesis/seed_reproducible_pipeline.qke
  python/extension/CUDAQuantumExtension.cpp
  python/tests/backends/test_compiler_bench_ftqc_clifford_t.py
  runtime/cudaq.h
  runtime/cudaq/platform/default/compiler-bench-ftqc-clifford-t.yml
  runtime/cudaq/platform/quantum_platform.cpp
Due: none

adjusting for API change
  preview/logical/ir/lib/Conversion/QuakeToQLX/QuakeToQLX.cpp
Due: none

[python core] Remove special patterns and other fragile changes
  cudaq/lib/Optimizer/Transforms/Pipelines.cpp
  cudaq/lib/Optimizer/Transforms/VariableCoalesce.cpp
  cudaq/test/Optimizer/apply-8.qke
  cudaq/test/Optimizer/coalesce.qke
  python/cudaq/kernel/ast_bridge.py
  python/tests/kernel/test_assignments.py
  python/tests/mlir/bug_1775.py
  python/tests/mlir/bug_1777.py
  python/tests/mlir/bug_1875.py
  python/tests/mlir/qec_ops.py
Due: none

Workarond spelling handcuffs.
  python/cudaq/kernel/ast_bridge.py
Due: none

Remove RemoteCapabilities and launchVQE (#5430)
  docs/sphinx/api/languages/cpp_api.rst
  docs/sphinx/specification/cudaq/platform.rst
  runtime/cudaq/algorithms/vqe.h
  runtime/cudaq/platform/qpu.h
  runtime/cudaq/platform/quantum_platform.cpp
  runtime/cudaq/platform/quantum_platform.h
  runtime/cudaq/remote_capabilities.h
  unittests/common/QuantumPlatformTester.cpp
Due: none

Add an opt-in Hololink CPU RoCE backend behind the frozen C ABI.
  .github/pre-commit/spelling_allowlist.txt
  realtime/CMakeLists.txt
  realtime/cmake/cudaq-realtime-config.cmake.in
  realtime/docs/building.md
  realtime/lib/cpu_transport/CMakeLists.txt
  realtime/lib/cpu_transport/roce_wrapper_hololink.cpp
  realtime/scripts/build_realtime.sh
  realtime/scripts/deps_common.sh
  realtime/unittests/cpu_transport/CMakeLists.txt
  realtime/unittests/cpu_transport/test_cpu_roce_hololink_wrapper.cpp
Due: spellcheck-allowlist-sorted, markdown-link-check

accept versioned libraries in auditwheel exclude
  .github/workflows/cudaq_logical_build.yml
Due: none

don't version the soname for python CAPI library
  cudaq/python/CMakeLists.txt
Due: none

Revert "accept versioned libraries in auditwheel exclude"
  .github/workflows/cudaq_logical_build.yml
Due: none

simplify comment
  cudaq/python/CMakeLists.txt
Due: none

Update test case with deferred allocation
  unittests/backends/CuStateVecMpiTester.cpp
Due: none

Defer qubit allocations in simulators to be performed in batches (#5419)
  runtime/nvqir/CircuitSimulator.h
  runtime/nvqir/custatevec/CuStateVecCircuitSimulatorEx.h
  runtime/nvqir/custatevec/CuStateVecMpiCircuitSimulator.h
  runtime/nvqir/cutensornet/simulator_cutensornet.inc
  runtime/nvqir/cutensornet/simulator_mps.h
  runtime/nvqir/cutensornet/simulator_tensornet.h
  runtime/nvqir/qpp/QppCircuitSimulator.cpp
  runtime/nvqir/qpp/QppDMCircuitSimulator.cpp
  runtime/nvqir/stim/StimCircuitSimulator.cpp
  unittests/backends/CuStateVecMpiTester.cpp
Due: none

Updates to supported quake instructions for P0 conversion
  preview/logical/ir/lib/Conversion/QuakeToQLX/QuakeToQLX.cpp
  preview/logical/test/Conversion/QuakeToQLX/errors.mlir
Due: none

Path conditions:
  spellcheck-allowlist-sorted: any of: ^\.github/pre-commit/spelling_allowlist.*\.txt$, but not: ^tpls/
  markdown-link-check: any of: \.(md|markdown|mdown)$, but not: ^tpls/
